{% comment %}
This feature grabs an item from a JSON Feed object.
Uses 1.1 spec at this point, with an additional "thumbnail" item.
https://jsonfeed.org/version/1.1

Set up for the Harvester at the moment. Can be abstracted more for lib-static type application (if we think it's ok)

{%- endcomment -%}
<div class="row">

    <div class="col-md-8 text-center">
        <figure class="figure mx-3">
            <a id="blog-link" href="">
                <img id="blog-image" class="img-fluid rounded lazyload" alt="{{ figure.title | escape }}"
                    src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E"
                    data-src="">
            </a>
        </figure>
    </div>
    <div class="col-md-4">
        <a class="h4 mt-3" id="caption-cover" href=""></a>
        <p id="content" class="mt-3"></p>
    </div>

    <div class="col-12 text-center">
        <div class="my-3">

            <a class="btn btn-lg btn-outline-primary" href="https://harvestser.lib.uidaho.edu/">Go to Blog</a></div>
    </div>
</div>

<script>

    var proxyurl = "https://cors-anywhere.herokuapp.com/";
    var url = 'https://harvester.lib.uidaho.edu/feed.json';; // site that doesn’t send Access-Control-*

    fetch(proxyurl + url) // https://cors-anywhere.herokuapp.com/https://example.com
        .then(function (response) {
            return response.text();
        })
        .then(function (data) {
            append(data);
        })
        .catch(function (err) {
            console.log('error: ' + err);
        });
    function append(data) {
        var obj = JSON.parse(data);
        var fig = document.getElementById("blog-image");
        var cap = document.getElementById("caption-cover");
        var figlink = document.getElementById("blog-link");
        var content = document.getElementById("content");

        fig.src = obj.items[0].thumbnail;
        cap.innerHTML = obj.items[0].title;
        cap.href = obj.items[0].url;
        content.innerHTML = obj.items[0].content_html;

    };






</script>