{% unless f.title contains 'seed' %}<div class="row my-4 p-4 border bg light" id="{{f.fellowid}}">
    <h4>{% if f.link %}<a href="{{f.link}}">{{f.title}}</a>{% else %}{{f.title}}{% endif %}</h4>

    <div class="col-md-12 my-2">
        <p><b>Deadline:</b> {{f.deadline}}</p>
        <p><b>Who is Eligible:</b> {{f.eligible}}</p>
        <p><b>Fellowship Amount:</b>{% if f.amount.size > 5 %} {{f.amount}}{% else %} ${{f.amount}}{% endif %} </p>
        <p class="my-3">{{f.description}}</p>
        <a class="btn btn-outline-pride-gold float-right" href="{{f.link}}" alt="link to {{f.title}}">More Information & Application Instructions</a>

    </div>
    
</div>{% endunless %}