{% comment %}
    
    Lazyloaded item figure 
    This include adds a figure to the page styled using bootstrap, https://getbootstrap.com/docs/4.5/content/figures/
    It requires a link to the image file used in the "data-src" attribute
    It requires the page to have Lazyload added (put lazyload: true in front matter)

    E.G. --> {% include feature/figure.html img="https://www.lib.uidaho.edu/media/spec/collections/oldadmin.jpg" alt="old admin building" %}

    Options:
    - "img" = link to image file.  
    - "alt" = alt text for image
    - "width" = will use responsive sizing to set the % size on desktop (will be 100% on mobile), choose from "25", "50", "75", or "100"
    - "caption" = the caption option allows you to manually add a caption
    - "float" = will use responsive float utility to add float on desktop (will not float on mobile), choose from "left" or "right"
    - "border" = use "true" to add a rounded border

{%- endcomment -%}
<div class="text-center mt-4 mb-5">
    <figure class="figure mx-3{% if include.float %} float-{{ include.float }}{% endif %}{% if include.width %} w-{{ include.width }}{% endif %}{% if include.border == true %} border rounded{% endif %}">
        <img class="figure-img img-fluid rounded lazyload" alt="{{ figure.alt | escape }}" data-src="{{ include.img }}" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E">
        {% if include.caption %}<figcaption class="figure-caption">{{ include.caption }}</figcaption>{% endif %}
    </figure>
</div>
