{% comment %}
    
    Item figure.
    This include adds a figure to the page styled using bootstrap, https://getbootstrap.com/docs/4.5/content/figures/
    It requires a "filename" with the include.
    If multiple filenames are included (separated by ; ), they will be added to a "col-md" in a row which will automatically divided equally.

    E.G. --> {% include feature/item-figure.html filename="barrels.png" location="spec/images" alt="barrels collection" caption="A caption about barrels" %}

    Options:
    - "filename" = one or more filenames (including extension), separated by semicolon ;  
    - "location" = path to image
    - "alt" = value for alt attribute - provides alternate information (such as a title) for an image if the user cannot view it
    - "width" = will use responsive sizing to set the % size on desktop (will be 100% on mobile), choose from "25", "50", "75", or "100"
    - "caption" = by default the figure include automatically adds the title of the item from your metadata. The caption option allows you to manually add a different caption, or give the value false for none.
    - "float" = will use responsive float utility to add float on desktop (will not float on mobile), choose from "left" or "right"

{%- endcomment -%}
{%- assign figures = include.filename | split: ";" %}
<div class="row">
    {% for i in figures %}
    <div class="col-md text-center">
        <figure class="figure mx-3{% if include.float %} feature-float-{{ include.float }}{% endif %}{% if include.width %} w-{{ include.width }}{% endif %}">
            <img class="figure-img img-fluid rounded lazyload" alt="{{ include.alt | escape }}" data-src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" src="{{ site.lib-media }}{{ include.location | prepend: '/' }}{{ include.filename | prepend: '/' }}" >
            {% unless include.caption == false %}<figcaption class="figure-caption">{% if include.caption %}{{ include.caption }}{% endif %}</figcaption>{% endunless %}
        </figure>
    </div>
    {% endfor %}
</div>
