--- 
title: Articles 
section: Find 
permalink: /find/articles.html 
layout: page 
---
{% include js/primosearch.js %}
<p class="mt-3">Looking for articles, book chapters, conference proceedings, or other research materials?  <a href="https://libguides.uidaho.edu/az.php">Databases</a> are the best place to search. Here are some frequently used databases that cover a range of topics:</p>

<p class="text-center">
    <a href="https://uidaho.idm.oclc.org/login?url=http://search.ebscohost.com/login.asp?profile=ehost&amp;defaultdb=aph&amp;defaultdb=f5h&amp;defaultdb=ufh" class="btn btn-outline-pride-gold my-2" id="featured3" target="_blank" rel="noopener">Academic Search Premier</a>
    <a href="https://uidaho.idm.oclc.org/login?url=http://www.jstor.org/" class="btn btn-outline-pride-gold my-2" id="featured1" target="_blank" rel="noopener">JSTOR</a>
    <a href="https://uidaho.idm.oclc.org/login?url=http://www.sciencedirect.com" class="btn btn-outline-pride-gold my-2" id="featured2" target="_blank" rel="noopener">Science Direct</a>
    <a href="https://uidaho.idm.oclc.org/login?url=http://isiknowledge.com/WOS" class="btn btn-outline-pride-gold my-2" id="featured4" target="_blank" rel="noopener">Web of Science</a>
</p>

<p>The library provides over 200 databases, including many discipline-specific options. Find them by title or subject below:</p>

<p class="text-center">
   
    <a href="https://libguides.uidaho.edu/az.php" class="btn btn-clearwater text-center mb-2" target="_blank" rel="noopener">
        <span class="fas fa-list"></span> Databases by Title</a> <br/>
        <!--<a href="#" class="btn  btn-sm text-center mb-2" role="button" data-toggle="modal" data-target="#databases">
            <span class="fas fa-database"></span> List All Databases</a>-->
</p>

<hr >

<h4>Databases by Subject:</h4>

<div class="row indent">
    <ul class="col-md-4 offset-md-0 col-11 offset-1">
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=73420" target="_blank" rel="noopener">Agriculture/Food Science</a>
        </li>
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=73417" target="_blank" rel="noopener">Art & Architecture</a>
        </li>
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=132333" target="_blank" rel="noopener">Biology/Life Sciences</a>
        </li>
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=73423" target="_blank" rel="noopener">Business/Economics</a>
        </li>
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=131584" target="_blank" rel="noopener">Chemistry</a>
        </li>
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=73428" target="_blank" rel="noopener">Citing Sources</a>
        </li>
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=131585" target="_blank" rel="noopener">Communication/Mass Media</a>
        </li>
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=131586" target="_blank" rel="noopener">Computing/Electronics</a>
        </li>
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=131587" target="_blank" rel="noopener">Earth Sciences</a>
        </li>
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=73424" target="_blank" rel="noopener">Education</a>
        </li>
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=73427" target="_blank" rel="noopener">Engineering</a>
        </li>
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=131588" target="_blank" rel="noopener">Environmental Studies</a>
        </li>
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=73421" target="_blank" rel="noopener">Family & Consumer Sciences</a>
        </li>
    </ul>
    <ul class="col-md-4 offset-md-0 col-11 offset-1">

        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=131589" target="_blank" rel="noopener">Fisheries</a>
        </li>
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=131590" target="_blank" rel="noopener">Foreign Language</a>
        </li>
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=131591" target="_blank" rel="noopener">Forestry/Rangelands</a>
        </li>
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=73429" target="_blank" rel="noopener">Government Information</a>
        </li>
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=131592" target="_blank" rel="noopener">History</a>
        </li>
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=73432" target="_blank" rel="noopener">How to</a>
        </li>
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=131593" target="_blank" rel="noopener">Law</a>
        </li>
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=131594" target="_blank" rel="noopener">Literature</a>
        </li>
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=73422" target="_blank" rel="noopener">Maps & Geospatial Information</a>
        </li>
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=131595" target="_blank" rel="noopener">Mathematics/Statistics</a>
        </li>
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=73425" target="_blank" rel="noopener">Medicine</a>
        </li>
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=73430" target="_blank" rel="noopener">Music</a>
        </li>
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=73418" target="_blank" rel="noopener">Natural Resources</a>
        </li>


    </ul>
    <ul class="col-md-4  offset-md-0 col-11 offset-1">

        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=73434" target="_blank" rel="noopener">Newspapers</a>
        </li>
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=73433" target="_blank" rel="noopener">Open Access</a>
        </li>
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=131602" target="_blank" rel="noopener">Philosophy/Religion</a>
        </li>
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=131596" target="_blank" rel="noopener">Physics</a>
        </li>
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=131597" target="_blank" rel="noopener">Political Science</a>
        </li>
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=131598" target="_blank" rel="noopener">Popular</a>
        </li>
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=131599" target="_blank" rel="noopener">Psychology/Psychiatry</a>
        </li>
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=131601" target="_blank" rel="noopener">Reference</a>
        </li>
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=73426" target="_blank" rel="noopener">Science/Technology</a>
        </li>
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=73419" target="_blank" rel="noopener">Social Sciences</a>
        </li>
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=131604" target="_blank" rel="noopener">Sociology/Criminology</a>
        </li>
        <li>
            <a href="https://libguides.uidaho.edu/az.php?s=131605" target="_blank" rel="noopener">Wildlife</a>
        </li>
    </ul>
</div>

<hr >
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pimLQjj9FHg?start=32" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<hr >

<h2 id="tools">Database Access Tools</h2>

<div id="offcampus_tools">

    <div class="card my-3">
        <div class="card-header">
            <h6 class="card-title mb-0">
                <a data-toggle="collapse" href="#collapse0">Connect Google Scholar <span class="fas fa-chevron-down smalltxt"></span></a>
            </h6>
        </div>
        <div id="collapse0" class="collapse">
            <div class="card-body">
                <p>Would you like to use <a href="https://scholar.google.com/" target="_blank" rel="noopener">Google Scholar</a> to find articles? Link UI Library to your account to make it easy to check our subscriptions for full text access.</p>
                <ul>
                    <li>Sign in to <a href="https://scholar.google.com/" target="_blank" rel="noopener">Google Scholar</a> with your Gmail / Google account (link in upper right corner).</li>
                    <li>Go to your <a href="https://scholar.google.com/scholar_settings" target="_blank" rel="noopener">Settings</a> (accessible from the menu button in the upper left corner).</li>
                    <li>Click on "Library links".</li>
                    <li>Type "Idaho" in the search box, select both "Univ of Idaho - Get it" and "Open WorldCat - Library Search" from the list, and click on "Save".</li>
                    <li>Now your Google Scholar search results will show a link "Univ of Idaho - Get it" to access full text items in our subscriptions. 
                        <em>Note: Scholar can only cross-check some of our holdings so may not comprehensively list access options.</em></li>
            </div>
        </div>
    </div> 

    <div class="card my-3">
        <div class="card-header">
            <h6 class="card-title mb-0">
                <a data-toggle="collapse" href="#collapse1">UI Library Log-in Bookmarklet <span class="fas fa-chevron-down smalltxt"></span></a>
            </h6>
        </div>
        <div id="collapse1" class="collapse">
            <div class="card-body">

                <p>The log-in bookmarklet allows you to log in through the library from wherever you are on the internet without
                    leaving that page. So, say you find an article via Google that asks for you to sign in to access it,
                    just click on the bookmarklet link in your bookmarks bar and this tool will automatically log you in
                    and grant you access, if the library subscribes to the journal or database in which it's held. </p>
                <p class="ml-2">
                    <strong>Installation for web browsers (not mobile)</strong>
                </p>
                <ol class="ml-2">
                    <li>Add the following link to your bookmarks:
                        <a href="javascript:void(location.href=%22https://uidaho.idm.oclc.org/login?url=%22+location.href)" class="btn btn-sm stone center">UI LIB Log-in</a>
                        <table class="ml-2">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong>To do this:&nbsp;&nbsp;</strong>
                                    </td>
                                    <td>Drag the link your bookmarks</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <strong>or</strong> Right-click the link and bookmark it</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <strong>or</strong> Right-click and add to Favorites (for Internet Explorer)</td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                    <li>Try it out. From off-campus, go to this
                        <a href="http://dx.doi.org/10.1002/jwmg.72">article's website</a>, then click on the UIdaho Library Log-in bookmarklet.</li>
                    <li>Enter your UI credentials, then click Submit. You should return to the page with access to the article!
                    </li>
                </ol>
                <p class="ml-2">
                    <strong>Installation for the iPad</strong>
                </p>
                <ol class="ml-2">
                    <li>Bookmark this page.</li>
                    <li>Edit the new bookmark with a title of your choosing and add the following text as the URL:
                        <pre class="mt-2"><code>javascript:void(location.href=%22https://uidaho.idm.oclc.org/login?url=%22+location.href)</code></pre>
                    </li>
                    <li>Try it out. Using an off-campus network, go to this
                        <a href="http://dx.doi.org/10.1002/jwmg.72">article's website</a>, then click on your new bookmark.</li>
                    <li>Enter your UI credentials, then click Submit. You should return to the page with access to the article!
                    </li>
                </ol>
                <p>
                    <strong>Problems?</strong>
                </p>
                <ul>
                    <li>If you see an error message, it may be a website we have not enabled through our authentication server.
                    </li>
                    <li >If it works but you still do not have access to the article, it may not be one to which the University
                        of Idaho currently subscribes.</li>
                    <li >Please report problems or request assistance by contacting the library Reference Desk,
                        <a href="mailto:libref@uidaho.edu">libref@uidaho.edu</a>.</li>
                </ul>

            </div>
        </div>
    </div>

    <div class="card my-3">
        <div class="card-header">
            <h6 class="card-title mb-0">
                <a data-toggle="collapse" href="#collapse2">DOI Finder <span class="fas fa-chevron-down smalltxt"></span></a>
            </h6>
        </div>
        <div id="collapse2" class="collapse">
            <div class="card-body">
                    <p>The DOI Finder allows you to visit a web resource (e.g. a journal article) based only on its DOI number.
                        </p>
                        <p class="ml-2">
                            <strong>Installation for web browsers (not mobile)</strong>
                        </p>
                        <ol class="ml-2">
                            <li>Add the following link to your bookmarks: &nbsp;&nbsp;
                                <a href="javascript:(function(){var a = prompt('Enter a DOI:'); if(a===null||a===''){return;}else{location.href='http://dx.doi.org/'+a};}());"
                                    class="btn btn-sm moss center">DOI Finder</a>
        
                                <table class="ml-2">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <strong>To do this:&nbsp;&nbsp;</strong>
                                            </td>
                                            <td>Drag the link your bookmarks</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <strong>or</strong> Right-click the link and bookmark it</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <strong>or</strong> Right-click and add to Favorites (for Internet Explorer)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </li>
                            <li>Try it out. Copy this DOI number (Ctrl-C or right-click, then copy): 10.1002/jwmg.72</li>
                            <li>Click on the DOI Finder in your bookmarks.</li>
                            <li>Paste the DOI number into the box and hit Enter</li>
                        </ol>
                        <p class="ml-2">
                            <strong>Installation for the iPad</strong>
                        </p>
                        <ol class="ml-2">
                            <li>Bookmark this page.</li>
                            <li>Edit the new bookmark with a title of your choosing and add the following text as the URL:
                                <pre class="mt-2"><code>javascript:(function(){var a = prompt('Enter a DOI:'); if(a===null||a===''){return;}else{location.href='http://dx.doi.org/'+a};}());</code></pre>
                            </li>
                            <li>Try it out. Copy this DOI number (Ctrl-C or right-click, then copy): 10.1002/jwmg.72</li>
                            <li>Click on the DOI Finder in your bookmarks.</li>
                            <li>Paste the DOI number into the box and hit Enter</li>
                        </ol>
                        <p>
                            <strong>Problems?</strong>
                        </p>
                        <ul>
                            <li style="list-style-type: none">If you see an error message, it may be a invalid DOI.</li>
                            <li style="list-style-type: none">Please report problems or request assistance by contacting the library Reference Desk,
                                <a href="mailto:libref@uidaho.edu">libref@uidaho.edu</a>.</li>
                        </ul>

            </div>
        </div>
    </div>

    <p><a href="{{ '/find/accesstools.html' | relative_url }}">More Access Tools &raquo;</a></p>

</div>

{% include lib-chat-widget.html %}
