---
title: Newspaper Microfilm List
section: Find
permalink: /find/microfilm.html
layout: page
custom-foot: "js/find_microfilm.html"
---
{% assign newspapers = site.data.find_microfilm %}
<link rel="stylesheet" type="text/css" href="{{ '/assets/datatables/datatables.min.css' | relative_url }}">

<p>This page provides an alphabetical list of Idaho newspapers on microfilm in our collections. However, please note that most microfilm can be discovered in our <a href="https://alliance-uidaho.primo.exlibrisgroup.com/discovery/search?vid=01ALLIANCE_UID:UID&mode=advanced">main online catalog</a>. To download the filtered data click the Excel / CSV button.</p>

<div class="form-group row justify-content-end">
	<label for="groupSelect" class="col-sm-2 col-form-label text-right">Filter by County:</label>
	<div class="">
		<select id="groupSelect" class="custom-select form-control">
			<option value="all">All</option>
			{% assign counties = newspapers | map: 'county' | uniq %}
			{% for c in counties %}
			<option value="{{ c }}">{{ c }}</option>
			{% endfor %}
		</select>
	</div>
</div>

<table id="microfilm" class="table table-striped">
	<thead>
		<tr>
			<th>City</th>
			<th>County</th>
			<th>Title</th>
			<th>Dates</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th>City</th>
			<th>County</th>
			<th>Title</th>
			<th>Dates</th>
		</tr>
	</tfoot>
	<tbody>
    {% for n in newspapers %}
    <tr>
       <td>{{ n.city }}</td>
       <td>{{ n.county }}</td>
       <td>{{ n.title }}</td>
       <td>{{ n.dates | replace: ';','<br>' }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>	