---
title: My Library
section: My Library
permalink: /mylibrary/
layout: page
lazyload: true
---
{% assign profiles = site.data.mylibrary_profiles %}

<p class="lead">The <em>My Library</em> campaign features timely, real-life library stories highlighting University of Idaho students and little-known library services by asking, <em>"What does your library look like?"</em> We hope sharing real student experiences will help reveal solutions to your educational needs and expand your perception of the possibilities at the library!</p>

<p>The U of I Library is known mainly for books and studying but that perception is not the whole story. The library is a foundational powerhouse of information, ideas, tools, services, spaces, and more, available to <em>EVERY U of I student</em>. Browse our featured stories, <a href="https://uidaho.co1.qualtrics.com/jfe/form/SV_bygOGggIZfz0hc9">share your story</a>, or <a href="#mylibrary-services">learn more below</a>.</p>

<div class="row">
    {% for p in profiles %}
    <div class="col-md-6">
        <a role="button" class="card-button" data-toggle="modal" data-target="#poster{{ forloop.index }}">
            <div class="card my-3">
                <div class="card-body text-center">
                    <img src="{{ p.img | prepend: '/mylibrary/small/' | prepend: site.lib-media }}" class="img-fluid" alt="{{ p.name }} My Library Poster">
                    {{ p.name }}, {{ p.department }}
                </div>
            </div><!--end card-->
        </a>
        <div class="modal fade" id="poster{{ forloop.index }}" tabindex="-1" role="dialog" aria-labelledby="posterTitle{{ forloop.index }}" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    
                    <div class="modal-header">
                        <h5 class="modal-title" id="posterTitle{{ forloop.index }}">{{ p.name }}, {{ p.department }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <img data-src="{{ p.img | prepend: '/mylibrary/' | prepend: site.lib-media }}" class="img-fluid lazyload" alt="{{ p.name }} My Library Poster">
                        {% if p.text %}<blockquote class="blockquote"><p class="card-text mt-2 p-3">{{ p.text }}</p></blockquote>{% endif %}
                    </div><!--end modal-body-->

                </div><!--end modal-content-->
            </div>
        </div><!--end modal-->
    </div><!--end column-->
    {% endfor %}
</div>

<div class="row" id="mylibrary-services">
    <div class="col-12">
        <h4>Library perks include beautifully comfortable spaces for groups and resources such as:</h4>
    </div>
    <div class="col-md-6">
        <ul>
            <li><a href="{{ '/mill/' | relative_url }}">3D printing</a></li>
            <li>green screen and lighting</li>
            <li>virtual reality, an <a href="{{ '/studio/' | relative_url }}">audio/visual lab</a></li>
            <li>electronic textbooks and course materials that add up to great savings</li>
            <li><a href="{{ '/help/' | relative_url }}">helpful librarians</a></li>
            <li><a href="https://libguides.uidaho.edu/Games">board games</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul>
            <li>immediate access to millions of <a href="{{ '/find/books.html' | relative_url }}">physical and electronic books</a> & <a href="{{ '/find/articles.html' | relative_url }}">journals</a></li>
            <li>digital <a href="https://www.insideidaho.org/index.html">georeferenced aerial imagery</a></li>
            <li><a href="{{ '/collections/' | relative_url }}">historical collections</a></li>
            <li><a href="{{ '/about/liaisons.html' | relative_url }}">topic experts</a></li>
            <li>tens of thousands of <a href="{{ '/find/dvds.html'  | relative_url }}">DVDs</a> and <a href="https://uidaho.idm.oclc.org/login?url=https://uidaho.kanopy.com/">streaming movies</a></li>
            <li><a href="{{ '/services/workshops/'  | relative_url }}">awesome workshops</a></li>
        </ul>
    </div>
    <div class="col-12 text-center">
        <a href="https://uidaho.co1.qualtrics.com/jfe/form/SV_bygOGggIZfz0hc9" class="btn btn-pride-gold btn-lg m-2"><span class="far fa-comment"></span> Submit Your Library Story</a>
        <a href="https://uidaho.co1.qualtrics.com/jfe/form/SV_6EUJk9uGaNXk7Gd" class="btn btn-pride-gold btn-lg m-2"><span class="fas fa-check"></span> Subscribe to Library Newsletters</a>
    </div>
</div>