# Jekyll Library Website Generator

# Note: use environment variable on build command to include analytics
# JEKYLL_ENV=production jekyll build

# Site settings
title: University of Idaho Library 
tagline: "Bringing the world to Idaho ... and Idaho to the world." 
description: "As Idaho's flagship research library, the University of Idaho Library connects our users with information, ideas, tools, and spaces; enriches formal and informal learning opportunities; supports and advances research, scholarly, and creative activity; builds partnerships through regional and national outreach; and preserves university, state, and regional historical archives." 
keywords: Idaho, research library, University of Idaho, Humanities, Science, Social Sciences, Engineering
email: ewilliamson@uidaho.edu
# for markup 
featured-image: "/media/carousel/libraryfall-featured.jpg"
featured-image-alt: "U of I Library tower in Fall"

# url variables
url: https://www.lib.uidaho.edu
baseurl: 

# directory for all media assets
lib-media: https://www.lib.uidaho.edu/media
# main url, used to point at server even when on dev server
liburl: https://www.lib.uidaho.edu

# Build data tables
# these tables significantly increase build time 
# switch to true as necessary to generate the assets
histphoto-build: false
idahobio-build: false
all-collections-build: false

#compress CSS output
sass:
  style: compressed

# add liquid profiler to id bottlenecks
# profile: true

exclude: [old, lib-apps, 'Rakefile', docs]
