---
title: University of Idaho Library Home
section: home
layout: default
lazyload: true
---

{% include index-alert.html color="warning" text="The Library building is closed until further notice, but we continue to offer extensive <a href='/covid19/access.html' class='alert-link'>online services</a>. Find <a href='/covid19/impact.html' class='alert-link'>updates</a> and resources on our  <a href='/covid19/' class='alert-link'>COVID-19 information page</a>." %}

<main id="maincontent" role="main">
    <h1 class="sr-only">University of Idaho Library Home</h1>
    {% include searchnav.html %}

    {% include indexcarousel.html %}

    {% include marketing.html %}

    {% include featurebar.html %}
</main>