---
title: University of Idaho Library Home
section: home
layout: default
lazyload: true
---

{% include index-alert.html color="info" text="
<h2>The U of I Virtual Library is open!</h2>

<p>We continue to offer extensive <a href='/covid19/access.html' class='alert-link'>online services</a>. Find <a href='/covid19/impact.html' class='alert-link'>updates</a> and resources on our <a href='/covid19/' class='alert-link'>COVID-19 information page</a>.</p>
<div class=''>
    <a class='btn btn-outline-dark m-1' href='/help/chat.html' >Chat with a librarian</a>
    <a class='btn btn-outline-dark m-1' href='/help/research.html' >Schedule an appointment to get help</a>
    <a class='btn btn-outline-dark m-1' href='/covid19/impact.html#checked-out-books' >Have books checked out?</a>
</div>
" %}


<main id="maincontent" role="main">
    <h1 class="sr-only">University of Idaho Library Home</h1>
    {% include searchnav.html %}

    {% include indexcarousel.html %}

    {% include marketing.html %}

    {% include featurebar.html %}
</main>