---
title: burners.htm
# layout: none
section: special collections
permalink: /special-collections/t-abraham/burners.htm
---
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>

   <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
   <meta http-equiv="Content-Style-Type" content="text/css">

<meta name="COPYRIGHT" content="Copyright 2012 Terry Abraham">

   <meta name="AUTHOR" content="Terry Abraham">
   <meta name="KEYWORDS" content="Chinese, cemeteries, burners, towers, overseas, altars, funerary,
mortuary">
   <meta name="description" content="An illustrated  census of overseas Chinese funerary burners.">
   <meta name="CreationDate" content="April 16, 2001">
  <meta name="RevisionDate" content="March 27, 2012">

    <title>Chinese Funerary Burners</title>
 <link rel="STYLESHEET" type="text/css" href="ta_st.css">
 <link rel="SHORTCUT ICON" href="/media/spec/t-abraham/burner.ico">
 {% include google-analytics.html %}</head>
 <body>
 <h1>
 Chinese Funerary Burners: A Census</h1>
 <p>Compiled by Terry Abraham &lt;<a href="mailto:tabraham@uidaho.edu">tabraham @ uidaho.edu</a>&gt;
 <hr>
 <p>The most common singular feature of overseas Chinese cemeteries and of the Chinese
 section of host community cemeteries is the "burner" (sometimes erroneously called "oven"). These
 brick or masonry structures, often over seven feet tall (approx. 2.1 m),
 serve as a safe place for the ritualized burning of spiritual tributes.
 <p><img src="/media/spec/t-abraham/hellnote.jpg" alt="Hell Banknote" hspace="10" vspace="2" border="0" width="150" align="RIGHT">

 These paper and cardboard facsimiles of money, clothing,
 possessions, and houses, for example, are to serve the deceased in the
 afterlife. Burning these simulacra passes them to the spirit realm.
 <p>The majority of the more than 75 burners listed here appear to have been originally constructed
 between 1880 and
 1920. Their size and construction suggest that they were community efforts, funded by the name or
 clan association that maintained Chinese customs and traditions. There is very little documentation
 available on
 the dates of these structures or on the person or persons who built them.
 <p>For additional information, see <a href="burners_bibliography.htm">Chinese Funerary Burners: A
 Bibliography</a>. Additionally, see the more extensive list of  <a href="ch_cem.htm">Overseas Chinese
 Cemeteries</a>.
 <p>Burning ritual objects is a daily part of life in much of Asia. For comparative examples of Incense
 Burners and Holders, Temple Burners, Grave Burners, Dzidzat Shops, and other artifacts, see <a href="burners2.htm">Other Burners, Other Fires</a>.
<p>New or revised entries are <span style="background:#ffff99">highlighted</span>. Click on "Map" for the approximate location of the burner or cemetery entrance. See <a href="burner_mapping.htm">Mapping Funerary Burners</a> for more information.</p>
<p>Additional information on these, or other extant burners, would be greatly
appreciated.
<p>For ongoing discussion about Chinese funerary practices, you may wish to participate in the Chinese Cemetery Studies list. It is an electronic discussion list, begun by Wendy
Rouse in 1997, which brings
together the community of scholars working on aspects of Chinese (particularly overseas Chinese) funerary
and mortuary practices. For additional information about the list and how to participate, see &lt;<a href="https://web.archive.org/web/20121016062700/http://www.uidaho.edu/special-collections/cemintro.htm">http://www.uidaho.edu/special-collections/cemintro.htm</a>&gt;.

<p>

<table border cellpadding="5" width="95%" bordercolor="#ff0000">


<tr><td width="175" valign="TOP">
<img src="/media/spec/t-abraham/albury.jpg" width="150" alt="Albury Pioneer Cemetery"><p><font size="-2">Photo courtesy Janis Wilton and Golden Threads.</font></td>
<td valign="TOP">Pioneer Cemetery<br>





Albury<br>New South Wales<br>Australia</td>
<td valign="TOP">Masonry burner<br><br>

<i>Chinese cemeteries in Australia Vol. 4</i>; <a href="https://web.archive.org/web/20121016062700/http://amol.org.au/goldenthreads/collections/recordCSites.asp?ID=31">Golden Threads</a>
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=-36.061266,146.926373">Map</a>
</td></tr>


<tr><td width="175" valign="TOP">
<img src="/media/spec/t-abraham/condobolin.jpg" width="150" alt="Condobolin "><p><font size="-2">Photo courtesy Janis Wilton and Golden Threads.</font></td>

<td valign="TOP">

Condobolin<br>New South Wales<br>Australia</td>
<td valign="TOP">Masonry burner, constructed in the early 1990's<br><br>

<a href="amol.org.au/goldenthreads/collections/recordCSites.asp?ID=50">Golden Threads</a>; <a href="https://web.archive.org/web/20121016062700/http://www.heritage.nsw.gov.au/07_subnav_02_2.cfm?itemid=5056575">State Heritage
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=-33.075,147.148">Map</a>
</td></tr>


<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/deniliquin.jpg" width="150" alt="Deniliquin "><p><font size="-2">Photo courtesy Janis Wilton and Golden Threads.</font></td>
<td valign="TOP">

Deniliquin<br>New South Wales<br>Australia</td>
<td valign="TOP">"Replica Chinese burning tower"<br><br>

<a href="https://web.archive.org/web/20121016062700/http://amol.org.au/goldenthreads/collections/recordCSites.asp?ID=55">Golden Threads 2001</a>
</td></tr>




<tr><td width="175" valign="TOP">
<img src="/media/spec/t-abraham/nyngan.jpg" width="150" alt="Nyngan Chinese section of Nyngan General Cemetery"><p><font size="-2">Photo courtesy Barbara Hickson.</font></td>

<td valign="TOP">Chinese section of Nyngan General Cemetery<br>
Nyngan<br>New South Wales<br>Australia</td>

<td valign="TOP">Masonry burner; <a href="https://web.archive.org/web/20121016062700/http://www.heritage.nsw.gov.au/07_subnav_02_2.cfm?itemid=5056575">State Heritage Register</a><br><br>
<i>Chinese Graves in cemeteries in New South Wales Vol. 11</i>

<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=-31.573005,147.206411">Map</a>
</td></tr>












<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/tumut.jpg" width="150" alt="Tumut Pioneer Cemetery"><p><font size="-2">Photo courtesy Jenny Hodges.</font></td>
<td valign="TOP">Pioneer Cemetery<br>

Tumut<br>New South Wales<br>Australia</td>
<td valign="TOP">Masonry burner<br><br>

<a href="https://web.archive.org/web/20121016062700/http://amol.org.au/goldenthreads/collections/recordCSites.asp?ID=41">Golden Threads 2001</a>
</td></tr>



<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/waggawagga.jpg" width="150" alt="Wagga Wagga "><p><font size="-2">Photo courtesy Janis Wilton and Golden Threads.</font></td>

<td valign="TOP">
Wagga Wagga<br>New South Wales<br>Australia</td>

<td valign="TOP">Masonry burner, painted<br><br>
<a href="https://web.archive.org/web/20121016062700/http://amol.org.au/goldenthreads/collections/recordCSites.asp?ID=71">Golden Threads</a>; <i>Chinese cemeteries in Australia Vol. 4</i>
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=-35.136318,147.388629">Map</a>

</td></tr>


<tr><td width="175" valign="TOP">
&nbsp;</td>

<td valign="TOP">Chinese Cemetery<br>
Windeyer<br>New South Wales<br>Australia</td>

<td valign="TOP">"ceremonial roasting pit"?; <a href="https://web.archive.org/web/20121016062700/http://www.heritage.nsw.gov.au/docs/chineseappendices.pdf">Heritage NSW</a> (PDF); <a href="https://web.archive.org/web/20121016062700/http://www.aussieheritage.com.au/listings/nsw/Windeyer/ChineseCemeteryandOven/3457">Chinese Cemetery and Oven</a><br><br>

<a href="https://web.archive.org/web/20121016062700/http://www.heritage.gov.au/cgi-bin/ahpi/record.pl?RNE468">Chinese Cemetery and Oven</a>; <a href="https://web.archive.org/web/20121016062700/http://cemindex.arkangles.com/cemetery.php?id=108">Windeyer General
</td></tr>


<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/darwin_burner.jpg" width="150" alt="Darwin Chinese Memorial Cemetery"><p><font size="-2">Photo by P. Wegars, July 2004.</font></td>
<td valign="TOP">Chinese Memorial Cemetery<br>

Darwin<br>Northern Territory<br>Australia</td>
<td valign="TOP">Cement block constructed burner; <a href="https://web.archive.org/web/20121016062700/http://www.darcity.nt.gov.au/residents/Cemeteries/ChineseCemetery.html">Darwin Chinese cemetery</a><br><br>

Jack, R. Ian. 1995. Chinese cemeteries Outside China. In <i>Histories of the Chinese in Australasia and the South Pacific</i>, 303; <i>Chinese Graves in cemeteries in Victoria Vol.
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=-12.44497,130.84896">Map</a>
</td></tr>












<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/cooktown.jpg" width="150" alt="Cooktown "><p><font size="-2">Photo by R.I. Jack, 1981. Courtesy, Asian American Comparative Collection 49/3.</font></td>
<td valign="TOP">

Cooktown<br>Queensland<br>Australia</td>
<td valign="TOP">Two burners adjacent to altar.<br><br>

<a href="https://web.archive.org/web/20121016062700/http://www.heritage.gov.au/cgi-bin/ahpi/record.pl?RNE16564">Australian Heritage Places Inventory</a>
</td></tr>



<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/mtmorgan.jpg" width="150" alt="Mount Morgan Chinese Cemetery"><p><font size="-2">Photo courtesy Ted Shaw at www.mountmorgan.com.</font></td>

<td valign="TOP">Chinese Cemetery<br>
Mount Morgan<br>Queensland<br>Australia</td>

<td valign="TOP">Burner<br><br>
Jack, R. Ian. 1995. Chinese cemeteries Outside China. In <i>Histories of the Chinese in Australasia and the South Pacific</i>, 304; <a <br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=-23.65812,150.38807">Map</a>

</td></tr>


<tr><td width="175" valign="TOP">
&nbsp;</td>

<td valign="TOP">Moorina Cemetery<br>
Pioneer<br>Tasmania<br>Australia</td>

<td valign="TOP">Burner<br><br>

<a href="https://web.archive.org/web/20121016062700/http://www.walkabout.com.au/fairfax/locations/TASPioneer.shtml">Pioneer</a>
</td></tr>



<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/weldborough.jpg" width="150" alt="Weldborough "><p><font size="-2">Photo by Helen Vivian, 1984. Courtesy, Asian American Comparative Collection 49/4.</font></td>
<td valign="TOP">

Weldborough<br>Tasmania<br>Australia</td>
<td valign="TOP">Masonry burner<br><br>

Jack, R. Ian. 1995. Chinese Cemeteries Outside China. In <i>Histories of
the Chinese in Australasia and the South Pacific</i> 304.
</td></tr>












<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/avoca.jpg" width="150" alt="Avoca Glenpatrick Chinese Cemetery"><p><font size="-2">Photo by Mellissa Edwards, 2003</font></td>
<td valign="TOP">Glenpatrick Chinese Cemetery<br>

Avoca<br>Victoria<br>Australia</td>
<td valign="TOP">Masonry burner; "Now the main visible sign is 'Glenpatrick Cemetery', seen from the road."<br><br>

<i>Chinese cemeteries in Australia Vol. 3</i>; <a href="https://web.archive.org/web/20121016062700/http://bbs.keyhole.com/ubb/showflat.php/Cat/0/Number/557073">
http://bbs.keyhole.com/ubb/showflat.php/Cat/0/Number/557073</a>
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=-37.133736,143.348557">Map</a>
</td></tr>

<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/ball_new.jpg" width="150" alt="Ballarat New Cemetery"><p><font size="-2">Photo by P. Wegars, February 2000.</font></td>

<td valign="TOP">New Cemetery<br>
Ballarat<br>Victoria<br>Australia</td>

<td valign="TOP">Masonry burner<br><br>
&nbsp;
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=-37.536604,143.864291">Map</a>

</td></tr>


<tr><td width="175" valign="TOP">
<img src="/media/spec/t-abraham/ball_old.jpg" width="150" alt="Ballarat Old Cemetery"><p><font size="-2">Photo by P. Wegars, February 2000.</font></td>

<td valign="TOP">Old Cemetery<br>
Ballarat<br>Victoria<br>Australia</td>

<td valign="TOP">Masonry burner, sheet metal top<br><br>

&nbsp;
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=-37.549703,143.849412">Map</a>
</td></tr>


<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/beechworthburners.jpg" width="150" alt="Beechworth General cemetery"><p><font size="-2">Photo by Mellissa Edwards, 2002</font></td>
<td valign="TOP">General cemetery<br>

Beechworth<br>Victoria<br>Australia</td>
<td valign="TOP">Twin masonry burners, metal caps.<br><br>

Jack, R. Ian. 1995. Chinese Cemeteries Outside China. In <i>Histories of
the Chinese in Australasia and the South Pacific</i> 302, 304.
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=-36.345734,146.690580">Map</a>
</td></tr>











<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/chineseburnbendigo.jpg" width="150" alt="Bendigo Bendigo Cemetery"><p><font size="-2">Photo by Mellissa Edwards, 2003</font></td>
<td valign="TOP">Bendigo Cemetery<br>

Bendigo<br>Victoria<br>Australia</td>
<td valign="TOP">Masonry burner; "hexagonal (80 cm for each side) tuckpointed brick structure some 4 metres high"; Chinese Cemeteries in Australia Vol. 2<br><br>

<a href="https://web.archive.org/web/20121016062700/http://www.heritage.gov.au/cgi-bin/ahpi/record.pl?RNE100467">Australian Heritage Places Inventory</a>; <a href="https://web.archive.org/web/20121016062700/http://www.bencemtrust.com.au/cemeteries.asp?id=16">Bendigo
Public Cemetery - Bendigo Cemeteries Trust</a>
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=-36.779208,144.283164">Map</a>
</td></tr>

<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/campbellscreek.jpg" width="150" alt="Campbells Creek Castlemaine Cemetery"><p><font size="-2">Photo by Mellissa Edwards, 2003</font></td>

<td valign="TOP">Castlemaine Cemetery<br>
Campbells Creek<br>Victoria<br>Australia</td>

<td valign="TOP">Burner<br><br>
<i>Chinese cemeteries in Australia Vol. 1</i>
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=-37.093653,144.2">Map</a>

</td></tr>


<tr><td width="175" valign="TOP">
<img src="/media/spec/t-abraham/dunolly.jpg" width="150" alt="Dunolly Dunolly Cemetery"><p><font size="-2">Photo by Anthony Briggs, February 2003</font></td>

<td valign="TOP">Dunolly Cemetery<br>
Dunolly<br>Victoria<br>Australia</td>

<td valign="TOP">Burner<br><br>

&nbsp;
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=-36.840927,143.722105">Map</a>
</td></tr>


<tr><td width="175" valign="TOP">

&nbsp;</td>
<td valign="TOP">

Echuca<br>Victoria<br>Australia</td>
<td valign="TOP">Burner<br><br>

Golden Dragon Museum. <i>Chinese Memorials &amp; Memories</i>. Bendigo: 2001. p. 37.
</td></tr>













<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/maldon01.jpg" width="150" alt="Maldon "><p><font size="-2">Photo by Anthony Briggs, May 2001</font></td>
<td valign="TOP">

Maldon<br>Victoria<br>Australia</td>
<td valign="TOP">Masonry burner, triple dome on top. Built by John South, see
<a href="https://web.archive.org/web/20121016062700/http://www.samuelsouth.btinternet.co.uk/update048.htm">http://www.samuelsouth.btinternet.co.uk/update048.htm</a>.<br><br>

Jack, R. Ian. 1995. Chinese Cemeteries Outside China. In <i>Histories of
the Chinese in Australasia and the South Pacific</i>, 304.
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=-36.973,144.0525">Map</a>
</td></tr>

<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/maryborough.jpg" width="150" alt="Maryborough Maryborough Cemetery"><p><font size="-2">Photo by Mellissa Edwards, 2003</font></td>
<td valign="TOP">Maryborough Cemetery<br>

Maryborough<br>Victoria<br>Australia</td>
<td valign="TOP">Masonry burner<br><br>

<i>Chinese Graves in cemeteries in Victoria Vol. 9</i>
</td></tr>



<tr><td width="175" valign="TOP">

&nbsp;</td>
<td valign="TOP">Melbourne General Cemetery<br>

Melbourne<br>Victoria<br>Australia</td>

<td valign="TOP">Burner, "Chinese funerary ovens"<br><br>
&nbsp;
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=-37.791730,144.961787">Map</a>

</td></tr>


<tr><td width="175" valign="TOP">
&nbsp;</td>

<td valign="TOP">Carlyle Cemetery<br>
Wahgunyah<br>Victoria<br>Australia</td>

<td valign="TOP">Burner, "Chinese burning towers from the goldrush era."<br><br>
<a href="https://web.archive.org/web/20121016062700/http://www.walkabout.com.au/fairfax/locations/VICWahgunyah.shtml">Walkabout: Wahgunyah 2001</a>; <a href="https://web.archive.org/web/20121016062700/http://131.172.16.7/jca/issue02/09Trevarthen.html">Image 8</a>.

<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=-36.03846,146.4038">Map</a>
</td></tr>











<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/whitehills.jpg" width="150" alt="White Hills "><p><font size="-2">Photo by Mellissa Edwards, 2003</font></td>
<td valign="TOP">

White Hills<br>Victoria<br>Australia</td>
<td valign="TOP">Masonry burner, "hexagonal (80 cm for each side) tuckpointed brick structure some 4 metres high." Identical to Bendigo burner<br><br>

<i>Chinese cemeteries in Australia Vol. 5</i>; <a href="https://web.archive.org/web/20121016062700/http://www.bencemtrust.com.au/cemeteries.asp?id=20">White Hills Public Cemetery</a>
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=-36.728963,144.298217">Map</a>
</td></tr>


<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/qc_calgary.jpg" width="150" alt="Calgary Queen's Park Cemetery"><p><font size="-2">Photo by David Kerkkonen, March 2006.</font></td>

<td valign="TOP">Queen's Park Cemetery<br>
Calgary<br>Alberta<br>Canada</td>

<td valign="TOP">Two brick burners and center altar<br><br>
&nbsp;
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=51.0806,-114.0717">Map</a>

</td></tr>


<tr><td width="175" valign="TOP">
<img src="/media/spec/t-abraham/calgary_burner.jpg" width="150" alt="Calgary Chinese Cemetery"><p><font size="-2">Photo by David Kerkkonen, October 2004</font></td>

<td valign="TOP">Chinese Cemetery<br>
Calgary<br>Alberta<br>Canada</td>

<td valign="TOP">Red brick burner, concrete top<br><br>

<a href="https://web.archive.org/web/20121016062700/http://content.calgary.ca/CCA/City+Hall/Business+Units/Parks/cemeteries/Cemetery+Locations/Chinese+Cemetery.htm">Chinese Cemetery</a>; also 1920s photo at <a href="https://web.archive.org/web/20121016062700/http://www.ccnc.ca/toronto/history/1880/293.html">Calgary Cemetery</a>
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=51.0258,-114.0598">Map</a>
</td></tr>

<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/pop_calgary.jpg" width="150" alt="Calgary Rockyview Garden of Peace"><p><font size="-2">Photo by David Kerkkonen, September 2007</font></td>
<td valign="TOP">Rockyview Garden of Peace<br>

Calgary<br>Alberta<br>Canada</td>
<td valign="TOP">Buddhist Section; masonry burner, memorial tablet<br><br>

&nbsp;
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=51.064,-113.888">Map</a>
</td></tr>












<tr><td width="175" valign="TOP">

&nbsp;</td>
<td valign="TOP">Edmonton Cemetery, Chinese Section<br>

Edmonton<br>Alberta<br>Canada</td>
<td valign="TOP">Burner.<br><br>

Personal communication.
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=53.5515,-113.526">Map</a>
</td></tr>


<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/mtnview_lethbridge.jpg" width="150" alt="Lethbridge Mountain View Cemetery"><p><font size="-2">Photo by David Kerkkonen,  2008</font></td>

<td valign="TOP">Mountain View Cemetery<br>
Lethbridge<br>Alberta<br>Canada</td>

<td valign="TOP">Burner and altar platform<br><br>
<a href="https://web.archive.org/web/20121016062700/http://www.lethbridge.ca/home/City+Hall/Departments/Cemeteries/Mountain+View+Cemetery/Mountain+View+Cemetery.htm">Mountain View Cemetery</a>
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=49.68001,-112.82967">Map</a>

</td></tr>


<tr><td width="175" valign="TOP">
<img src="/media/spec/t-abraham/Kamloops.jpg" width="150" alt="Kamloops Chinese Cemetery"><p><font size="-2">Photo by Tahanni Wou, 2006</font></td>

<td valign="TOP">Chinese Cemetery<br>
Kamloops<br>British Columbia<br>Canada</td>

<td valign="TOP">Burner<br><br>

<a href="https://web.archive.org/web/20121016062700/http://www.kamloops.ca/cemeteries/index.shtml">Kamloops Municipal Cemeteries </a>
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=50.678839,-120.360783">Map</a>
</td></tr>


<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/Nanaimo Ch Cem Burner.jpg" width="150" alt="Nanaimo Chinese Cemetery"><p><font size="-2">Photo by David Kerkkonen, 2011</font></td>
<td valign="TOP">Chinese Cemetery<br>

Nanaimo<br>British Columbia<br>Canada</td>
<td valign="TOP">Burner integrated with altar<br><br>

See <a href="https://web.archive.org/web/20121016062700/http://www.nanaimo.ca/residents/heritage_detail.asp?her_id=180&amp;id=287&amp;parent=19&amp;sub_collection=51">City of Nanaimo Heritage Inventory</a>;
Maxwell, Judy. "Chinese cemeteries and grave markers in B.C.: A research guide." <i>British Columbia History</i>, 40:4(2007)15.
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=49.180790,-123.972684">Map</a>
</td></tr>











<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/nelson.jpg" width="150" alt="Nelson Nelson Memorial Park"><p><font size="-2">Photo by David Kerkkonen, July 2005</font></td>
<td valign="TOP">Nelson Memorial Park<br>

Nelson<br>British Columbia<br>Canada</td>
<td valign="TOP">

&nbsp;
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=49.4763,-117.286">Map</a>
</td></tr>


<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/vancouver_4.jpg" width="150" alt="Vancouver Mountain View Cemetery"><p><font size="-2">Photo by Glen Hodges, May 2010</font></td>

<td valign="TOP">Mountain View Cemetery<br>
Vancouver<br>British Columbia<br>Canada</td>

<td valign="TOP">Reconstructed burner (2010) next to altar and pavilion.<br><br>
Photo of original burner at Vancouver Public Library. 1910 photograph by Philip Timms. VPL 7356.
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=49.23803,-123.0917">Map</a>

</td></tr>


<tr><td width="175" valign="TOP">
<img src="/media/spec/t-abraham/harlingpt.jpg" width="150" alt="Victoria Chinese Cemetery at  Harling Point"><p><font size="-2">Photo courtesy Old Cemeteries Society.</font></td>

<td valign="TOP">Chinese Cemetery at  Harling Point<br>
Victoria<br>British Columbia<br>Canada</td>

<td valign="TOP">Twin burners and altar<br><br>

<a href="https://web.archive.org/web/20121016062700/http://www.oldcem.bc.ca/cem_ch.htm">Old Cemeteries Society</a>
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=48.4067,-123.32296">Map</a>
</td></tr>


<tr><td width="175" valign="TOP">

&nbsp;</td>
<td valign="TOP">Nirvana Memorial Park<br>

Semenyih<br>Selangor<br>Malaysia</td>
<td valign="TOP">Burner<br><br>

&nbsp;
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=3.03396,101.8655">Map</a>
</td></tr>












<tr><td width="175" valign="TOP">

&nbsp;</td>
<td valign="TOP">Chinese Cemetery<br>

Manila<br>&nbsp;<br>Philippines</td>
<td valign="TOP">"Kim" Burner<br><br>

See <a href="https://web.archive.org/web/20121016062700/http://community.webshots.com/photo/163376852/1163379385057477332iyKxnM">&lt;http://community.webshots.com/photo/ 163376852/1163379385057477332iyKxnM&gt;</a>
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=14.6305,120.9873">Map</a>
</td></tr>


<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/auburn.jpg" width="150" alt="Auburn Chinese Cemetery"><p><font size="-2">Photo by Peter Bell, June 19, 1994. Courtesy, AACC 235/2.</font></td>

<td valign="TOP">Chinese Cemetery<br>
Auburn<br>California<br>United States</td>

<td valign="TOP">Masonry burner<br><br>
Wey, Nancy, compiler. n.d., <i>Chinese Sites in California</i>. Unpaginated, arranged by county. Photocopy in the Asian American Comparative Collection, University of Idaho, Moscow:
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=38.9194,-121.0807">Map</a>

</td></tr>


<tr><td width="175" valign="TOP">
<img src="/media/spec/t-abraham/hoysuncmtry.jpg" width="150" alt="Colma Hoy Sun Memorial Cemetery"><p><font size="-2">Photo by W.R. Hagaman, September 2001.</font></td>

<td valign="TOP">Hoy Sun Memorial Cemetery<br>
Colma<br>California<br>United States</td>

<td valign="TOP">Burner; "November 1988" on marker<br><br>

&nbsp;
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=37.677300,-122.446095">Map</a>
</td></tr>


<tr><td width="175" valign="TOP">

&nbsp;</td>
<td valign="TOP">Look San Chinese Cemetery, Callan Blvd<br>

Daly City<br>California<br>United States</td>
<td valign="TOP">

Personal observation
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=37.667419,-122.474714">Map</a>
</td></tr>












<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/dalycityburner.jpg" width="150" alt="Daly City Look San Chinese Cemetery, Callan Blvd"><p><font size="-2">Photo by W.R. Hagaman, September 2001.</font></td>
<td valign="TOP">Look San Chinese Cemetery, Callan Blvd<br>

Daly City<br>California<br>United States</td>
<td valign="TOP">Brick covered in marble<br><br>

&nbsp;
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=37.667891,-122.474672">Map</a>
</td></tr>


<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/dalycity232.jpg" width="150" alt="Daly City Look San Chinese Cemetery, Callan Blvd"><p><font size="-2">Photo by W.R. Hagaman, September 2001.</font></td>

<td valign="TOP">Look San Chinese Cemetery, Callan Blvd<br>
Daly City<br>California<br>United States</td>

<td valign="TOP">"Hee Shen Association"<br><br>
&nbsp;
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=37.667423,-122.474156">Map</a>

</td></tr>


<tr><td width="175" valign="TOP">
<img src="/media/spec/t-abraham/dalycity233.jpg" width="150" alt="Daly City Look San Chinese Cemetery, Callan Blvd"><p><font size="-2">Photo by W.R. Hagaman, September 2001.</font></td>

<td valign="TOP">Look San Chinese Cemetery, Callan Blvd<br>
Daly City<br>California<br>United States</td>

<td valign="TOP">

&nbsp;
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=37.667419,-122.474714">Map</a>
</td></tr>


<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/leongsenassoc.jpg" width="150" alt="Daly City Look San Chinese Cemetery, Callan Blvd"><p><font size="-2">Photo by W.R. Hagaman, September 2001.</font></td>
<td valign="TOP">Look San Chinese Cemetery, Callan Blvd<br>

Daly City<br>California<br>United States</td>
<td valign="TOP">"Leong Sen Association"<br><br>

&nbsp;
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=37.667419,-122.474714">Map</a>
</td></tr>












<tr><td width="175" valign="TOP">

&nbsp;</td>
<td valign="TOP">Look San Chinese Cemetery, Callan Blvd<br>

Daly City<br>California<br>United States</td>
<td valign="TOP">

Personal observation
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=37.667419,-122.474714">Map</a>
</td></tr>


<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/dcburner201.jpg" width="150" alt="Daly City Look San Chinese Cemetery, Callan Blvd"><p><font size="-2">Photo by W.R. Hagaman, September 2001.</font></td>

<td valign="TOP">Look San Chinese Cemetery, Callan Blvd<br>
Daly City<br>California<br>United States</td>

<td valign="TOP">
&nbsp;
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=37.667725,-122.473758">Map</a>

</td></tr>


<tr><td width="175" valign="TOP">
<img src="/media/spec/t-abraham/dcburner202.jpg" width="150" alt="Daly City Look San Chinese Cemetery, Callan Blvd"><p><font size="-2">Photo by W.R. Hagaman, September 2001.</font></td>

<td valign="TOP">Look San Chinese Cemetery, Callan Blvd<br>
Daly City<br>California<br>United States</td>

<td valign="TOP">

&nbsp;
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=37.667419,-122.474714">Map</a>
</td></tr>


<tr><td width="175" valign="TOP">

&nbsp;</td>
<td valign="TOP">Look San Chinese Cemetery, Callan Blvd<br>

Daly City<br>California<br>United States</td>
<td valign="TOP">

Personal observation
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=37.667419,-122.474714">Map</a>
</td></tr>












<tr><td width="175" valign="TOP">

&nbsp;</td>
<td valign="TOP">Look San Chinese Cemetery, Callan Blvd<br>

Daly City<br>California<br>United States</td>
<td valign="TOP">

Personal observation
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=37.667419,-122.474714">Map</a>
</td></tr>


<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/dcburner204.jpg" width="150" alt="Daly City Look San Chinese Cemetery, Callan Blvd"><p><font size="-2">Photo by W.R. Hagaman, September 2001.</font></td>

<td valign="TOP">Look San Chinese Cemetery, Callan Blvd<br>
Daly City<br>California<br>United States</td>

<td valign="TOP">
&nbsp;
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=37.667419,-122.474714">Map</a>

</td></tr>


<tr><td width="175" valign="TOP">
<img src="/media/spec/t-abraham/colma1.jpg" width="150" alt="Daly City Look San Chinese Cemetery, Callan Blvd"><p><font size="-2">Photo by Randall Bloch, June 2001.</font></td>

<td valign="TOP">Look San Chinese Cemetery, Callan Blvd<br>
Daly City<br>California<br>United States</td>

<td valign="TOP">

&nbsp;
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=37.667808,-122.473263">Map</a>
</td></tr>


<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/dalycity234.jpg" width="150" alt="Daly City Look San Chinese Cemetery, Callan Blvd"><p><font size="-2">Photo by W.R. Hagaman, September 2001.</font></td>
<td valign="TOP">Look San Chinese Cemetery, Callan Blvd<br>

Daly City<br>California<br>United States</td>
<td valign="TOP">

<a href="https://web.archive.org/web/20121016062700/http://www.geocities.com/araxnoullis/Bay_Area/chinese.htm">Bay Area Cemeteries - Chinese Cemetery</a>
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=37.667268,-122.473481">Map</a>
</td></tr>












<tr><td width="175" valign="TOP">

&nbsp;</td>
<td valign="TOP">

Dutch Flat<br>California<br>United States</td>
<td valign="TOP">Damaged Burner<br><br>

Personal communication
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=39.205556,-120.834444">Map</a>
</td></tr>


<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/fairfield.jpg" width="150" alt="Fairfield Suisun-Fairfield Cemetery, Union Avenue"><p><font size="-2">Photo by T. Abraham, April 2002</font></td>

<td valign="TOP">Suisun-Fairfield Cemetery, Union Avenue<br>
Fairfield<br>California<br>United States</td>

<td valign="TOP">Burner<br><br>
&nbsp;
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=38.262805,-122.040912">Map</a>

</td></tr>


<tr><td width="175" valign="TOP">
<img src="/media/spec/t-abraham/folsom.jpg" width="150" alt="Folsom Young Wo Cemetery, Forrest Street"><p><font size="-2">Photo by P. Wegars, April 2002</font></td>

<td valign="TOP">Young Wo Cemetery, Forrest Street<br>
Folsom<br>California<br>United States</td>

<td valign="TOP">1997? construction date on burner<br><br>

&nbsp;
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=38.67304,-121.18397">Map</a>
</td></tr>


<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/hanford_burner_sm.jpg" width="150" alt="Hanford "><p><font size="-2">Photo by Lucky Owyang, June 2005.</font></td>
<td valign="TOP">

Hanford<br>California<br>United States</td>
<td valign="TOP">Burner<br><br>

&nbsp;
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=36.322,-119.636">Map</a>
</td></tr>












<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/loomisfrontyard.jpg" width="150" alt="Loomis Former Chinese cemetery"><p><font size="-2">Photo by W.R. Hagaman, October 2001.</font></td>
<td valign="TOP">Former Chinese cemetery<br>

Loomis<br>California<br>United States</td>
<td valign="TOP">Brick burner, on private property<br><br>

Morita, Jennifer. 2001. "Forgotten Past." <i>Sacramento Bee</i>, August 26, B4
</td></tr>



<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/LA_Burner_small.jpg" width="150" alt="Los Angeles Chinese Cemetery"><p><font size="-2">Photo by Gilbert Hom, October, 2007.</font></td>

<td valign="TOP">Chinese Cemetery<br>
Los Angeles<br>California<br>United States</td>

<td valign="TOP">Orignal twin <a href="/media/spec/t-abraham/eastla.jpg">burners</a> with altar replaced with pavilion, altar, and burner, 2007<br><br>
<a href="https://web.archive.org/web/20121016062700/http://www.rootsweb.com/~cemetery/california/losangeles.html">Chinese Cemetery</a>
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=34.03651,-118.17188">Map</a>

</td></tr>


<tr><td width="175" valign="TOP">
<img src="/media/spec/t-abraham/evergreen.jpg" width="150" alt="Los Angeles Evergreen Cemetery"><p><font size="-2">Photos by P. Wegars, January 2001.</font></td>

<td valign="TOP">Evergreen Cemetery<br>
Los Angeles<br>California<br>United States</td>

<td valign="TOP">Two burners with altar.<br><br>

<a href="https://web.archive.org/web/20121016062700/http://www.chssc.org/history/shrinefull.html">Chinese Historical Society of Southern California. 1998</a>; Greenwood, Roberta S. 1996. <i>Down by the Station: Los Angeles
Chinatown, 1880-1993</i>. Los Angeles: UCLA Institute of Archaeology.
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=34.038755,-118.194660">Map</a>
</td></tr>

<tr><td width="175" valign="TOP">

&nbsp;</td>
<td valign="TOP">Alhambra Cemetery - Potter's Field<br>

Martinez<br>California<br>United States</td>
<td valign="TOP">Burner foundation only, also brick rubble<br><br>

<a href="https://web.archive.org/web/20121016062700/http://www.martinezhistory.org/html/brick.html">Cemetery Tour of Martinez</a>
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=38.0178,-122.145115">Map</a>
</td></tr>












<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/marysville.jpg" width="150" alt="Marysville Historic Marysville Cemetery"><p><font size="-2">Photo by W.R. Hagaman, December 2001.</font></td>
<td valign="TOP">Historic Marysville Cemetery<br>

Marysville<br>California<br>United States</td>
<td valign="TOP">"a volunteer builder is restoring a rare Chinese oven in the cemetery. The last episode of vandalism caused over $25,000 in damages."<br><br>

COUNCIL NEWS COORDINATOR. 13:3 (May/June 2001); Preserving a piece of history. <i>Appeal-Democrat</i>, April 29, 2002.
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=39.161075,-121.588691">Map</a>
</td></tr>


<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/monterey.jpg" width="150" alt="Monterey San Carlos Cemetery"><p><font size="-2">Photo by Randall Bloch, June 2001.</font></td>

<td valign="TOP">San Carlos Cemetery<br>
Monterey<br>California<br>United States</td>

<td valign="TOP">Burner and altar.<br><br>
&nbsp;
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=36.594782,-121.886764">Map</a>

</td></tr>


<tr><td width="175" valign="TOP">
<img src="/media/spec/t-abraham/nevadacity.jpg" width="150" alt="Nevada City Chinese Cemetery"><p><font size="-2">Photo by W.R. Hagaman, June 2001.</font></td>

<td valign="TOP">Chinese Cemetery<br>
Nevada City<br>California<br>United States</td>

<td valign="TOP">Burner<br><br>

Hagaman, Wallace R. 1998. <i>A Short History of the Chinese Cemetery at Nevada City, California</i>. Nevada City: Cowboy Press; <a href="https://web.archive.org/web/20121016062700/http://www.cr.nps.gov/history/online_books/5views/5views3h60.htm">Five Views</a>
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=39.254657,-121.018389">Map</a>
</td></tr>

<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/olivehurst_burner_sm.jpg" width="150" alt="Olivehurst Sierra View Memorial Park"><p><font size="-2">Photo by Lucky Owyang, February 2007.</font></td>
<td valign="TOP">Sierra View Memorial Park<br>

Olivehurst<br>California<br>United States</td>
<td valign="TOP">

&nbsp;
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=39.086040,-121.540463">Map</a>
</td></tr>












<tr><td width="175" valign="TOP">

&nbsp;</td>
<td valign="TOP">Chinese cemetery<br>

Salinas<br>California<br>United States</td>
<td valign="TOP">Burner<br><br>

Farkas, Lani Ah Tye. <i>Bury My Bones in America</i> (1998), p. 147, n. 13.
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=36.69518,-121.639">Map</a>
</td></tr>


<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/sanjose.jpg" width="150" alt="San Jose Historic Chinese American Cemetery, Curtner Road"><p><font size="-2">Photo by T. Abraham, May 2002.</font></td>

<td valign="TOP">Historic Chinese American Cemetery, Curtner Road<br>
San Jose<br>California<br>United States</td>

<td valign="TOP">Wey, Nancy, compiler. n.d., <i>Chinese Sites in California</i>. Unpaginated, arranged by county. Photocopy in the Asian American Comparative Collection, University of
Idaho, Moscow: San Jose.<br><br>
<a href="https://web.archive.org/web/20121016062700/http://www.charani.org/ChaJMArtPhoto42.html">Abandoned Chinese Cemetery</a>
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=37.29907,-121.86762">Map</a>

</td></tr>

<tr><td width="175" valign="TOP">
<img src="/media/spec/t-abraham/santacruz.jpg" width="150" alt="Santa Cruz Evergreen Cemetery"><p><font size="-2">Photo by Randall Bloch, June 2001.</font></td>

<td valign="TOP">Evergreen Cemetery<br>
Santa Cruz<br>California<br>United States</td>

<td valign="TOP">Masonry burner. Replica, see <a href="https://web.archive.org/web/20121016062700/http://www.sandylydon.com/html/cemetaryclass.html">Lydon, Sandy. Bringing the Dead to Life. 2005</a><br><br>

&nbsp;
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=36.98123,-122.03502">Map</a>
</td></tr>


<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/stockton-old-section.jpg" width="150" alt="Stockton Chinese Cemetery, West Mathews Road, French Camp"><p><font size="-2">Photo by W.R. Hagaman, 2003.</font></td>
<td valign="TOP">Chinese Cemetery, West Mathews Road, French Camp<br>

Stockton<br>California<br>United States</td>
<td valign="TOP">Brick burner.<br><br>

&nbsp;
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=37.88086,-121.28172">Map</a>
</td></tr>












<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/stockton-entrance.jpg" width="150" alt="Stockton Chinese Cemetery, West Mathews Road, French Camp"><p><font size="-2">Photo by W.R. Hagaman, 2003.</font></td>
<td valign="TOP">Chinese Cemetery, West Mathews Road, French Camp<br>

Stockton<br>California<br>United States</td>
<td valign="TOP">Altar and two brick burners near entrance<br><br>

<a href="https://web.archive.org/web/20121016062700/http://www.yelp.com/biz/chinese-cemetery-french-camp">Chinese Cemetery</a>.
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=37.88194,-121.28109">Map</a>
</td></tr>


<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/vina.jpg" width="150" alt="Vina Chinese cemetery"><p><font size="-2">Photo by Carrie Wills, May 2001.</font></td>

<td valign="TOP">Chinese cemetery<br>
Vina<br>California<br>United States</td>

<td valign="TOP">Masonry burner<br><br>
&nbsp;
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=39.963507,-121.995257">Map</a>

</td></tr>


<tr><td width="175" valign="TOP">
<img src="/media/spec/t-abraham/freedom.jpg" width="150" alt="Watsonville Pioneer Cemetery, Freedom Boulevard"><p><font size="-2">Photo by Sandy Lydon.</font></td>

<td valign="TOP">Pioneer Cemetery, Freedom Boulevard<br>
Watsonville<br>California<br>United States</td>

<td valign="TOP">Masonry burner. Also referred to as the Freedom Cemetery<br><br>

&nbsp;
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=36.924848,-121.763240">Map</a>
</td></tr>


<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/wheatland.jpg" width="150" alt="Wheatland Chinese American Cemetery"><p><font size="-2">Photo by Wendy Rouse, July 2001.</font></td>
<td valign="TOP">Chinese American Cemetery<br>

Wheatland<br>California<br>United States</td>
<td valign="TOP">Burner Rebuilt by Wheatland Historical Society, 1978<br><br>

<a href="https://web.archive.org/web/20121016062700/http://www.yubaroots.com/cemetery/chin-amer.htm">Wheatland Chinese American Cemetery</a>
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=38.977488,-121.414486">Map</a>
</td></tr>












<tr><td width="175" valign="TOP">

&nbsp;</td>
<td valign="TOP">Chinese Cemetery<br>

Yreka<br>California<br>United States</td>
<td valign="TOP">"Brick oven;" "A single marker remains, inscribed in Chinese characters"<br><br>

<i>Siskiyou Pioneer</i>, 6:3(1990)98, 134; <a href="https://web.archive.org/web/20121016062700/http://www.visitsiskiyou.org/gcattract.html">Attractions in the Gold Country</a>
</td></tr>



<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/paia_burner.jpg" width="150" alt="Pa'ia Pa'ia Chinese Cemetery"><p><font size="-2">Photo by T. Abraham, 2009.</font></td>

<td valign="TOP">Pa'ia Chinese Cemetery<br>
Pa'ia<br>Hawaii - Maui<br>United States</td>

<td valign="TOP">Burner. <a href="https://web.archive.org/web/20121016062700/http://www.findagrave.com/cgi-bin/fg.cgi?page=cr&amp;GSln=Apo&amp;CRid=1981910&amp;pt=Paia%20Chinese%20Cemetery&amp;">Paia Chinese Cemetery</a><br><br>
Chung, Sue Fawn &amp; Neizman, R. Remembering Ancestors in Hawai'i, in <i>Chinese American Death Rituals</i> (2005), pp. 187-188
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=20.918087,-156.379634">Map</a>

</td></tr>


<tr><td width="175" valign="TOP">
<img src="/media/spec/t-abraham/kft_burner.jpg" width="150" alt="Waiehu Kwong Fook Tong Chinese Cemetery"><p><font size="-2">Photo by T. Abraham, 2009.</font></td>

<td valign="TOP">Kwong Fook Tong Chinese Cemetery<br>
Waiehu<br>Hawaii - Maui<br>United States</td>

<td valign="TOP">Burner.<br><br>

Chung, Sue Fawn &amp; Neizman, R. Remembering Ancestors in Hawai'i, in <i>Chinese American Death Rituals</i> (2005), pp. 189-190
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=20.919489,-156.497811">Map</a>
</td></tr>


<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/boise.jpg" width="150" alt="Boise Morris Hill Cemetery"><p><font size="-2">Photo by P. Wegars, 1997.</font></td>
<td valign="TOP">Morris Hill Cemetery<br>

Boise<br>Idaho<br>United States</td>
<td valign="TOP">White painted brick burner in Chinese section<br><br>

&nbsp;
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=43.61116,-116.22881">Map</a>
</td></tr>












<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/butte.jpg" width="150" alt="Butte Mount Moriah Cemetery"><p><font size="-2">Photo by John Mihelich, April 2002.</font></td>
<td valign="TOP">Mount Moriah Cemetery<br>

Butte<br>Montana<br>United States</td>
<td valign="TOP">Burner Southwest corner of cemetery. Concrete over brick. Vandalized<br><br>

&nbsp;
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=45.98602,-112.5467">Map</a>
</td></tr>


<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/forestvale_burner_2_small.jpg" width="150" alt="Helena Forestvale Cemetery (China Row)"><p><font size="-2">Photo by Chris Merritt, August 2007</font></td>

<td valign="TOP">Forestvale Cemetery (China Row)<br>
Helena<br>Montana<br>United States</td>

<td valign="TOP">Brick rubble<br><br>
<a href="https://web.archive.org/web/20121016062700/http://www.poorhousestory.com/poorhouses_in_montana.htm">Poorhouses in Montana</a>
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=46.658417,-112.039887">Map</a>

</td></tr>


<tr><td width="175" valign="TOP">
<img src="/media/spec/t-abraham/phillipsburg_burner_small.jpg" width="150" alt="Philipsburg Philipsburg City Cemetery"><p><font size="-2">Photo by Chris Merritt, August 2007</font></td>

<td valign="TOP">Philipsburg City Cemetery<br>
Philipsburg<br>Montana<br>United States</td>

<td valign="TOP">Rubble<br><br>

&nbsp;
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=46.341931,-113.299785">Map</a>
</td></tr>


<tr><td width="175" valign="TOP">

&nbsp;</td>
<td valign="TOP">Chinese Cemetery<br>

Winnemucca<br>Nevada<br>United States</td>
<td valign="TOP">"CHINESE CEMETERY, with a pagoda-topped brick oven"; Redeveloped<br><br>

<a href="https://web.archive.org/web/20121016062700/http://www.americanguides.org/nevada/tours/nvtour1.htm">Nevada:A Guide to the Silver State</a>; Chung, Sue Fawn, Frampton, F. P., and Murphy, T. W. Venerate These Bones, in
<i>Chinese American Death Rituals</i> (2005), p. 110
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=40.977698,-117.743084">Map</a>
</td></tr>











<tr><td width="175" valign="TOP">

&nbsp;</td>
<td valign="TOP">Frost Woods Memorial Park<br>

East Brunswick<br>New Jersey<br>United States</td>
<td valign="TOP">"a black outdoor chimney"; reportedly demolished<br><br>

&nbsp;
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q= 40.406835,-74.405039">Map</a>
</td></tr>


<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/bakercity.jpg" width="150" alt="Baker City Chinese cemetery"><p><font size="-2">Photo by P. Wegars, July 1996.</font></td>

<td valign="TOP">Chinese cemetery<br>
Baker City<br>Oregon<br>United States</td>

<td valign="TOP">Burner reconstruction, masonry; corrugated iron roof; one marker; exhumation pits<br><br>
&nbsp;
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=44.78224245861318,
-117.80785024166107">Map</a>

</td></tr>

<tr><td width="175" valign="TOP">
<img src="/media/spec/t-abraham/pendleton.jpg" width="150" alt="Pendleton Olney Cemetery"><p><font size="-2">Photo by P. Wegars, May 1999. Courtesy, Asian American Comparative Collection.</font></td>

<td valign="TOP">Olney Cemetery<br>
Pendleton<br>Oregon<br>United States</td>

<td valign="TOP">Burner vandalized, now has concrete cap<br><br>

<a href="https://web.archive.org/web/20121016062700/http://www.uidaho.edu/LS/AACC/MUSEUMS.HTM">Asian American Sites</a>
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=45.66016,-118.80502">Map</a>
</td></tr>


<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/merion_memorial_park.jpg" width="150" alt="Bala Cynwyd Merion Memorial Park"><p><font size="-2">Photo by Ken Eng, 2010.</font></td>
<td valign="TOP">Merion Memorial Park<br>

Bala Cynwyd<br>Pennsylvania<br>United States</td>
<td valign="TOP">Burner<br><br>

Zhang, Juwen. 2001. Falling Seeds Take Root. PhD thesis U of Pennsylvania; 215 (photo p. 235).
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=40.016726,-75.242826">Map</a>
</td></tr>












<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/el_paso.jpg" width="150" alt="El Paso Concordia Cemetery"><p><font size="-2">Courtesy Concordia Heritage Association, 2010.</font></td>
<td valign="TOP">Concordia Cemetery<br>

El Paso<br>Texas<br>United States</td>
<td valign="TOP">Masonry burner with concrete facing<br><br>

Crawford, Sybil. 2001. 19th, 20th, and 21st Century Gravestones. <i>AGS</i> (Association for Gravestone Studies) <i>Quarterly</i> 25:2(Spring) 11-12; <a href="https://web.archive.org/web/20121016062700/http://www.concordiacemetery.org/ChineseCemtery.html">Concordia's Chinese Cemetery</a>
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=31.78059,-106.44707">Map</a>
</td></tr>

<tr><td width="175" valign="TOP">

&nbsp;</td>

<td valign="TOP">Salt Lake City Cemetery<br>
Salt Lake City<br>Utah<br>United States</td>

<td valign="TOP">"a square cement box where,
when a burial took place, a part of the clothing of the deceased,
prayers written on paper, and incense were burned"<br><br>
<a href="https://web.archive.org/web/20121016062700/http://archiver.rootsweb.com/th/read/HANDCART/1997-12/0882059573">HANDCART-L Archives</a>

<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=40.774687,-111.862787">Map</a>
</td></tr>
<tr><td width="175" valign="TOP">

<img src="/media/spec/t-abraham/wwburner.jpg" width="150" alt="Walla Walla Mountain View Cemetery"><p><font size="-2">Photo by P. Wegars, 1997.</font></td>
<td valign="TOP">Mountain View Cemetery<br>

Walla Walla<br>Washington<br>United States</td>

<td valign="TOP">Red brick burner, sloping cap<br><br>
<a href="https://web.archive.org/web/20121016062700/http://www.cinarc.org/Topics.html#anchor_360">http://www.cinarc.org/Topics.html#anchor_360</a>
<br><a href="https://web.archive.org/web/20121016062700/http://www.google.com/maps?f=q&amp;hl=en&amp;q=46.04336,-118.32548">Map</a>

</td></tr>

























  </table>

  <p>
  <h2>Burners No Longer Extant</h2>
  <ul>
  <li>Douglas Road Cemetery. <b>New Westminster, BC</b>. "Permission has been granted by the council to
  Chinese residents to build a furnace in the old cemetery on the Douglas road, for the purpose of
  burning Chinese prayers and other inflammable materials used in connection with Mongolian funerals."
  <i>Victoria Colonist</i>, October 18, 1892. Site of New Westminster Secondary School development
  project, see &lt;http://www.royalcityrecord.com/issues04/092204/news/092204nn3.html&gt; (Not Available
  2007); &lt;<a href="https://web.archive.org/web/20121016062700/http://www.boothill.ca/faq.html">http://www.boothill.ca/faq.html</a>&gt;.
  <li> Old Chinese Cemetery. <b>Bakersfield, CA</b>. Gia, Gilbert. "Our Fair City: What became of the Old
   Chinese
  Cemetery?" <i>Bakersfield Blackboard</i>. June 2002. &lt;<a href="https://web.archive.org/web/20121016062700/http://www3.igalaxy.net/~ggia/Articles/1956--BakersfieldsOldChin.html">http://www3.igalaxy.net/~g
  gia/Articles/1956--BakersfieldsOldChin.html</a>&gt;
     <li>Chico Cemetery. <b>Chico, CA</b>. Book, Susan. "Ashes to Ashes: Chinese Cemeteries in Butte
  County." <i>Diggins</i>, 18(1974)9.
  <li>Demersville Cemetery. <b>Kalispell, MT</b>. Shea, Marie Cuffe. Early Flathead and Tobacco Plains.
  [Eureka? Mont.]: M.C. Shea, 1977. p. 82.
  <li> Lone Fir Cemetery. <b>Portland, OR</b>. Personal communication.
  <li> Mount Moriah Cemetery. <b>Deadwood, SD</b>.
  &lt;http://www.deadwoodunderground.com/funerals.html&gt; Not available, 2006.
  </ul>


  <h2>
  Acknowledgments</h2>
  <p>Thanks to those who have contributed information for this census: John Adams, John Atkin, Tom
  Banse, Peter Bell, Randall Bloch, Anthony Briggs, Mel Brown, Jerry Bryant, Sue Fawn Chung, Mellissa
  Edwards, Ken Eng, Barbara Gorrell, Roberta Greenwood, Gordon Grimwade, Wallace R. Hagaman, Barbara
  Hickson, Glen Hodges, Jenny Hodges, Carol Holsworth, Gilbert Hom, Lon Johnson, David Kerkkonen,
  Hiroko Kowta, Emma Louie, Sandy Lydon, Mary L. Maniery, Randy Meeks, Chris Merritt, John Mihelich,
  Sylvia Sun Minnick, Julia Neal, LaVada Nudo, Lucky Owyang,  Gertrude Perkins, Wendy Rouse, Melissa
  Sargent, Ted Shaw, Janet Six, Carrie Wills, Ian Welch, Janis Wilton, Jim Wong, Ken Wou, Busaba Yip,
  and especially Priscilla Wegars.</p>
  <hr>

  <address style="text-align:center">&copy;
  Copyright 2012

   <a href="mailto:tabraham@uidaho.edu">Terry Abraham</a> | Return to <a href="ta.papers.html">Selected
   Papers and
   Presentations</a></address>

   <!-- Google Analytics 1-3-08  -->
   <script type="text/javascript">
   var gaJsHost = (("https:" == document.location.protocol) ? "https://web.archive.org/web/20121016062700/https://ssl./" : "https://web.archive.org/web/20121016062700/http://www./");
   document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
   </script>
   <script type="text/javascript">
   var pageTracker = _gat._getTracker("UA-3330064-2");
   pageTracker._initData();
   pageTracker._trackPageview();
   </script>
   <!-- End analytics code -->




 </body>
 </html>{% include js/webarchive-alert.html %}
