---
title: descript.htm
# layout: none
section: special collections
permalink: /special-collections/t-abraham/descript.htm
---
<!doctype html public "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>

<meta name="Author" content="Terry Abraham">
<meta name="COPYRIGHT" content="Copyright 1999 Terry Abraham">
   <meta http-equiv="Content-Type" content="text/css">
   <meta name="Revision-Date" content="June 12, 2000">
   <link rel="STYLESHEET" type="text/css" href="ta_st.css">
<title>Arrangement
&amp; Description: Description</title>
{% include google-analytics.html %}</head>
<body>


<h1>
Practical Processing: Arrangement and Description</h1>
<p>Terry Abraham
<hr width="100%">
<h2>
DESCRIPTION</h2>

<ul>
<li>
<a href="#guides">Guides</a></li>

<li>
<a href="#catalogs">Catalogs</a></li>

<li>
<a href="#SUBJECT">Subject Access</a></li>

<li>
<a href="#MARC">MARC and AMC</a></li>

<li>
<a href="#TEXT OR DATABASE?">Text or Database?</a></li>

<li>
<a href="#LIBRARY">Library Practice</a></li>

<li>
<a href="#INVENTORIES AND REGISTERS">Inventories and Registers</a></li>

<ul>
<li>
<a href="#Biographical">Biographical Note</a></li>

<br><a href="#Institutional History">Institutional History</a>
<li>
<a href="#Scope and Content">Scope and Content Note</a></li>

<li>
<a href="#Series">Series List</a></li>

<li>
<a href="#Box and Folder">Box and Folder List</a></li>

<li>
<a href="#Item">Item level</a></li>
</ul>

<li>
<a href="#Integrated Levels of">Integrated levels of Description</a></li>

<li>
<a href="#Adaptive">Adaptive Reuse</a></li>

<li>
<a href="#Summary">Conclusion</a></li>
</ul>
<hr>
<p>When the doctor holds the X-ray up against the light and checks
out your bones, it useful to remember that it is only a representation,
a description, if you will, of your insides. Remember the old joke about
the shady doctor who, for a few bucks on the side, would touch up your
X-rays so you wouldn't have to worry about surgery.
<p>As the X-ray is an artificial representation of bones and organs, the
descriptive apparatus surrounding a group of records is equally an artificial
representation. And, even today, there is little that is standardized about
the form of that representation. Archives and manuscripts record the gamut
of human experience, yet the range of descriptive devices undoubtedly exceeds
it by at least half; for archivists have not yet agreed on the minimum
elements necessary to describe records nor the full extent of that description.
<p>Surprisingly, what is seldom considered is the relationship between
the arrangement of the materials and their description. It has been suggested
that a group of records with an ideal arrangement would need no description
at all, for they would be perfectly accessible. That this is patently false
is quite clear; not only would the boxes and folders not have labels but
the mere existence of the group would be unknown.
<p>But there is a direct relationship which is simply stated: the description
makes the arrangement visible. Like an X-ray it shows the elemental structure
behind the facade of identical cartons. And it is a representation which
can be carried away and studied at leisure, pondered for more clues, or
rearranged to show new relationships.
<p>Another aspect lost sight of in most discussions of description is that
there are multiple levels of description, each with its own characteristic
informational content. Some describe whole groups while others describe,
and can only describe, specific parts. All are a part of description, but
it is a mistake to treat any one as "Description." Accordingly, let us
examine some of the levels of description and see if the parts add up to
a greater whole.
<p>The levels of description, while similar to the levels of arrangement,
have actual descriptive systems unique to each. These levels, and their
descriptive systems are as follows:
<center><table border="0" width="60%">
<tr>
<td>Multi-Repository</td>

<td><a href="#guides">Guides</a></td>
</tr>

<tr>
<td>Repository</td>

<td><a href="#catalogs">Catalogs</a></td>
</tr>

<tr>
<td>Groups</td>

<td><a href="#INVENTORIES AND REGISTERS">Inventories and Registers</a></td>
</tr>

<tr>
<td>Series</td>

<td><a href="#Series">Series Description</a></td>
</tr>

<tr>
<td>Item</td>

<td><a href="#Item">Calendar</a></td>
</tr>
</table></center>

<h3>
<a name="guides"></a>Guides</h3>
<p>There are two kinds of guides to primary sources if we dedicate that term
to multi-repository descriptions: the bibliographic and the essay. The
latter has fallen out of favor among archivists but still appears among
the bibliographic notes of some historical scholars. The most significant
archival form is Philip M. Hamer's <i>Guide to Archives and Manuscripts
in the United States</i> (1962) which provides summary information about
the holdings of nearly all US repositories in paragraph form. The bibliographic
model is more apparent in the successor to Hamer, NHPRC's <i>Directory
of Archives and Manuscripts in the United States</i> (l977). Since this
is more of a directory of repositories than a guide to source materials,
a better example would be Richard C. Davis' <i>North American forest history:
a guide to archives and manuscripts in the United States and Canada</i>
(1977) which lists collections in the repositories. Multi-repository guides
attempt to describe archival materials in a wide range of institutions;
accordingly, the descriptions of individual collections or groups are quite
brief. More substantive descriptions of individual collections can be found
in the <i>National Union Catalog of Manuscript Collections</i> (NUCMC),
a multi-volume work of which the first appeared in 1962. However, NUCMC's
entries are more similar to catalogs than guides; it is, after all, the
National Union Catalog.
<h3>
<a name="catalogs"></a>Catalogs</h3>
<p>Catalogs tend to take a one collection or one group at a time approach
to description. The unit of description, the catalogable unit, is determined
therefore by the arrangement. Accordingly, it is the processor who determines
what a catalogable unit contains. The processors' decision to include,
exclude, combine, or remove materials determines the content of the catalog
description. The cataloger, or the person who prepares the catalog description,
relies almost entirely on the inventory or register prepared by the processor.
As a result the summary description at the catalog level is almost completely
controlled by the processor.
<p>In many archives, the processor and the cataloger are the same person
and there is no sense of the two activities being separate, they are both
part of descriptive processing. In larger shops where there is differentiation
among activities, the processor and the cataloger must cooperate to ensure
consistency in the institution's descriptive program. For example, it would
be awkward if the processor titled a group of records The Political Papers
of Mrs. Edgar Smith and the cataloger later chose to use Rose Marie Smith.
Papers.
<p>The reason the cataloger might choose a different construct than the
processor is that the cataloger is increasingly constrained by rules established
outside the repository. For most institutions those rules are stated in
the <i>Anglo-American Cataloging Rules</i> (AACRII) as supplemented by
Steve Henson's <i>Archives, Personal Papers and Manuscripts</i> (1985).
Henson, or APPM, spells out the application of the AACRII library rules
for archival materials. A decade ago, the idea that archivists would be
following library cataloging rules in any fashion would have been greeted
with hoots of laughter. Today, archivists and manuscript curators are flocking
to workshops on AACRII and the MARC (or MAchine Readable Cataloging) format
because advances in technology have made possible the integration of archival
materials in bibliographic data-bases. One cost of that integration has
been the requirement to learn library cataloging rules, the principal benefit
appears to be broader access to information about primary source materials.
It is still to soon to tell if this integration will be widely utilized
by scholars and researchers.
<p>While the details of cataloging according to library rules are much
too complex to spell out here, they can be characterized has having two
principal parts: the name entry and the description. Choice of entry was
once a critical issue for catalogers because a card based system could
have only one main entry, all other entries were "added entries." On a
computer system, all forms of entries could conceivably be "main" entries.
Nonetheless, the "main entry" is the person or organization responsible
for creating the body of records to be described. There are particular
rules for the form of that entry whether it is a personal name or an organizational
entity, see the AACRII rules for specifics.
<p>The body of the catalog entry is the description which tells what the
papers are, how big they are, what dates they cover, and so on. Usually,
there is a general characterization of the paper -- such as Records, Papers,
Letters, Diaries, etc. -- followed by the inclusive dates. A brief biographical
or organizational note is included. This can be followed by, at the minimum,
one sentence describing the records.
<p>Following an early NUCMC practice, I like to split this descriptive
sentence into two parts: the form of the materials and the content of the
materials. For instance: Correspondence, diaries, financial records, and
pencil drawings related to the construction of Little Goose Dam, the development
of the square tomato, and the U.S. Presidential campaign of 1984. Succinctness
is a virtue in these descriptions.
<p>Further notes would lead the researcher to the inventory or register,
detail the acquisition of the papers, and provide a list of subject or name terms
used to access the records. It is important that the subjects and names are 
in proportion to their importance to the collection. In fact, it should be a
rule that only names and subjects listed in the description should be cross-referenced
in this manner. It is incredibly frustrating to follow a catalog entry to a 
record that does not fully explain the relationship between the term and 
the cross-reference.
<h3>
<a name="SUBJECT"></a>SUBJECT ACCESS</h3>
<p>One of the benefits of the automation revolution is that subject access
to archives and manuscripts became both a possibility and -- to gain entrance
to library data-bases -- a necessity. Archival practice has long been that
since the Department of Wildlife is about wildlife, subject access was
unnecessary. This tended to overlook the ability of creators of records
to fill their files with materials not germane to the title on their door
which -- when discovered -- has always been a great benefit to scholars.
The demands of irrigated agriculture on groundwater supply, or the negotiations
with Indians over fishing rights, frequently transcended specific organizational
boundaries. Subject access promises to make those kinds of connections
more visible and less intuitive.
<p>Manuscript curators often provided subject access to their collections
but seldom was it integrated, either physically or intellectually, with
library finding aids. Now that bibliographic databases are beginning to
accept archival and manuscript descriptions -- with subject headings --
archivists are finding yet another batch of rules which specify how they
are to play the game. Instead of idiosyncratically inventing subject names
for things, archivists are finding that they must comply with bibliographic
naming conventions, some of which have never made all that much sense to
librarians. Nevertheless, they serve as standards in an increasingly standardized
world.
<p>Not too many years ago, the standard for subject headings was the Library
of Congress <i>List of Subject Headings</i> (LCSH). However, with the increase
in a variety of non-book related materials, both the Library of Congress
and other agencies are increasingly developing specialized lists to address
specific formats, topics, or categories. Some of these become adopted by
the Library of Congress and assume the role of standard; others provide
a measure of guidance to those who are searching for just the right term.
See, for instance, Diane Vogt O'Connor's Thesaurus on Photos, E. Parker's
on Graphic Materials, etc.
<p>Although the conceptual framework for these lists has grown beyond that
established by the LCSH, to the point where they are designated as specialized
thesaurii, the object is still to give each descriptive entry the correct
-- and most specific -- label for retrieval purposes. Too broad a label
will retrieve too many items with too little relevance while too narrow
a label will not capture enough items which are relevant.
<br>I've always visualized subject headings and cross references as something
like tea bag labels or handles. They are separate from, but connected to
the main description; if you pull one of the handles, you get the description,
like pulling the tea bag out of the cup. What's on the label determines
whether you pull that handle up or go on to the next one.
<p>The complication with automated systems, of course, is that the potential
for pulling the wrong handles as a result of mislabeling or being too broad
or too specific increases with the number of entries on the system. Too
many false entries shakes one's confidence in the usefulness of the retrieval
system. As a result, thesaurus construction, the very narrow definition
of an approved list of terms, is a growing industry at this time.
<p>The important thing, to my mind, is to establish a standard list, and
stick to it as much as possible. This encourages consistency of terms over
time even with different individuals applying terms. This is not to say
that it is ever going to be more than a matter of professional judgment
and even book catalogers are finding woeful discrepancies in how different
catalogers apply standard lists. All we can do is hope for the best and
try our hardest.
<h3>
<a name="MARC"></a>MARC and AMC</h3>
<p>I must confess that most of what I know about MARC has come from reading
about it and very little has derived from either hands-on experience or
training sessions. I've had training in using the search functions on MARC-based
bibliographic systems all right, but I've never actually cataloged on MARC.
<br>Given that confession, let me add that, in all probability, no one
in the world has actually cataloged anything on MARC. MARC, which is a
library acronym for MAchine Readable Cataloging, is essentially a coding
mechanism to ensure the transfer of bibliographic data from one system
to another. The MARC format is used as a way to structure information for
transfer. The actual rules for entering data are the <i>Anglo-American
Cataloging Rules</i> (AACRII). The MARC format doesn't tell you how to
determine the main entry but states that it should go into tag 201 (or
whatever the number is, some systems use mnemonic labels for the tags instead
of the standard numbers).
<p>The introduction of the AMC (for Archives and Manuscripts Control) version
of MARC has changed how archivists think about the description of their
materials. But much of that change has been the result of adopting compromises
to library bibliographic rules. This is all to the good in so far as it
ensures a standard for data interchange since we are increasingly finding
that when we increase preciseness of expression for machine purposes, us
mere mortals find it useful as well.
<p>What has not been beneficial is the tendency for archivists to feel
deficient if they have not mastered the MARC AMC format. Workshops and
training are all very well in accustoming archivists to the requirements
of the format which are becoming increasingly prevalent in our daily work,
but mastery of the format should be left to those who have been trained
and educated in the practice. And those people are professional catalogers,
librarians in most cases.
<p>These people have -- or should have -- learned MARC backwards and forwards.
They should be used to speaking in MARC tags. They should be able to quote
you chapter and verse from AACRII. And, if they are going to catalog manuscripts
and archives, they should have an awareness of those special materials
and more than just a familiarity with Henson's APPM.
<p>It is up to archivists to help them achieve those skills, and to prepare
data for their use in cataloging, and to monitor the development of their
abilities; but it is not necessary for archivists to become professional
catalogers.
<p>As an example, keep in mind the number of archivists who have mastered
more than rudimentary skills in paper conservation. Increasingly, we farm
out our severe conservation problems to the growing body of experts that
have grown up to service those needs. It is nice to know how to do it,
but more central archival tasks should -- and do -- take more of our time
and attention.
<p>The point of this exposition is that archivists should be familiar with
the MARC AMC format (and all the other formats as well) but any archivist
who can properly fill out a NUCMC report form can fill in the essential
data on a MARC tagging worksheet, at least when the taggings are coded
in English. On the other hand, don't follow the librarian's model where
the catalogers dictate the limits of the retrieval apparatus. Learn enough
about the system to use it to our advantage and to keep the catalogers
on the straight and narrow.
<h3>
<a name="TEXT OR DATABASE?"></a>TEXT OR DATABASE?</h3>
<p>One of the advantages of all this new technology is that we have such wonderful
tools to help us in our work; one of the disadvantages is that we should
make sure that we pick the right tool for the right task. It is now possible,
for instance, to enter what we had previously kept on 3x5 cards into the
computer. We do this in the hopes of saving time and increasing the efficiency
of both out own use and that of our patrons.
<p>Keeping a catalog on 3x5 cards is now "old" technology, unsuited for
today's modern age. We no longer have the staff to type (or, as once was
done, write with steel-nib pen and black ink in librarian's script) each
card individually. The equipment formerly used to create multiple cards
on demand is disappearing. The staff to file, revise, and maintain card
catalogs is getting harder to find and to train. But we note that for many,
the first use of the computer was its ability to generate neat-looking
3x5 cards, cards which were filed by hand. Small computers are now large
enough to handle the sorting capabilities of a small card catalog and are
increasingly used in that way. Printouts are now the norm, rather than
cards in a drawer. Larger systems have gone on-line; leaving all the functions
of inquiry and display to the computer. A transitional phase was (and still
is in many institutions) the computer generated production of microfiche
catalogs.
<p>A small or medium sized archive now has available enough computer power
to generate an institutional collection or record group level catalog or
finding aid. Those which have tried this have found that the technology
has changed way the catalog looks and the way the patrons and staff use
it. A lot, of course, depends upon the staff's choices in software and
presentation.
<p>Lawrence R. Stark once noted that one of the common erroneous choices
was between textual and database software. It took me a while to realize,
as he had, that choice of software structures the presentation and retrieval
of information. He argued that most repositories were relying on database
structures to hold information when the majority of their activities were
better geared toward textual solutions.
<p>Some of the split between database and textual software is being resolved
by those who create software as they increasingly combine or integrate
elements of the one into the other. Word-processors that permit sorting
by columns and data-bases that allow lengthy text entries are increasingly
blurring the distinction and easing the choice between the two.
<p>Here's an example of a simple database solution to creating a small
repository level catalog. The textual nature of the description of the
records is, in this example, not fully permitted. Other software than that
chosen might have allowed a more comprehensive solution.

<hr width="100%">
<p>SAMPLE: USING A SIMPLE DATA BASE PROGRAM FOR COLLECTION
LEVEL CONTROL
<p>Catalog File:
<blockquote>RECORD NUMBER 76
<br>NUM MG 22
<br>MNLAST Clark
<br>MNFIRST Barzilla Worth
<br>PDAT 1881-1943
<br>TITL Papers
<br>BGDT 1937
<br>ENDT 1938
<br>SIZ 1 l.f.
<br>DESC Unpublished inventory in the repository.
<br>D1SC Mayor of Idaho Falls, 1913-1914, 1927-1936;
Governor of Idaho,
<br>D2SC 1937-1938. Invitations to Governor Clark
to attend or speak at
<br>D3SC meetings, also copies of several of his
radio addresses.
<br>D4SC
<br>D5SC
<br>DATE* 01-24-86</blockquote>

<p><br>Index File:
<blockquote>RECORD NUMBER 156
<br>NUM MG 22
<br>SBJ Clark, Barzilla Worth, 1881-1943</blockquote>
<p>Formatted entry:
<blockquote>MG 22
<br>Clark, Barzilla Worth, 1881-1943
<br>Papers, 1937-1938 1 l.f.
<br>Mayor of Idaho Falls, 1913-1914, 1927-1936; Governor of Idaho,
<br>1937-1938. Invitations to Governor Clark to attend or speak at meetings,
also copies of several of his radio addresses.
<br>Unpublished inventory in the repository.
<p>Clark, Barzilla Worth, 1881-1943 MG 22</blockquote>
<p>This format was created on PC-FILE and subsequently transferred to FILE
EXPRESS on an IBM-PC. Using a more sophisticated relational data-base would
permit integrating the catalog and index files; some programs can handle
longer fields which would be useful for the descriptive paragraph. Special
lists on specific topics can be created and printed. In addition, the list
can be sorted by any one of the record fields (although in practice the
sort is usually only by the last name or the collection number). Output
is generally to disk as a text file for further formatting before printing.
<p>For inventories and container listings, a word-processor provides a
much more useful basic structure. Unless the contents will be sorted, as
for instance, in an index, a straight box and folder list is easier and
quicker to enter into a text-based system. The virtues of easy revision
and exact control over the output make the word-processor the software
of choice for registers and inventories. Standard formats or style sheets
make easy the institutional uniformity of different inventories.
<h3>
<a name="LIBRARY"></a>LIBRARY PRACTICE</h3>
<p>Earlier I had argued that those elements of bibliographic description more
a part of library practice than of archival practice should, to a certain
extent, be left to the librarians, in particular, the catalogers. This
was not to say that archivists should not be familiar with the procedures
and monitor the librarians' activities in these areas, but that there is
only so much that an archivist can learn and control. Librarians, on the
other hand, are gradually finding that the infusion of archivists, and
archival formats in their bibliographic finding aids is something of a
mixed blessing. On the one hand they have opened up their catalogs to a
wealth of data for their customers and on the other, they have found a
mass of practices and procedures which must strike them as somewhat odd.
In some cases, however, librarians are finding the inclusion of non-published
material helpful in pointing up the more generalized nature of a bibliographical
inquiry and the current movement to consolidate the MARC formats
into one speak to an integration of descriptive elements.
<p>Archivists have long dealt with the oddities of bibliographic data and
it is exhilarating to find those materials being welcomed into the previously
sacrosanct area of library catalogs. Photographs, ephemera, maps, and other
"weird" formats are increasingly being included in MARC based systems.
The universal catalog may, in fact, be at hand.
<p>This inclusion of non-book material must, of course, be tempered with
proper concern for the appropriateness of its description. Cataloging each
negative in a 120,000 negative photograph collection is, while ideally
to be desired, still not an efficient access methodology.
<p>Archival description, then, balances efficient methods with comprehensiveness
of description. Whereas library practice, as a result of the unique but
multiple nature of the book, has stressed comprehensiveness at the item
level. Even librarians have had trouble incorporating serials description
into their book-based systems, whether manual or computerized. It is essential
that archivists retain control over the description of their materials
while joining with librarians and other bibliographers in creating both
a theory and a methodology of accurate and efficient descriptive practices.
<h3>
<a name="INVENTORIES AND REGISTERS"></a>INVENTORIES AND REGISTERS</h3>
<p>Several years ago the SAA's Committee on Finding Aids examined a raft of
finding aids and found that most had a limited number of elements in common.
These were a provenance note, a statement of quantity, a biography or organizational
history, a scope and contents note, a series list, and a box and folder
listing. (See SAA Handbook on inventories and registers, 1977)
<p>Other features frequently found were title pages, tables of contents,
indexes, and additional paraphernalia common to the book format of published
finding aids. But most institutions do not "publish" their inventories,
they photocopy them for distribution as needed. (A commercial project to
microfilm and distribute institutional finding aids is Chadwyck-Healy's
Inventories and Registers in the United States.)
<p>Although Richard Berner's History of Archival Description (1985) tries
to document the shift in description of manuscript materials from single-item
descriptions to inventories of collections, he neglected the importance
of the development of the manuscript register from the archival inventory.
Publications in the American Archivist by manuscript curators at the Library
of Congress and the Huntington Library in the 1950's showed a rising
generation of manuscript librarians how to provide comprehensive description
of groups of materials. The merging of archival and manuscript techniques
was increased. By the late 1970's, SAA could publish one guide to the construction
of inventories -- for archives -- and registers -- for manuscript collections.
<p>Although the sequence of parts was firmly established: provenance note,
a statement of quantity, a biography or organizational history, a scope
and contents note, a series list, and a box and folder listing; the actual
writing took place at different times during processing. For instance,
while provenance and biography (or organizational history) should have
been determined early in the processing activity, actually writing it out
for the register was probably the last thing done. Similarly, the formulation
of the Series List owed a great deal to discoveries made during processing.
It is thus that only on the third pass through the papers that the contents
of the inventory take shape. The actual box and folder list is developed
as the folder and box labels are made. (Some institutions have developed
automated systems which prepare folder labels on press-on stock, from the
inventory, which reduces multiple entry of information.)
<p><a name="3charm"></a><a href="sidebars.htm#charm">Third time's the charm</a>
<p>Since the inventory is designed to present very specific information
about a collection, it is important to recognize that it contains two kinds
of information. First it describes the organization of the materials and
second, it presents the contents of specific physical objects, such as
file folders or ledgers. A sample inventory page would be as follows:
<hr>
<p>Location Designation
<br>Name of Collection
<br>Number of Box Folder Description Items
<p>Series Title
<br>Subseries Title
<p>1 1 Folder Heading,
dates 23
<br> 2 Folder
Heading, dates 25
<br> 19 Folder Heading,
dates 56
<p>Series Title
<p> 20 Folder Heading, dates
78
<br> 22 Folder Heading, dates
85
<p>2 23 Folder Heading, dates
43
<br> 24 Folder Heading, dates
32
<hr>
<p>This format can be canned into the word processor, of course, and used
to standardize the output of a mixed group of processors. But note these
features: box and folder numbers are consecutive from the beginning. The
title of each folder should include the inclusive dates of the materials
in the folder. The item count is most probably an estimate and could be
labelled as such. The series and subseries titles are presented in an outline
form which overlays the box and folder list. For compact storage, there
is no attempt to break the box contents at the end of each series or subseries.
If necessary, the folder labels can be expanded to include a note on contents,
but this is usually not necessary.
<p>In large organizations, folder headings are frequently repetitious as
they are designed to be removable and replaceable modules in an information
system. In preparing an inventory of such repetitive headings, the archivist
should apply some editorial discretion and consolidate entries in so far
as it possible to maintain the appearance of their structure and relationships.
Accordingly, the following:
<ul>
<li>
23 Correspondence, May 1945 25</li>

<li>
24 Correspondence, June 1945 25</li>

<li>
25 Correspondence, July 1945 25</li>

<li>
...</li>

<li>
75 Correspondence, July-November 1967 34</li>

<li>
76 Correspondence, December 1967 16</li>
</ul>
<p>Could be more efficiently presented and comprehended as follows:
<blockquote>Correspondence: 1
23-30 1945-1950 175
<br>
2 31-51 1951-1962
2233
<br>
52-76 1963-1967 245</blockquote>
<p>Similarly, A-Z files can and should be consolidated. Inventories that merely
repeat folder headings when the pattern is quickly comprehended are patronizing
their researchers and making more work for the processor. The processor,
of course, has to be careful that essential information about the contents
of the collection is not buried in an innocuous-seeming inventory.
<p>The place to bring out the quirks in the papers and the treasures which
may be overlooked by the researcher, is in the Scope and Contents note,
which is prepared by the processor after the completion of the final version
of the Series List. It is in the scope and contents note that the processor
explains that while the papers are those of the former governor of the
state, they date from the pre-gubernatorial period and deal only with operating
the family business. The scope and content note also provides an opportunity
to bring out the fact that among the governor's personal papers for that
period are a small sub-series of probate records relating to an ancestor's
estate in 18th Century England. Flagging this information in the scope
and content note, ensures its inclusion in the collection-level entry and
provides the researcher with additional information. The linkage of descriptive
information between the inventory and the catalog entry is an important
concept; it is only in this way that researchers can follow clues from
catalogs to inventories to folder lists to the boxes themselves. And it
is the only way that the information in the catalog, the clues, can be
created from the box list.
<p>This integration of levels of description, of the linkage between information
at the different levels of the hierarchy is poorly understood. Central
to it is the idea that while different things are described at different
levels, description at each higher level is based on the description below
it. That they take necessarily different forms is an idea that depends
on the different uses of the descriptions.
<p>For instance, the register provides, in one package, an itemized folder
listing, the organization of series, and narratives on the people and on
the papers. These are, in fact, different kinds of description at different
levels, but all placed in one package for convenience. The catalog entry
is mistakenly considered just another level of description when, in fact,
it is only an abstract of the information in the register. It is a totally
different kind of finding aid, one that has a completely different purpose.
<p>Some have talked about the role of the catalog as an index to the papers
with multiple entries for each series or, in extreme cases, each folder.
This is applying the tool to the wrong level in the hierarchy of description.
The catalog serves as an indexing and abstracting tool to all the collections
in the repository.
<p>It does this in two ways: one is to present brief abstracts of information
about each collection. The second is to provide multiple terms of access
which provide the researcher with handles to the abstract. Look up Automobiles,
for instance, and the catalog presents you with an abstract describing
the papers of a car dealer in rural Washington state. On the basis of that
descriptive abstract, the researcher should be able to determine if it
is worthwhile to seek out the inventory or register. And the inventory
or register should make it possible to determine if it is worthwhile to
call up one or more boxes of the papers.
<p>For those researchers at distant locales, the ability of the catalog
entry to provide a capsule of the inventory is crucial to their ability
to plan research. Promising collections can be identified easily, archives
can be contacted for copies of inventories, and research travel can then
be planned.
<h4>
<a name="Biographical"></a>Biographical Sketch</h4>
<p>The narrative portion of the inventory provides an opportunity for the
archivist to transmit, in a clear, yet forceful, way, the essence of the
collection or group of records being described. I have seen biographical
sketches that consist of chronologies and lists of publications; these
are minimally serviceable but they deny the archival processor the opportunity
to present the value of the collection to research. A capsule narrative
biography, even if only based on a Who's Who entry plus the arrangement
of the papers, can integrate the description of the life and the description
of the papers into a whole which is greater than either alone. People,
after all, make paper and not the other way around.

<hr width="100%">
<p>A BRIEF BIOGRAPHY OF TALBOT JENNINGS
<p>Talbot Jennings was born in Shoshone, Idaho, August 25, 1894, the son
of the Episcopal archdeacon of
Idaho and Wyoming. He graduated from Nampa High School. After serving
in the Army in World War I,
where he fought in five major battles, he attended the University of
Idaho where he graduated Phi Beta
Kappa in 1924. He attended Harvard University where he earned a master's
degree, and then attended the
Yale Drama School. He received an honorary doctorate from the University
of Idaho in 1939.
<p>While at the University of Idaho he was president of the Associated
Students. He also wrote Light on the
Mountains, a state history set to music, which was first presented
by students in 1923. He was editor of the
yearbook, Gem of the Mountains, and the English Department literary
publication Blue Bucket.
<p>He was the author of 17 screen plays, including Mutiny on the Bounty,
Anna and the King of Siam, The
Good Earth, and Northwest Passage. He also wrote the screenplay for
the 1936 version of Romeo and
Juliet. In addition to movie screenplays he wrote for several television
series including "77 Sunset Strip" and
"The Alaskans". He was twice nominated for an academy award.
<p>Talbot Jennings died in East Glacier, Montana on May 30, 1985.
(MG 186)
<hr width="100%">
<h4>
<a name="Institutional History"></a>Institutional History</h4>
<p>Much the same can be said of an institutional history; it should be more
than names and dates. It should reveal something of purposes and policies;
the functions of the office and their changes over time should be clearly
delineated. Even monolithic government bureaucracies demonstrate a surprising
amount of change when examined in a an historical light. And frequently,
there are clues to those changes in the records of the organization.

<hr width="100%">
<p>A BRIEF HISTORY OF THE LATAH COUNTY MENTAL
HEALTH ASSOCIATION
<p>The Latah County Mental Health Association was organized in 1958 and
the articles of incorporation were
filed in July 1959. Its primary purpose was to provide the public with
information regarding mental health
and to act as a coordinating agency for organizations and individuals
requesting services in the field of mental
health. Included in topics discussed at meetings were special education,
problems of the elderly, and drug
and alcohol abuse. Money for the organization was obtained through
membership dues and additional
funding was provided from the United Way.
<p>Among the projects sponsored by the group were Meals on Wheels and the
Nightline telephone crisis
service. It also published a directory of community services. By the
1970's members appeared to lose
interest and other, newer, organizations performed the same function.
On May 1, 1975 a final meeting was
held and the board voted for dissolution. The assets, just over $1200,
were distributed to the Recycling
Center, the Mental Health Center, and Volunteers in Moscow; the final
motion of the meeting was to donate
the LCMHA records to the University of Idaho Library. (MG 89)
<hr width="100%">
<p>Remember, however, that the purpose is to present the researcher with
enough information about the organization (or person) and their records
so as to make a decision about the usefulness of sending someone down to
the basement to fetch a particular box. If you are the one sent to the
basement, you will want that judgment to be as carefully considered and
based on the greatest amount of evidence as can be brought to bear on the
decision. That is another good reason why those on the processing side
of archival activities should share in reference duties, and vice-versa.
<h4>
<a name="Scope and Content"></a>Scope and Content Note</h4>
<p>However, if the biographical or organizational sketch is relatively cut
and dried, a rehash of a press release or a CV; the scope and content note
is the where the archivist really demonstrates what has been learned about
the records. Proper to preparing this section, the processor should step
back from the minutiae of folder listings and look at the larger sweep
of the records. Some series may be more important than others in comparison
to their bulk, some might be designated as not worth the labor-intensive
kind of research which they would require. Series, sub-series, folders,
and even items of particular interest should be highlighted. Even more
important is to bring out the hidden treasures that a casual glance of
the main entry would not reveal.
<p>To do this well, of course, requires more than spending thirty hours
a day taking paper clips off of old telegrams. It requires a sense of the
events, scope, and impact of the historical events and activities touched
upon in the papers. The daily entries of a US gunboat surgeon's voyages
in the far east during the 1870's become more interesting when it is learned
that George Dewey, later the hero of Manila, was in charge of the vessel
until removed by sickness in the Mediterranean. (See George W. Woods, US
Naval Surgeon in the Pacific, edited by Frederick Bohm and Robert Swartout.
Korean Institute, 198?)
<p>It is difficult to talk or write about the past without being, in some
sense, a historian. However widespread historical training is among archivists,
for these narratives to reveal what is needed about the papers and provide
information to researchers (whether historians or not) requires participation
in crafting a historical narrative. Accordingly, the archivist needs to
master both analytical and pedagogical skills to succeed in preparing effective
narratives. Frequently, I have suggested to processors that an inventory
which they have prepared is a good beginning for a brief essay for a local
history journal and several have gone on to publish in this fashion.
<h4>
<a name="Series"></a>Series List</h4>
<p>The list of series and sub-series is usually where the inventory starts
taking on the character of lists. It might be dull, but it is an effective
way of presenting concentrated information. The contents of the series
list should also be repeated in the container list where they serve to
effectively mark the breaks from one portion of the files to another. The
series list itself is designed to present an overview or outline of the
records so the redundancy is not duplicative.
<p>Some processors have included narrative paragraphs, miniature scope
and contents notes, for each series in the list of series. This can be
a very effective way of presenting more detail at the overview level. Alternatively,
the Scope and Contents note itself could be arranged into paragraphs fashioned
after the individual series.
<h4>
<a name="Box and Folder"></a>Box and Folder Lists</h4>
<p>The box and folder list is the core of the inventory and the least interesting
part. Unless, of course, you are looking for a specific letter or piece
of information and are trying to deduce which particular box should be
requested. For those, the box and folder list should be constructed with
care and sensitivity. It should concisely list the contents in the way
that best reveals them to the inquiring eye. There should be no confusion
about where one box starts and another ends. Nor should the location identification
for an individual folder be disguised or strangely coded. A glance at the
inventory should be to the scholar as a glance at an x-ray is to a physician.
Of course, that assumes that the scholar has studied registers and inventories
as long as the physician has studied x-rays.
<h4>
<a name="Item"></a>Item level</h4>
<p>Archivists keep hearing, in the literature and at professional meetings,
that item level description is no longer done, it is too expensive, too
labor intensive, and too disruptive of descriptive systems based on the
concepts of provenance and hierarchies.
<p>All of which is true, yet item level descriptions continue. Some manuscript
collections, for instance, are essentially collections of disparate items;
they require item-level description. Some archival records of pre-colonial
days are in such high demand and are so fragile, that it is essential to
construct descriptive systems that will answer a researcher's questions
sufficiently to diminish the gratuitous physical handling of the materials.
<p>Part of the confusion stems from the lack of sensitivity to the level
of description; is the description of one item in a larger collection or
is the collection, in fact, one item. Internal policies in the repository
will frequently have more of an impact on how these questions are resolved
than will "theoretical" constructs of provenance and Respect des Fonds.
<h3>
<a name="Integrated Levels of"></a>Integrated Levels of Description</h3>
<p>As we have seen, the descriptive system mimics the levels of arrangement.
Each different level of arrangement has one or more descriptive methodology
that has grown up around it. Richard Berner, in his books and articles,
was in the forefront in searching for a methodology that would, in some
fashion, integrate descriptive systems. The automation people had great
hopes for SPINDEX, a hierarchically based system, that permitted the entry
of descriptions from each level into one database. In all likelihood, this
technique will be used in other automated systems.
<p>What has not been examined with any rigor is whether an integrated system
is theoretically sound or intellectually justified. It sounds good, but
is it necessary? Part of the problem is that while archival practice has
developed a variety of techniques to present information about records
to researchers, no unified theory exists which encompasses information
needs at different levels.
<p>For instance, let us construct an integrated descriptive system for
published materials. It would contain in one catalog or database bibliographic
descriptions of each book and all its variants, a list of the chapters
in each book, access to the index terms in all the indexes in all the books,
inclusion of all the footnotes and bibliographies and bibliographic citations
in all the books (the latter should be easy to code for the entry at the
book description level). If we got really integrated, we might include
citation to all the book reviews about a book, all biographies of the author,
plus all the trade news about the publisher and particularly the treatment
(number of copies, editorial team, etc.) on each book. Like the hypertext
systems now being touted, these would all be entered into one database
and each piece of data would be linked to the relevant other pieces of
data. Two questions, is this integrated? And, who decides what is to be
linked to what?
<p>To the institutional archivist, the hierarchical nature of the institution
(and more importantly, its filing systems) suggests the dream of an integrated
system that reflects that hierarchical nature. Agencies have subordinate
departments, departments have subordinate offices, offices have filing
systems reflecting those hierarchies. Archivists document the hierarchies
by gathering records from the top down.
<p>What is overlooked in applying this conception to an integrated system
of description is that the hierarchies of description don't match the hierarchies
of offices, agencies and functions. A guide or catalog to a repository
describes the same materials as the inventory of a single group, but it
describes them in a different way and for a different purpose. It provides
abstracts of the information in the different registers for quick reference;
it is not a description of some pinnacle of the hierarchy.
<p>Others, using the hypertext model, suggest that an integrated system
will link data at different levels into one whole. That in the same system
you could retrieve -- for instance, on a subject inquiry -- the description
of the papers of Henry David Thoreau in a repository. Desiring further
information, you could retrieve the register of the collection, and following
the linkage, delve into the series and box and folder lists. This system
is already in effect at most repositories, either on manual or automated
systems. This is because the data in each separate place is linked to additional
and more detailed data. But is it integrated? Has integrated been defined
so that one could tell if it was or not?
<p>Is an integrated system one in which you could ask for information about
Henry Ward Beecher and retrieve the information that his papers are (hypothetically)
at Yale, some of his letters are in Thoreau's papers at Harvard, that the
research notes of his biographer are at the Library of Congress, and that
some of the records of a memorial committee are at Washington State University?
That much information is the promise of the National Union Catalog of Manuscript
Collections (NUCMC) a voluntary assemblage of collection-level descriptions.
<p>As a catch-phrase, integrated levels of description promises a great
deal but fails to deliver through lack of definition. Stripped of the rhetoric,
Richard Berner's accounts of integrated descriptive systems are clearly
the merging of index terms across collection boundaries; an index which
combined terms from series and folder listings (with no identification
of the levels from which they were drawn). He denied the utility of collection-level
descriptions and their accompanying indexes because he sought a natural
or self-indexing system. Because of this, he had to redefine sub-groups
in such a way as to provide his index with indexable terms. This forced
the rearrangement of the records, and the breakup of the original order.
It was clearly a case of theory driving practice, and in the wrong direction,
too. (See Berner and Haller articles.)
<p>In short, "integrated levels of description" is a chimera, a mythical
beast which devoured one of the most innovative archivists of recent generations.
<h3>
<a name="Adaptive"></a>Adaptive Reuse</h3>
<p>This leads, in a somewhat devious fashion, to the point that archivists,
as Larry Stark points out, primarily deal with texts; they read and write
and should develop a certain amount of competence in both activities. To
be able to research and write a compact biographical statement that is
both informative and readable is a skill to be developed. However, once
developed, it should not be squandered solely on the crafting of further
biographical sketches. The research, the words, and the information should
be put to use to benefit both the archives and the larger society.
<p>The old issues of historical or librarian training for archivists always
brought up the issue that the archivist must concentrate on being an archivist
and should avoid stepping out (it was always assumed, on company time)
onto the historian's turf. This was even presented as some kind of conflict
of interest, almost as heinous as dealing in the manuscripts collected
by the repository.
<p>Although it is but one small part of an archivist's job -- and one of
the pleasures of being an archivist is that there are multiple and differing
activities which make up that job -- raising the public consciousness about
the historical documents in one's collection is an important activity.
The fact that making the historical record and its preservation of significance
to the larger society is an act of survival is not unimportant.
<p>Accordingly, the finding aid for each major collection should be mined
for text that can be turned into a news story about the collection and
about the archives. In some cases, the announcement of the opening of the
records to research is the best you can do. In others, an interesting document
or a brush with a famous person will serve as the tag for a story that
brings out, even if only in passing, the role of primary source materials
in the documentation of our sense of past.
<p>News releases are only one form of publicity about the archives and
its collections. Events ranging from lectures to "opening" receptions will
help to highlight the work of archivists and archives. Exhibits and displays
-- even that old standby, a repository's "treasures" -- can provide another
opportunity to demonstrate the riches and the resources of the collections.
(For more information, see the Farr and Casterline SAA manual.) Some stories
just beg to be bold told in more formal ways; local history journals or
specialized periodicals may be an outlet for broadly researched narratives
based on primary sources. Many journals actively seek relevant edited documents
or well-captioned photographs as a kind of "historical filler." An institutional
archives should offer to supply historical articles to the editor of an
in-house publication. These provide an opportunity to counteract the common
misperception that the work of the archives is not relevant to the ongoing
work of the institution. It won't eliminate it, but it might open some
doors that would otherwise be closed.
<p>If all else fails, the archives might consider preparing its own newsletter
for wide distribution. Stories about the collections and about the people
who use them and the staff who make that use possible should help answer
questions most people don't think to ask.
<p>While most institutions prepare typewritten (or computer printed) inventories
and container lists which can be used for in-house reference or photocopied
to send to researchers, some have gone one step further and published them
as well. Although few collections in most repositories are worth the expense
and bother, the publication of a register is another public relations opportunity.
<p>Another publication project undertaken by many archival agencies is
a guide to the holdings. This is frequently a monumental work -- which
is instantly out of date -- with sometimes slim benefits. (See article
on "Living with a guide") The arguments for and against a guide are many,
but -- at the very least -- it's publication offers another opportunity
to publicize the archives, its holdings and its services.
<p>The importance of publicity to an archives is not widespread but even
less understood is the dependence of substantive information on adequate
descriptive systems: catalogs, finding aids, guides, bibliographies. Without
knowledge of the collections, public relations efforts will fail, focused
as they must be on ephemeral events or intangible ideas.
<h3>
<a name="Summary"></a>Conclusion</h3>
<p>Description, as was pointed out earlier, is the arrangement made visible.
It is also the presentation of other possible arrangements, cases where
the order in the boxes is not the best presentation of the contents, where
it has been "rearranged on paper." Description is also where the researcher
finds the handles or tags which provide clues to the contents of the archives
group. The indexing function of subject headings and cross references is
an essential part of the description process.
<p>What then are the components of archival description? Like journalists,
archivists must answer the who, what, where, when, why, and how questions.
An archival description identifies the creator, either an individual or
an organization. The function of authority controls is to make sure that
all references to the person we know as Samuel L. Clemens are listed in
the same, identical fashion so that there is no potential for confusion.
For instance, we know Mark Twain is Sam Clemens, but is the Sam Clemens
who was born in l906 the same as the man who wrote "Tom Sawyer." Is the
Delaware Department of Commerce just another name for the Delaware Department
of Commerce and Industry or do those two agencies have entirely separate
and distinct histories?
<p><b>What</b> is basically a question of form and type: records and papers
are catch-all terms for archival groups and manuscript collections. More
precise, and more limiting, terms are correspondence, diaries, financial
records, scrapbooks, and so on. An authority file or genre list helps the
processor in determining exactly which kind of form is being described.
<p><b>Where</b> is a question of geographical location. Gazetteers provide
one kind of authority control for geographical names. Equally important
is maintaining the correct name for the same territory at different times.
Lewiston, a town at the junction of the Clearwater and Snake Rivers in
the Pacific Northwest, was at different times part of Washington Territory,
Idaho Territory, and the State of Idaho. Six Flags over Texas, the popular
amusement park, is an illustration of how where something is turns out
to be a function of when it is.
<p>And <b>when</b> is a further piece of information that should be included
in archival description. Usually, for papers created over time, we designate
the range using the beginning date and ending date as a terminal markers.
Frequently archivists confuse the date of the document with the date of
the content; how would you designate the beginning and ending dates of
an assemblage of medieval manuscripts gathered together by a twentieth-century
collector? What is the date of a reminiscence of the 1960's which was written
in the 1980's?
<p><b>Why</b> and how are questions that are seldom answered in archival
description although, where known, they are frequently recorded in the
accession file. Why was this collection put together? How was this railroad
company's records saved and transferred to the archives? Frequently, the
how and why make excellent stories for the promotion of the work of the
archives. And, at times, the why of a collection is an important fact revealing
not only the purpose of the assemblage but the inclinations of the present
to control how the future looks at the past. Any donor who has "reviewed"
the files before transferring them to the archives is engaged in an attempt
to control the future. Knowledge of that fact is important, both to the
archivists and to potential researchers.
<hr width="100%">
<p><a href="a&amp;d.htm">Contents</a> <a href="arrange.htm">Previous</a>
<br>
<hr width="100%">
<p>January 1999 / descript.htm / <a href="mailto:tabraham@uidaho.edu">tabraham@uidaho.edu</a>
</body>
</html>{% include js/webarchive-alert.html %}
