---
title: inlan.htm
# layout: none
section: special collections
permalink: /special-collections/t-abraham/inlan.htm
---
<!doctype html public "-//IETF//DTD HTML//EN">
<html>

<head>

   <meta http-equiv="Content-Type" content="text/css">
   <meta name="Revision-Date" content="June 12, 2000">
   <link rel="STYLESHEET" type="text/css" href="ta_st.css">

<title>Books to Bytes</title>

<meta name="AUTHOR" content="Terry Abraham">
<meta name="COPYRIGHT" content="Copyright 1995 Terry Abraham">
{% include google-analytics.html %}</head>

<body>

<h1>Books to Bytes: Libraries and the Internet</h1>

<p>
A presentation to the Inland Northwest Council of Libraries Director's
Retreat <br>
by Terry Abraham, University of Idaho Library, June 4, 1992.<hr>

<p>
Imagine, if you will, the typical university student of forty
years back. In the library, open books spread out on the table,
taking notes in a spiral bound notebook or blue three-ring binder;
surrounded by the bibliographic edifices of the age: the card
catalog, <i>Readers' Guide</i>, shelf after shelf of abstracts,
indexes, and reference books. The student, however, is busy copying
a page of text from a recent <i>Look</i> magazine article; copying
machines are not yet available in this library.
<p>
Today's student, in contrast, is -- in many institutions -- working
on a personal computer in the dorm room, with access thereby to
several library catalogs, periodical indexes, encyclopedias and
other reference books, and full-text of many magazine and journal
articles. Using communications and word processing software the
student can find text, extract a copy to disk, and insert it whole
into the term paper.
<p>
What is striking about these two images? The physical shift of
academic activities from the library to someplace else; the disappearance
of the structure, the library building, and its contents. The
emergence of the &quot;virtual&quot; library.
<p>
Virtual is one of those slippery words that has had its meaning
changed by current usage. An older definition is still apropos:
&quot;Having the power of invisible efficacy without the agency
of the material element&quot; (Webster's Second). The new definition
follows on that: the ability to get almost as much from a representation
as from the real object. To go to the library without getting
out of your chair and leaving the room.
<p>
We're not quite there yet. A message posted on PACS-L, the Public
Access Computer Systems Forum (a LISTSERV on BITNET) notes: &quot;The
virtual library already exists and has for some time. There are
no shelves as yet in the virtual library, the call numbers are
strange and seem to have no relation to one another. The doors
of the virtual library are locked and permit access only to a
tiny elite who have the equipment to gain access. Catalogs and
printed guides...are beginning to appear, but access to them is
also difficult and limited....&quot; (A.J. Wright, PACS-L, 25
February 92 10:39:55 PST). But access to the virtual library will
soon become easier for all. And what are the consequences for
the library, a construct of buildings, staff, materials; where
will all these be when our customers start using the virtual library
in earnest?
<p>
Some clues about the future are visible today. For instance, the
computer has been likened to the printing press and the steam
engine as an agent of significant social change. A recent television
commentator dragged out the old story about how if autos had developed
in the same way as computers, cars today would go a million miles
an hour and get a million miles to the gallon. The rate of change
in computers has been incredible, at a scale previously unknown,
as this story indicates. But wait, it is even more phenomenal
than that. When I first heard this story less than a decade ago,
the numbers were hundreds, not millions.
<p>
So it is not just that things are changing rapidly, but that the
rate of change is increasing rapidly. Planning for the long-term
has to be both general and flexible; for tomorrow's unknowns will
be here before we know it. Lewis Carroll described this perfectly
when his Red Queen told Alice that it is necessary to run as fast
as you can just to stay in one place (<i>Through the Looking Glass</i>.
NY: Macmillan, 1966, p. 26).
<p>
There is no question that automation and networking are changing
the world of publishing. The 2nd edition of the Directory of Electronic
Journals, Newsletters, and Academic Discussion Lists (Washington,
DC, ARL, 1992), already 50% larger than the edition published
last year, includes almost nine hundred discussion lists, journals,
newsletters, and other titles that are now distributed electronically.
How many of these are &quot;in&quot; your library? How is the
library providing bibliographic and &quot;physical&quot; access
to these publications? How many do there have to be before we
start providing access?
<p>
Things are changing, and not all are accelerating in a upward
spiral. The growth curve for academic libraries is no longer Fremont
Rider's parabola, doubling every sixteen years (<i>The Scholar
and the Future of the Research Library</i>. NY, Hadham Press,
1944). Statistics from the Association of Research Libraries report
a 15% drop in monographs purchased since 1986 (ARL news release,
April 17, 1992).
<p>
The ability of government to support essential public programs
has been eroded by decades of wasteful and inconclusive wars (on
poverty, crime, drugs, Iraq). Those who propose limits on taxation
claim &quot;It's the principle, not the money&quot; which, when
decoded, means they are watching their pocketbooks, not yours.
The sleight-of-hand that funds literacy programs in libraries,
but not materials is from those who blame urban rioting on the
lack of family values among fictional television characters.
<p>
The traditional self-educational role of libraries is also threatened
by new technologies. For instance, institutions of higher education
are increasing their emphasis on outreach or distance education.
This is proving difficult for libraries which achieve economies
through centralization. Electronic communication permits, even
encourages, the decentralization of both information services
and the educational experience itself.
<p>
And what about the changes in librarianship? Are there portents
and patterns there? Have MARC and the bibliographic databases
made an impact in our libraries? Do you still order cards from
LC? The act of cataloging, in many institutions, has been redefined.
Much of the workload formerly carried by professional librarians
is now done by staff. The ability to accept without change the
cataloging of other institutions has made a fundamental shift
in the nature of cataloging practice. The cooperative nature of
the new librarianship is best demonstrated in the Cataloging Department.
<p>
On-line data-services, such as DIALOG, which have been available
for decades, are also undergoing a revolution. Libraries find
that CD-ROMs of not-quite current and generally incomplete data
have driven out the up-to-date, complete data found on-line. There
are two obvious reasons for this: ease of use (by the user directly
and not through a librarian intermediary) and lack of cost to
the user. The illusion of access combined with meterless searching
has resulted in long lines at the CD-ROM stations and only dust-bunnies
in the index shelves. In addition, the fixed costs of CD-ROM are
attractive to librarians, they ease budget-making.
<p>
But CD-ROMs are an interim technology also. CD-ROM searches will
diminish as the customers choose ease of access (from their homes
and offices) over comprehensiveness. And, as the on-line services
migrate down to the newly available local electronic catalogs
there will be a continuing decline in mediated searches.
<p>
This will also have an impact on the provision of reference services.
Studies of information seeking have shown that people will ask
friends and family for information before they will go to the
library (Ching-chih Chen and Peter Harmon. Library Effectiveness
in Meeting Information Consumer's Needs. in <i>Library Effectiveness:
A State of the Art</i>. Chicago, ALA-LAMA, 1980. 54). Unmediated
searching (or the open-stacks approach to data) will further reduce
the reference load. However, it will not reduce the questions.
The questions will lean more in the direction of, &quot;What is
the command to log a session to disk?&quot; &quot;What switches
need to be changed to get a color display on my home computer?&quot;
&quot;What are the commands to search only the last year of the
database?&quot; These are the electronic equivalent to &quot;Where
is the restroom?&quot; Questions will focus on access and not
information; there are seldom questions about the Boolean searching
capabilities of the system. This characteristic of users (even
librarian users) can be demonstrated by reading through a couple
of days' worth of messages on the CD-ROM listservs.
<p>
Reference and cataloging are but two of the library functions
that are undergoing change. Collection development has also been
substantially altered by the availability of on-line systems.
Not only is it easier to verify bibliographic information, but
-- in a shared database -- it is particularly useful to see who
else owns a particular book. Or does not own it.
<p>
The Great Conspectus Charade -- also made possible by automation
developments -- has had much less of an impact on the development
of library collections. The decision to purchase a book is still
made one book at a time. And the time to make that decision is
frequently seconds rather than hours. The changes in collection
development are at root economic. At the University of Idaho,
a few years back, we changed the name of the Collection Development
Committee to Collection Management Committee as we had little
money to develop the collection. Recent and ongoing serials cuts
suggest another change: the Collection Dismemberment Committee.
<p>
Another area that has seen and will see a major sea change is
InterLibrary Loan (ILL). At the University of Idaho, interlibrary
loan transactions doubled in the first eight years of the eighties
and have nearly doubled again in the following four years. And
most of that increase in the last four years was borrowings. The
1990-91 ARL statistics, according to an ARL news release (April
17, 1992) show a whopping 45-47% increase in interlibrary loans
since 1986. Does this answer the question, &quot;What happens
when you cut book and serial purchases?&quot; (This also reflects
a policy change at the UofI; users are no longer being charged
back the ILL lending costs.)
<p>
We were quite amazed to discover the ILL request form embedded
in the Lasercat software last year. The user finds that some other
library owns the book, punches a button, and automatically generates
an ALA approved ILL request form to turn in to the ILL office.
(Where, of course, they transmit the message electronically on-line;
but the original request is as verified as can be.)
<p>
The next step, of course, is for the user to send the request
directly, without any intervention by the library staff. Librarians,
protecting their turf (and their collection) will never let this
happen, will they? But isn't that what CARL's Uncover2 does right
now? Medical librarians were recently asked to &quot;consider
changing [their] ways&quot; and mailing copies directly to the
requesting user (<i>National Network/Libraries of Medicine Supplement</i>
(May 1992) 3). Are other libraries ready for this? When they are
we can change the name of interlibrary loan; it will no longer
be &quot;interlibrary&quot; and will seldom involve the loan of
library materials.
<p>
In this new environment, collection development will shift from
&quot;just in case&quot; to &quot;just in time&quot; perhaps with
better effect than General Motors. Providing information, rather
than objects to be shelved, will become paramount.
<p>
Virtual libraries are but one manifestation of virtual realities.
Again, a virtual library is a representation of reality, an abstraction.
No matter how detailed, it can never be as rich as the real world.
Books, themselves, it should be noted, are also representations
of reality. And an encyclopedia could be considered an early example
of a virtual library.
<p>
But what about the book? Books are human-centered, not machine-centered
objects; will we lose that? Most of the pundits feel that the
book will be around for some time to come, but that portions of
the information will shift to electronic formats, some sooner,
some later. As a representation, an electronic text (or E-Text)
seems an unlikely substitute for a good book. However, when the
Marketing Manager for Commercial Publishing at Apple notes in
a panel discussion &quot;We need to think about what the library
of ten years from now is going to look like. I love books, but...&quot;
(Lisa Wellman, quoted in Color publishing, <i>Publish</i>, 7:6(June
1992)74,76) that &quot;but&quot; is the death knell for libraries.
She goes on to say, &quot;I do think that we need to look at getting
the information accessible to people.&quot; Libraries that devote
themselves to books -- and journals -- without regard for on-going
developments in the information age will become sepulchral monuments.
We must not, as Geoffrey Numberg cautions, &quot;mistake the cultural
content for the artifacts&quot; (as reported by Jack Kessler in
his account of the Bibliotheque de France conference, EXLIBRIS
LISTSERV, 27 April 92 18:03:22). As an archivist, I have been
battling the &quot;dusty archives&quot; image, and its implication
of little-used, for years. Now, perhaps, it is the library's turn.
<p>
I am not suggesting that next year on the first of July all publishers
will shut off their printing presses and go electronic. It will
be more glacial, a little bit more snow this winter, a little
less thawing next summer, and before we know it we have ice delivered
door to door. Charles Robinson, in his prescient &quot;The Public
Library Vanishes&quot; (<i>Library Journal</i>, (March 15, 1992)
54) describes a prototype &quot;Bookbank&quot; now in development
in which users with a credit card extract electronic texts from
a vending machine. Those working on this project plan on putting
them in libraries; Robinson wonders why they think someone would
go to the library to buy a text.
<p>
Raymond Kurzweil turned the question around and asked who would
buy a book if you can borrow it electronically from a virtual
library? The responses he received were quite instructive. One
oracle noted that &quot;no one should feel too secure in the information
revolution.&quot; That is to say, it is impossible to impose boundaries
during a revolution; neither publishers nor librarians should
rest easily. The other response was more to the point: &quot;the
free library is not free.&quot; (Raymond Kurzweil, The Future
of Libraries, Part 3: The Virtual Library, <i>Library Journal</i>,
117:5(March 15, 1992)63-64.) Someone pays, no matter what. The
question is who and under what circumstances.
<p>
The key to this onslaught of electromagnetic impulses will be
economic, not accessibility. OPACS that provide users with periodical
indexes or other access tools currently shield the user from the
costs. Electronic access is already being metered and libraries
are spending large sums for passwords to databases. User fees
are but one response to increasing costs of providing access.
Such fees support the efforts of publishers to charge use fees
on each article or book. In Britain, libraries pay a &quot;use
tax&quot; based on circulation that recompenses authors for lost
sales.
<p>
Copyright fees will be an essential ingredient in the new librarianship.
The Copyright Clearance Center has started, among a number of
pilot projects, a media campaign that suggests each photocopy
machine should have a mechanism to collect royalties. The proponents
of copyright reform, concerned about the ease of copying electronic
information, are seeking methods to ensure payment for information
as it is used. (David L. Wilson, &quot;Critics of copyright law
seek new ways to prevent unauthorized use of computerized information,&quot;
<i>Chronicle of Higher Education</i>, May 6, 1992, A23-A24)
<p>
The other major library function, frequently overlooked, is administration.
Have changes taken place in this area? Have these developments
fundamentally changed how libraries are managed and administered?
I believe the answer is no and not yet. As staff shrinks in size
-- under pressure from lower budgets and the off-loading of more
services -- fewer administrators are a possibility. On the other
hand, the proliferation of titles and assignments may mean we
will all end up as administrators. Let the machines do the dirty
work.
<p>
Automation, particularly PC-based software such as spreadsheets
and word-processors, has changed some of what is done but it has
not yet restructured the whole institution. Local area networks,
E-mail, and &quot;paperless transactions&quot; have yet to make
inroads in most libraries. Will librarians become even more specialized
and library units more &quot;collegial&quot; as a result? Will
salaries increase sufficiently to attract the bright young professionals
we would like to see in the profession? A public librarian on
the cover of a recent Library Journal was quoted as saying that
she had considered academic librarianship, but they wanted too
many degrees and didn't pay enough in salaries (November 1, 1991,
48).
<p>
In the new electronic environment, some people will serve as &quot;information
surfers;&quot; those on the leading edge of the information wave,
&quot;generalists...who can tease knowledge and understanding
out of large information flows.&quot; (Paul Saffo, Surfing for
information, <i>Personal Computing</i>, 13:7(July 1989)213). How
many of them will be librarians? And how many of these will be
self-employed contract labor, working at home with no fringes,
no contract, and no annual salary.
<p>
There are no hard and fast answers to these questions. But they
do suggest a few strategic planning tools for the future.
<p>
For library administrators, the allocation of funds is the basic
high wire act. Spending priorities are the essential essence of
planning.
<p>
That we are not likely to see any increase in budgets is a good
place to start. However, those who remember the &quot;boom&quot;
times of the sixties can recall that it was only in retrospect
that those were &quot;boom&quot; times. Every gain required struggling,
every increase was an attempt at catch-up as other areas literally
&quot;exploded.&quot; Prioritizing services is thus critical;
if the money does start to flow again, let's spend it on established
priorities.
<p>
But where will the increased flow of money come from? Will money
follow the information? It is unlikely it will come from government,
not in the near future. The users, who will be paying for much
information directly, will resist support of centralized institutions.
Fee-based services are one possibility, but are not yet professionally
acceptable. More effort in fund-raising and development and the
cultivation of friends groups and other supporters, is a good
bet, at least in the short term. A library without a development
effort in place is going to be left behind.
<p>
Where should the money be spent? It looks like more computers,
more automation, and more networking would be a safe bet. Many
analysts suggest that computer purchases should be accounted as
consumables, not capital costs.
<p>
There will be an increasing shift from materials to services and
most of those services will be outside the library. Until the
accounting systems change, capital expenditures will be in equipment
-- computers and telecommunications (which are headed for a merger),
not just in books and journals. Instead of buying the intellectual
content in covers, it will be leased from information providers.
<p>
Staffing will decrease substantially. Greatly under-appreciated
and under-rewarded for their contributions to the institutional
effort even today, they will -- in the face of redundancies --
become more militant. Quite a change for librarians and library
staff. Increased automation will, as promised, reduce the staff.
But not through savings and efficiencies. Automation requires
more skills and more education; those people will need to be paid
more. But the pool of money won't increase, so fewer people will
be employed.
<p>
One way to maintain staffing levels would be through agreements
to provide information services (like CARL's Uncover) on a fee
or exchange basis. In the dim-dark past, libraries had the leisure
to create and distribute bibliographies, guides to the literature,
and other tools to assist the user. Becoming purveyors of information,
for a fee, will keep some libraries fully staffed.
<p>
For a while, at least, there will be more borrowing and less lending.
However, as more and more libraries cut back on the purchase of
physical items, there will be fewer and fewer places to borrow
from; not to mention that there will be fewer and fewer things
published in that format.
<p>
There will be less reference and more teaching. Reference, as
presently constituted, has never been cost-effective. As librarians
we have unanimously held two contradictory ideas in our heads:
that users are too dumb to find what they want and that they are
bright enough to ask for assistance. In 1990/91 at UofI we had
half a million bodies enter the building; less than ten percent
asked any questions of the staff at all.
<p>
What we call bibliographic instruction has grown substantially
in the last several years. And we're barely able to keep up with
the new CD-ROMS and their varying software, let alone all the
information services that will be opened up to the public on the
new automated system.
<p>
Perhaps as a result of concentrating more effort on teaching and
less on reference, academic librarians will -- at long last --
be acknowledged by the teaching faculty as colleagues. On the
other hand, if librarians were primarily teachers, their workload
would better accommodate the research they need to conduct in
order to gain promotion and tenure.
<p>
While novels will continue to be published in hard copy for some
time to come, public libraries will shift more of their budget
toward alternate media. Video was just the first wedge of new
formats. At the university, book and periodical purchases will
continue to show more growth in the area of general works for
the undergraduate and less growth in the area of specialized tools
for the scholar. This is not the result of library efforts, the
entire system of scholarly communication is moving onto the data
networks. Those, like <i>Science</i> and <i>Nature</i>, which
have been moving away from a general audience toward a more specialized
one, will wither away. The remaining scholarly publications will
increasingly look like a cross between <i>Smithsonian</i> and
<i>USA Today</i>. And, of course, with fewer journals and books,
we will have less and less need for a Serials Department or an
Acquisitions Department.
<p>
The Cataloging Department is one area where staff will not decrease.
It may not increase, but it will not fade away. This is because,
in spite of what you have been led to believe, Recon is not yet
done. For every book that has been entered into the system, a
&quot;bound-with&quot; will demand attention. For every journal
fully and completely cataloged, someone will find an analytic
that needs to be entered. Whole classes of material once thought
to be of low priority will have finally worked their way to the
top of the pile and there will be advocates demanding that they
be fully MARC cataloged.
<p>
On the face of it this sounds as if it is a prime area for some
administrative prioritizing and decision-making. Do not make the
mistake of assuming that because this stuff hasn't been cataloged
before that it is too inconsequential to catalog now. All libraries,
and especially academic libraries, have a wealth of important
materials squirreled away which have never been adequately used
because of lack of access. It will be important -- for the appearance
of growth and the illusion of significance -- for libraries to
take advantage of the existence of these wondrous materials and
to parade them in the sun. Government documents, maps, archives,
photographs, posters, ephemera, local publications and newsletters;
all were important enough to keep, but -- given the problems of
simply providing access to books and journals -- were never given
full institutional support to make them accessible.
<p>
In addition, it will be the librarians who will create the virtual
library by providing access to the &quot;infoglut&quot; (<i>Byte</i>'s
term, June 1992) on the networks. It will be the librarians who
will make A.J. Wright's virtual library open to all by bringing
them under bibliographic control. Among the first problems to
solve is maintaining bibliographic links in an everchanging and
ever changeable electronic environment, where statistics may be
updated hourly, daily, or weekly; where text can be readily modified,
and where images can be digitally enhanced.
<p>
We are seeing what may be the last major wave of construction
of library buildings. The virtual library will need only a representation
of a building. On campus, most users will not need to walk the
several hundred feet across campus to the library; their needs
will be provided at their desktop. Like the new Tres Grande Bibliotheque
under construction in Paris, libraries will be balancing two roles:
conservation of the existing collection, particularly where comprehensive
or unique, and electronic dissemination of information (as reported
by Jack Kessler in his report on the Bibliotheque de France conference,
EXLIBRIS LISTSERV, 27 April 92 18:03:22).<a name="BM2"></a> 
<p>
It will still be necessary to provide seating in the library for
student use. As is the case today, the library users of tomorrow
will primarily use the library as a study hall. They will bring
with them all they need to read, to study, to calculate, and to
communicate. My original thought was that this will require a
final remodeling task; one that would provide a data communication
link at all user desks. But recent advances in cellular telephone
technology make that unnecessary. Yes, everyone will bring in
their own computer, or &quot;hyperbook,&quot; but they will again
be self-contained, needing neither power nor data. Vending machines
for soda and candy will still be appreciated, however.
<p>
As expenditures shift from objects to activities to services,
and incomes shift from governments to users, there will be an
increasing effort to eliminate the middleman, the retailer. Mail-order
computers have threatened IBM's lofty perch in the world of business;
direct access by users to information sources may, if we are not
careful, do the same to libraries. But libraries can still provide
a useful service, for not everyone will have a direct connection
to the network. A node at the local library will be a gateway
to the larger virtual library. There is much discussion over whether
the new high-speed computer networks currently being planned make
provision for access at the local level or will they merely link
major research centers? That this will cost money is not denied,
and when we have public libraries in Idaho lacking telephones,
it is hard to see how universal access to the network will be
provided.
<p>
Charles Robinson adds one final guideline: &quot;Give the best,
most cost-effective service possible to the user with the resources
and the technology we have. Cast aside those activities that are
institution-oriented, because our institution is going to change,
radically and rapidly....&quot; And, he adds, &quot;Follow the
most user-oriented policies because we want users' support when
the big change occurs.&quot; (Robinson, <i>The Public Library
Vanishes</i>, 54)<hr>

<p>Return to <a href="ta.papers.html">Selected Papers and
Presentations</a></p>
<address>
inlan.htm / August 1995 / <a href="mailto:tabraham@uidaho.edu">tabraham@uidaho.edu</a>

</address>

</body>

</html>{% include js/webarchive-alert.html %}
