---
title: morris.htm
# layout: none
section: special collections
permalink: /special-collections/t-abraham/morris.htm
---
<!doctype html public "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>

<meta name="Author" content="Terry Abraham">
<meta name="COPYRIGHT" content="Copyright 1989 Terry Abraham">
   <meta http-equiv="Content-Type" content="text/css">
   <meta name="Revision-Date" content="February 28, 2003">
   <link rel="STYLESHEET" type="text/css" href="ta_st.css">
<title>Bishop Morris
and
Early Parish Records in Oregon</title>
{% include google-analytics.html %}</head>
<body>

<h1>
"A substantial, good-sized, well-bound book"</h1>

<h2>
Bishop Morris and Early Parish Records in Oregon</h2>

<p>Terry Abraham
<p>January 1989

<p>Published, in an expanded version, in <i>PNLA Quarterly</i>, 67:2(Winter 2003)5-7.

<hr width="100%">
<p>Although the first Protestant Episcopal Church services
in Oregon were held in 1836, there were only three organized parishes by
1853 (Thomas E. Jessett, "Origins of the Episcopal Church in the Pacific
Northwest," <i>Oregon Historical Quarterly</i>, 48(September 1947)231;
48(December 1947)308). In that year the General Convocation elected Thomas
Fielding Scott as Missionary Bishop of Oregon and Washington Territories
(which included a large portion of what is now Idaho, Montana and Wyoming).
Bishop Scott's efforts were devoted to maintaining and increasing the Episcopal
Church in the Northwest, a burden which did not leave him much opportunity
to be concerned with parish records. It may also be that he was not overly
conscious of the historical value of the record.
<p>Jessett, in his biographical article on Scott, notes that "Scott's diary
survives for only a few years.... Unfortunately Scott entered little but
dates, towns, and texts of sermons preached" (Thomas E. Jessett, "Thomas
Fielding Scott: Bishop of Oregon," <i>Oregon Historical Quarterly</i>,
55(March 1954)72). This bare minimum of information apparently filled the
Bishop's requirements for a diary record of his activities. His will, incidentally,
beginning "To provide for the contingencies of our approaching voyage,"
was made in Astoria, June 6, 1867, just as the Bishop was leaving Oregon
on his last voyage to New York, indicating its spur-of-the-moment character
(Thomas Fielding Scott. Manuscript copy of will, June 6, 1867, in the Washington
State University Library, Pullman, Washington). While it makes no mention
of correspondence or other papers, he did provide specifically for the
distribution of his library.
<p>The Bishop was not alone in his lack of concern for records; the missionaries
and rectors of the slowly growing parishes were also lax in their commitment
to proper records-keeping. It is difficult for the researcher in hindsight
to sympathize with our forbears who were so busy that they had little time
to be reflective and keep a record for posterity. It was common for each
parish to keep the official record in any handy volume with blank leaves.
For instance, among the ledgers and records of St. Mary's Episcopal Church,
Eugene, Oregon, is a small ledger which had been carried across the plains
from Wilmar, Minnesota. Someone apparently thought that it was of use to
St. Mary's and seven pages were devoted to the constitution, by-laws, wards
and members of St. Luke's Parish Guild of May 1891. The remaining pages
are blank.&nbsp; In such a record book the rector would record the official
churchly acts and the names of the individuals involved. Names of those
who belonged to the church, baptisms, confirmations, communicants, marriages
and burials were listed in the church register.
<p>From these haphazard volumes each church prepared a parish report for
inclusion in the proceedings of the annual convocation. By 1869 there were
enough churches in the Diocese of Oregon reporting in this fashion that
an entire section of the Proceedings were set aside for the individual
reports of the churches. The following year (1870) these were presented
in tabular form in addition to the reports of the individual parishes.
This activity may be attributed to the arrival in 1869 of Bishop Morris.
<p>Benjamin Wistar Morris was born in 1819 in Pennsylvania; he was a graduate
of the General Theological Society, and he received the doctorate of divinity
in 1868, the same year that he was consecrated as Missionary Bishop of
Oregon and Washington Territory (Thomas E. Jessett, "Bishop Morris and
the Episcopal Church in Western Washington," <i>Pacific Northwest Quarterly</i>,
39(July 1948)200). Bishop Morris exhibited an increasing concern for the
record-keeping responsibilities of the church. As his flock grew in size
and his administrative responsibilities increased, he stressed the importance
of good records: official, statistical and historical. He, of course, kept
an official diary record of his activities on behalf of the church (Jessett,
"Bishop Morris," 205). Thus, in 1869 and 1870 he reorganized the parish
reports. In 1874 he presented to the convocation through the Proceedings
a required form for the submission of the Parochial Report (Protestant
Episcopal Church in Oregon and Washington Territory, <i>Proceedings of
the annual convocation</i>, 1874, 52. Cited as <i>Proceedings</i>).
<p>In 1882 Bishop Morris noted in his annual address before the convocation
that the Diocesan Missionary Committee had assigned two counties to each
presbyter for the purpose of determining the total number of church members
in the jurisdiction. This census was to be taken by each presbyter, who,
armed with a prepared form, was to seek out all baptized members of the
church and list their name, birthplace, and number of children (noting
whether they were baptized or unbaptized, confirmed or unconfirmed). All
of this information was to be transferred into a Diocesan register kept
by the Bishop (<i>Proceedings</i>, 1882, 20).
<p>In 1883 Bishop Morris again drew attention to the record-keeping aspects
of the rector's responsibilities: "I desire here to call attention to a
canonical provision in reference to communicants taking certificates of
good standing in removing from one parish to another. Without this certificate
no Clergyman is required to receive such communicants" (<i>Proceedings</i>,
1883, 33). He went on to observe that "it is very much to be desired" that
more follow the canonical rules regarding record-keeping. In fact, he states,
this particular problem can be greatly alleviated by use of a two part
form "such as I have just received from a faithful and painstaking Rector
in the diocese of Pittsburg." We have already noticed the Bishop's love
of the proper form, and admittedly as his Diocese became more populated
his paperwork necessarily increased to the point where forms and record-keeping
became absolutely essential for the conduct of the business of the church.
<p>However, having brought up the subject, the Bishop continued:
<blockquote>These careful provisions to keep a record of all members of
the Church leads me naturally to say something about Parish Registers.
<br>Perhaps it may not be known to all that this also is a matter of canonical
requirement. This canon on this subject reads as follows: "Every minister
of this Church shall keep a register of baptisms, confirmations, communicants,
marriages and funerals within his cure...
<br>"Every minister of this Church shall make out and continue as far as
practicable, a list of all families and adult persons within his cure,
to remain for the use of his successor, to be continued by him and every
future minister in the same parish."
<br>I am sure that in many cases this positive and very important requirement
is but partially complied with. I hear frequent complaints from Clergymen
coming into our parishes of the faulty and unsatisfactory condition in
which they find the Parish Register, and of the difficulty, or impossibly
[sic], sometimes of knowing from the record who and where his people are.
One great mistake, I think, is often made in beginning these records in
some little book that is easily mislaid or lost, and then going on perhaps
with a second, which in time goes the same road. All such trifling affairs
should be scrupulously eschewed from the first, and a substantial, good-sized,
well-bound book provided at the beginning of every Parish, intro which
all its history and records should go, with a spirit of carefulness and
punctuality equal to that of the most exact and methodical accountant in
a bank or counting house. Such a book would last for generations and become
in time an invaluable heritage to the Parish. (<i>Proceedings</i>, 1883,
33-35.)</blockquote>
<p>As we have seen, the official requirements of canon law were partially
fulfilled by most presbyters. Each official act was recorded, but the problem
was one of preserving that record, with maintaining the necessary continuity
of each Parish and of each individual member. These were extremely important
in the case of removal of the communicant from one parish to another, or
the transfer of the presbyter to another cure; both were very probable
in the mobile West. It may have been this strong appeal by the Bishop which
resulted in the recopying of the early records of St. Mary's Church, Eugene,
into a large (9 x 12") ledger which was maintained until 1913. Rev. Anderson,
on retiring as rector of St. Mary's, did write a history of the parish
into the ledger in April of 1883 (Terry Abraham, "Down in the valley, the
Episcopal Church in Eugene, Oregon, St. Mary's Episcopal Church, 1859-1964."
<i>Historical Magazine of the Protestant Episcopal Church</i>, 41(December
1972)366). Others, apparently were not so keen to follow the Bishop's suggestions
and in 1886 he was again compelled to comment on records-keeping practices:
<blockquote>In spite of all that has been said upon the subject of correct
and full records in the parish Registers, and the importance of preserving
copies of the Convocation Journals, in each parish, Clergymen coming into
the place of those who have removed, bring the same complaint of the deficient
and most imperfect character of these records, and generally the absence
of every Journal of the Convocation from the first to the last. They are
thus left to hunt up the past history of their parishes and find out their
present standing and condition in the best way that they can. I know of
no remedy for this state of things, in the case of those who regard the
preservation of these records as a matter of indifference, and have no
respect for their own canonical obligations.
<br>And here I would beg the clergy now, to do what is in their power to
preserve and put on record the history of their parishes, as completely
as possible up to the present time. This will involve the expenditure of
some time and labor, but I think it will be time and labor well employed.
These histories should be fully copied into the parish registers, where
they could be added to and enlarged from time to time as occasion should
require. (<i>Proceedings</i>, 1886, 32)</blockquote>
<p>It was in fact true that small missions and parishes would often be
without
a regular presbyter for years at a time, making do with occasional services
by an itinerant missionary, the Bishop's annual or semi-annual visitations,
or perhaps a lay reader who tried to maintain continuity. At Eugene, the
Acting Secretary of the Vestry commented in the Parochial Report of 1876
that in the time following the removal of the previous minister "...we
have had church services but twice, each time by Bishop Morris. Since Convocation,
but once, in January last by the Bishop" (Abraham, 364). Hardly a basis
for continuity in the Church.
<p>In 1888 the third successor to Rev. Mr. Anderson continued the history
of St. Mary's in the Parish Register, adding as a postscript:

<blockquote>The above facts have been gleaned from various records but
chiefly from the private record of the first missionary and the journals
of the Convocation. Twenty-one of which, for as many different years, have
been collected &amp; handed over to the vestry by the rector. (Abraham,
368)</blockquote>
<p>This refers not only to the Bishop's insistence on the maintenance of the
files of the proceedings of the convocation but also to the records of
the first missionary which might have been transferred into the official
parish register.
<p>The importance of the records on individual church membership and official
acts of the church is emphasized by Daniel B. Stevick in his book on canon
law. He notes that the parish register requirement is more than an administrative
device, it "is largely a record of names, names given individually in baptism
and names representing people in their interrelatedness (godparent, marriage
partner, transfers from another cure) and their significance before God
and his Church. Implicitly, the recording of the generations in a parish
register is a token of the Christian sense of history and human worth"
(Daniel B. Stevick. <i>Canon law: a handbook</i>. New York, Seabury, 1965.
189).
<p>For the researcher, the parish register is a primary source of information
on the individual. While there is often an increase in the amount of information
in the more recent records, even the earliest records contain information
of value. For instance, the Parish Registers (for they have grown to several
volumes) of St. Mary's Church contains the names of individuals, their
age, marital status, citizenship, and address; as well as recording acts
of baptism, confirmation, communication, marriage and burial.
<p>Where other records are lacking, or may be incomplete, parish records
can often supply valid testamentary evidence for the researcher. In part,
at least in Oregon, to Bishop Morris' efforts.

<p>
<hr width="100%">
<p>Return to <a href="ta.papers.htm">Selected
Papers and Presentations</a>
<address>
February 1999 / morris.htm / <a href="mailto:tabraham@uidaho.edu">tabraham@uidaho.edu</a></address>
</body>
</html>{% include js/webarchive-alert.html %}
