---
title: preface.htm
# layout: none
section: special collections
permalink: /special-collections/t-abraham/preface.htm
---
<!doctype html public "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>

   <meta http-equiv="Content-Type" content="text/css">
   <meta name="Revision-Date" content="June 12, 2000">
   <link rel="STYLESHEET" type="text/css" href="ta_st.css">
<meta name="Author" content="Terry Abraham">
<meta name="COPYRIGHT" content="Copyright 1999 Terry Abraham">
<title>Arrangement &amp; Description</title>
{% include google-analytics.html %}</head>
<body>


<h1>
Arrangement and Description</h1>
<p>Terry Abraham

<hr width="100%">
<h2>
PREFACE</h2>

<p>It is called "processing": the arrangement and description of manuscript
collections and archival records. It is not too far-fetched to think of
processed records as something similar to "processed" cheese or "processed"
meat. Processing rearranges the bits, eliminates the indigestible parts,
and provides it in uniform and accessible packages . In Europe it would
be heavily taxed because processing adds value to the product. While some
would say that processed meats and cheeses are bland and unsatisfactory
substitutes for the real thing, it is also true that they offer economies
in time, convenience, and reliability for the consumer. It is similar economies
which the processor of archival records offers to the researcher.
<p>In a perfect world, there would be no need for processing, of meats
or of archives. In the latter case, however, we know that a pure records
management operation with absolute control of permanent records from creation
to final shelving does not exist. Archival records are seldom specifically
identified from the start, forced to be written on acid-free papers with
permanent blue-black inks or carbon typewriter ribbons, housed in acid-free
folders (into which non-acidic papers or non-permanent records are never
added), until that day when the archivist accessions them and elevates
them to the topmost archival container for use by generations of scholars.
No, records are created haphazardly, are preserved by chance, and frequently
appear at the archives door looking as if they'd escaped from the dumpster
just in time to join the choir at the altar. It might be that open-eyed
look of innocence, the I-can't-believe-it-happened-to-me-look, but the
archivist always opens the door and ushers them in.
<p>Before they can join the choir, however, there's a certain amount of
cleaning up to do. And that is what processing is all about.
<p>Aside from that, it is also about making decisions, decisions which
are not always made on altruistic grounds. Weighing the balance of economic,
political, educational, functional, and emotional consequences are an essential
part of the archivist's job. Processors, perhaps even more so than reference
archivists or acquisitive manuscripts curators, need to consider the long-term
consequences of their decisions. And it is not enough to be able to place
the records in historical context, that is frequently the least of the
concerns. Processors must realize that the principal virtue of primary
source materials -- the raw data, so to speak -- is that its subject content
reflects back to the researcher only that small portion of immediate interest.
The daily newspaper, for instance, is to some people a media for sports
news. To others, its only purpose is to present the daily comics. A family
seeking housing, or a car, may only read the classified ads while others
may not read beyond the front page. Similarly, a body of records is seldom
swallowed whole, it is tasted, sampled, dipped into, and skimmed. The processor
frequently becomes the only person who ever sees it as a whole and thus
has a unique responsibility to present the entire corpus as a unit. For
it is impossible to predict the questions which will be asked and the primary
source materials which will best provide evidence for those questions.
<hr width="100%">
<p><a href="a&amp;d.htm">Contents</a> <a href="a&amp;d.htm">Previous</a> <a href="intro.htm">Next</a>
<hr width="100%">
<p>January 1999 / preface.htm / <a href="mailto:tabraham@uidaho.edu">tabraham@uidaho.edu</a>
</body>
</html>{% include js/webarchive-alert.html %}
