---
title: ta.papers.htm
# layout: none
section: special collections
permalink: /special-collections/t-abraham/ta.papers.htm
---
<!doctype html public "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
   <meta name="Revision-Date" content="June 10, 2006">
   <meta http-equiv="Content-Type" content="text/css">
   <link rel="STYLESHEET" type="text/css" href="ta_st.css">

<title>Projects, Presentations and unpublished papers</title>
{% include google-analytics.html %}</head>
<body>

<h1>Projects, Presentations and Unpublished Papers</h1>
<p>Terry Abraham<br>
</p>
<hr>

<ul>
<li><a href="utah.htm">Paper</a>: Utah Saints and Sinners, 1979.</li>
<li><a href="ssr.htm">Paper</a>: "I have had a great many adventures:"
The Gold Rush Letters of Samuel Stone Richardson, 1981.</li>
<li><a href="fol.htm">Paper</a>: FOL: A History of the Friends of the
Library, 1983.</li>
<li><a href="census.htm">Presentation</a>: Using the Archival Census
Data in the Repository. Chicago, 1986. </li>
<li><a href="inorout.htm">Presentation</a>: In or Out: Observations of
an Occasional NEH Staff Member. Atlanta, 1988. </li>
<li><a href="a&amp;d.htm">Paper</a>: Practical Processing: Arrangement and
Description, 1988.</li>
<li><a href="morris.htm">Paper</a>: "A substantial, good-sized,
well-bound book:" Bishop Morris and Early Parish Records in Oregon, 1989.</li>
<li><a href="whyspcol.htm">Presentation</a>: Why Special Collections?
Eugene, 1989. </li>
<li><a href="inet.htm">Paper</a>: INTERNET: On (Line) the Road Again,
1990. </li>
<li><a href="inlan.htm">Presentation</a>: Books to Bytes: Libraries and
the Internet. Post Falls, 1992. </li>
<li><a href="erecs94.htm">Presentation</a>: When the Bits hit the Fan:
Electronic Records and Archives. Ottawa, 1994. </li>
<li><a href="mining94.htm">Presentation</a>: Lode or Placer: Mining
Records and Their Use in the University of Idaho Library. Golden, 1994. </li>
<li><a href="legacy.htm">Presentation</a>: Legacy to Heritage: Subject
Access to Manuscript Collections in the Electronic Age. Seattle, 1995. </li>
<li><a href="docstr10.htm">Presentation</a>: Documentation Strategies:
A Decade (or More) Later. Washington, D.C., 1995. </li> 
<li><a href="chservnt.htm">Presentation</a>: Class, Gender, and Race:
Chinese Servants in the North American West. Honolulu, 1996. </li>
<li><a href="theorybb.htm">Paper</a>: Archival Theory: Notes towards
the beginnings of a bibliography, 1996-ongoing. </li>
<li><a href="networth.htm">Presentation</a>: Net Worth: Adding Value to
the Archival Web Site. San Diego, 1996. </li>
<li><a href="stepping.htm">Presentation</a>: Stepping Stones to
Empowerment: Chinese Servants in the American West. Seattle, 1997. </li>
<li><a href="outreach.htm">Presentation</a>:
The Next Step: Outreach on the World Wide Web. Cheyenne, 1997.</li>
<li><a href="entropy.htm">Paper</a>: Archives and Entropy: The Closed
System. 1999.</li>
<li><a href="archivy.htm">Paper</a>: The Laws of Archivy. 2000.</li>
<li><a href="burners.htm">Project</a>: Chinese Funerary Burners: A
Census. 2001-ongoing. </li>
<li><a href="notickee.htm">Paper</a>: 'No Tickee No Washee': Sympathetic Representations of the Chinese in American Humor. 2003.</li>
<li><a href="babbler.htm">Presentation</a>: From "Babbler" to Jimmy Ah Foo: The Chinese in Australian Humor. Sydney, 2004.</li>
<li><a href="journey.htm">Paper</a>: Books on the Journey. <i>Towers</i>, the newsletter of the University of Idaho Library Associates, June 2005. </li>
</ul>

<p align="CENTER"><hr></p>
<p>Return to <a href="vita.ta.htm">Vita</a></p>
<address>ta.papers.htm / <a href="mailto:tabraham@uidaho.edu">tabraham @ uidaho.edu</a> </address></body>
</html>{% include js/webarchive-alert.html %}
