---
title: theorybb.htm
# layout: none
section: special collections
permalink: /special-collections/t-abraham/theorybb.htm
---
<!doctype html public "-//IETF//DTD HTML//EN">
<html>

<head>

   <meta http-equiv="Content-Type" content="text/css">
   <meta name="Creation-Date" content="January 10, 1991">
   <meta name="Revision-Date" content="December 27, 2002">
   <meta name="Copyright" content="2002">
   <meta name="AUTHOR" content="Terry Abraham">
<link rel="STYLESHEET" type="text/css" href="ta_st.css">

<title>BIBLIOGRAPHY ON ARCHIVAL THEORY</title>

{% include google-analytics.html %}</head>

<body>


<h1>Archival Theory: Notes towards the beginnings of a bibliography</h1>
<!--January 10, 1991; May 22, 1996; Nov 22, 1996; Dec 13, 1996; Oct 1997;
Nov 1997; Mar 99; Jan 2000; Aug 2000; Oct 2000; Apr 2001; Sep 2001; Sep
2002; Dec 2002-->

<p>
Compiled by Terry Abraham<br>December 2002
<hr>
<p><cite>"It is important for the profession to remember that the opposite of practical is impractical, not theoretical."</cite>
--- Terry Cook, in <i>American Archivist</i>, 63(2000)390.
<p><cite>"In theory, there is no difference between theory and practice.
   In practice, there is no relationship between theory and practice."</cite>
--- Dan Hinsley, Usenet tag-line
<p>
Additional citations to add to this list? Let me know at <a href="mailto:tabraham@uidaho.edu">tabraham@uidaho.edu.</a>
<hr>

<ul>
<h2>1965</h2>
<li>Holmes, Oliver W.<br>
History and theory of archival practice. <b>In</b> Rolland E.
Stevens, <i>University archives: papers presented at an institute
conducted by the University of Illinois Gradate School of Library
Science, November 1-4, 1964</i> Champaign: 1965. 1-21.
<h2>1967</h2>
<li>Posner, Ernst <br>
The National Archives and the archival theorist. <b>In</b> <i>Archives
and the Public Interest: Selected essays of Ernst Posner</i>,
ed. Ken Munden. Washington, D.C.: Public Affairs Press, 1967.
131-140.
<h2>1981</h2>
<li>Burke, Frank G. <br>
The future course of archival theory in the United States. <i>American
Archivist</i>, 44(Winter 1981)40-46.
<li>Pinkett, Harold T. <br>
American archival theory: the state of the art. <i>American Archivist</i>,
44:3(Summer, 1981)217- 222.
<h2>1982</h2>
<li>Settani, Joseph Andrew <br>
To the editor (comments on Pinkett and Burke). <i>American Archivist</i>,
45(Winter 1982)6.
<li>Boles, Frank <br>
Disrespecting original order. <i>American Archivist</i>, 45(Winter
1982)26-32.
<li>Williams, Richmond <br>
To the editor (comments on Boles). <i>American Archivist</i>,
45(Summer 1982) 259-260.
<li>Lutzker, Michael A. <br>
Max Weber and the analysis of modern bureaucratic organization:
Notes toward a theory of appraisal. <i>American Archivist</i>,
45(Spring 1982)119-130.
<li>Cappon, Lester J. <br>
What, then, is there to theorize about? <i>American Archivist</i>,
45(Winter 1982)19-25.
<li>Burke Frank G. <br>
To the editor (comments on Cappon). <i>American Archivist</i>,
45(Summer 1982)260-261.
<h2>1983</h2>
<li>Berner, Richard C. <br>
<i>Archival theory and practice in the United States: A historical
analysis</i>. Seattle: University of Washington Press, 1983.
<li>Duchein, Michel.  <br>Theoretical Principles and Practical Problems of                
Respect des fonds in Archival Science. <i>Archivaria</i>, 16(Summer 1983)64-82.
<h2>1984</h2>
<li>Joyce, William L. <br>
[Review of Berner's Archival theory and practice in the United
States.] <i>American Archivist</i>, 47(Summer 1984)299-301.
<li>Peace, Nancy E.<br>
Deciding what to save: Fifty years of theory and practice. <b>In</b> <i>Archival Choices: Managing the Historical Record in an Age of Abundance</i>. Lanham: Lexington Books, 1984. 1-18.
<h2>1985</h2>
<li>Berner, Richard C. <br>
To the editor (comments on Joyce's review). <i>American Archivist</i>,
48(Winter 1985)3-5. Also Joyce's response, pp. 5-6.
<li>Elliott, Clark A. <br>
Communication and events in history: Toward a theory for documenting
the past. <i>American Archivist</i>, 48:4(Fall 1985)357-368.
<li>Kimball, Gregg D. <br>
The Burke-Cappon debate: Some further criticisms and considerations
for archival theory. <i>American Archivist</i>, 48(Fall 1985)369-376.
<h2>1986</h2>
<li>Peterson, Trudy Huskamp <br>
The National Archives and the archival theorist revisited, 1954-1984.
<i>American Archivist</i>, 49:2(Spring 1986)125-133.
<h2>1987</h2>
<li>Roberts, John <br>
Archival theory: Much ado about shelving. <i>American Archivist</i>,
50(Winter, 1987)66-74.
<li>Yates, Donald N. <br>
To the editor (comments on Roberts). <i>American Archivist</i>,
50(Summer 1987)303-304. Also Roberts' response, p. 304.
<h2>1988</h2>
<li>Bailey, Catherine<br>
Archival theory and machine readable records: Some problems and issues. MAS Thesis, University of British Columbia, 1988.
<li>Klumpenhouwer, Richard<br>
Concepts of value in the archival appraisal literature: An historical
and critical analysis. MAS Thesis, University of British Columbia,
1988.
<h2>1989</h2>
<li>Bailey, Catherine<br>
Archival theory and machine readable records. <i>Archivaria</i>, 29(Winter 1989-90)
<li>Bryans, Victoria<br>
Canadian provincial and territorial archival legislation: A case study of the disjunction between theory and law. MAS Thesis, University of British Columbia, 1989.
<li>Hedstrom, Margaret <br>
New appraisal techniques: The effect of theory on practice. <i>Provenance</i>,
7:2(Fall 1989)5-6, 19.
<h2>1990</h2>
<li><i>Archival appraisal: Theory and practice</i>. Proceedings
of the Joint Meeting of the Association of British Columbia Archivists
and the Northwest Archivists. Vancouver, B.C., April 26-28, 1990.
Vancouver: 1990.
<li>Roberts, John <br>
Archival theory: Myth or banality. <i>American Archivist</i>,
53(Winter 1990)110-120.
<li>Cook, Terry<br>
Viewing the World Upside Down: Reflections on the Theoretical Underpinnings of Archival Public Programming. <i>Archivaria</i>, 31(Winter 1990-91)123-134.
<h2>1991</h2>
<li>Livelton, Trevor<br>
Public records: A study in archival theory. MAS Thesis, University
of British Columbia, 1991.
<li>Stielow, Frederick J.<br>
Archival theory redux and redeemed: Definition and context toward
a general theory. <i>American Archivist</i>, 54:1(Winter 1991)14-26.
<li>Abraham, Terry <br>
Collection policy or documentation strategy: Theory and practice.
<i>American Archivist</i>, 54:1(Winter 1991)44-52.
<li>Menne-Haritz, Angelika<br>
Anforderungen der Bewertungspraxis an die archivische theorie.
<i>Archivmitteilungen</i>, 41:3(1991)102+.
<li>Abraham, Terry <br>
Oliver W. Holmes revisited: Levels of arrangement and description
in practice. <i>American Archivist</i>, 54:3(Summer 1991)370-377.
<li>Brothman, Brien<br>
Orders of value: Probing the theoretical terms of archival practice.
<i>Archivaria</i>, 32(Summer 1991)78-100.
<li>Brown, Richard<br>
The value of 'Narrativity' in the appraisal of historical documents: Foundation for a theory 
of archival hermeneutics. <i>Archivaria</i>, 32(Summer 1991)152-156.
<li>Livelton, Trevor<br>
Public records: A study in archival theory. MAS Thesis, University of British
Columbia, 1991.
<li>Russell, Peter A.<br>
The Manx peril: Archival theory in light of recent American historiography.
<i>Archivaria</i>, 32(Summer 1991)124-137.
<li>Brown, Richard<br>
Records acquisition strategy and its theoretical foundation: The
case for a concept of archival hermeneutics. <i>Archivaria</i>,
33(Winter 1991-1992)34-56.
<h2>1992</h2>
<li>Cook, Terry<br>
The concept of the archival fonds: Theory, description, and provenance in the post-custodial era. <b>In</b> <i>The Archival Fonds: From theory to practice</i>. Edited by Terry Eastwood. Ottawa: Bureau of Canadian Archivists. Planning Committee on Descriptive Standards,
1992. 
<li>Cook, Terry<br>
Mind over matter: Towards a new theory of archival appraisal.
<b>In</b> <i>The Archival Imagination, Essays in Honour of Hugh
A. Taylor</i>. Ottawa: Association of Canadian Archivists, 1992.
60-69.
<li>Eastwood, Terry<br>
Towards a social theory of appraisal. <b>In</b> <i>The Archival
Imagination, Essays in Honour of Hugh A. Taylor</i>. Ottawa: Association
of Canadian Archivists, 1992. 71-89.
<li>Dollar, Charles. <i>Archival theory and information technologies:
The impact of information technologies on archival principles
and methods</i>. Macerata: University of Macerata, 1992.
<li>Eastwood, Terry, ed.<br>
<i>The Archival Fonds: From theory to practice</i>. Ottawa: Bureau
of Canadian Archivists. Planning Committee on Descriptive Standards,
1992.
<li>Maher, William<br>
<i>The Management of
College and University Archives</i>. Metuchen, N.J.: Scarecrow Press, 1992.<br>
"The Maher volume is ... one of the testiest writings on the relationship of
theory to practice, taking the viewpoint that most archival theory is useless
for practical purposes." -- R. Cox.
<li>Turner, Jane<br>
A study of the theory of appraisal for selection. MAS Thesis,
University of British Columbia, 1992.
<h2>1993</h2>
<li>Eastwood, Terry<br>
How goes it with appraisal? <i>Archivaria</i>, 36(Autumn 1993)111-121.
<li>Duranti, Luciana <br>
The archival body of knowledge: Archival theory, method, and practice,
and graduate and continuing education. <i>Journal of education
for Library and Information Science</i>. 34(Winter 1993)10-11.
<li>Craig, Barbara L.  <br>Archives Theory, Archival Practice, and       
Archives History: Three Solitudes or a Trinity? <i>Canadian Journal of
Information and Library Science</i> 18(December 1993)36-49.
<h2>1994</h2>
<li>Duranti, Luciana <br>
The concept of appraisal and archival theory. <i>American Archivist</i>,
57:2(Spring 1994)343.
<li>Terry Eastwood<br>
What is archival theory and why is it important? <i>Archivaria</i>,
37(Spring 1994)122-130.
<li>Janzen, Linda M. Series: History, theory, and practice. MAS
Thesis, University of British Columbia, 1994.
<li>MacNeill, Heather<br>
Archival theory and practice: Between two paradigms. <i>Archivaria</i>,
37(Spring 1994)6-20.
<li>Roberts, John W.<br>
Practice makes perfect, theory makes theorists. <i>Archivaria</i>,
37(Spring 1994)111-121; Also Response to Terry Eastwood's Paper,
131-133.
<li>Schaeffer, Roy<br>
From craft to profession: The evolution of archival education
and theory in North America. <i>Archivaria</i>, 37(Spring 1994)21-34.
<h2>1995</h2>
<li>Biskup, Peter, et al<br>
<i>Debates and discourses: Selected Australian writings on archival
theory, 1951-1990</i>. n.p., Australian Society of Archivists,
1995. 230 p.
<li>Ledwell,Mary<br>
The theory of reappraisal and deaccessioning in archives. MAS Thesis, University of British Columbia, 1995.
<li>Macdonald, Wilma<br>
Archival theory and oral history documents. MAS Thesis, University of British Columbia, 1995.
<li>Walters, Tyler<br>
Rediscovering the theoretical base of records management and its implications for graduate education. <i>Journal of Education for Library and Information Science</i>, 36(Spring 1995)139-154.
<h2>1996</h2>
<li>Brichford, Maynard J., and William J. Maher
<br>Archival Theory and Practice. University of Illinois at Urbana-Champaign,
1996. <a href="https://web.archive.org/web/20030325060050/http://web.library.uiuc.edu/ahx/theory.htm">http://web.library.uiuc.edu/ahx/theory.htm</a>.
<li>Livelton, Trevor<br>
<i>Archival theory, records, and the public</i>. Lanham: Scarecrow Press, 1996. 178 p.
<li>Cook, Terry<br>
Building an Archives: Appraisal theory for architectural records. <i>American
Archivist</i>, 59(Spring 1996)136-143.
<li>Boles, Frank and Mark A. Greene<br>
Et tu Schellenberg? Thoughts on the dagger of American appraisal theory.
<i>American Archivist</i>, 59(Summer 1996)298-310.
<li>Ketelaar, Eric<br>
Archival theory and the dutch manual. <i>Archivaria</i>, 41(Spring 1996)31-40; reprinted in Eric Ketelaar, <i>The Archival Image: Collected Essays</i>. Hilversum: Verloren, 1997. pp. 55-56.
<li>Cook, Terry<br>
Archives in the Post-Custodial World: Interaction of Archival Theory and Practice since the Publication of the Dutch Manual in [1898]. <i>XIII International Congress on Archives: Third Plenary Session Paper</i>. Beijing: 1996.
<h2>1997</h2>
<li>Graham, Nicholas M.<br>
The Form and Function of Archival Theory. <i>Katharine Sharp Review</i>,
No. 4, Winter 1997. <a href="https://web.archive.org/web/20030325060050/http://alexia.lis.uiuc.edu/review/winter1997/graham.html">http://alexia.lis.uiuc.edu/review/winter1997/graham.html</a>.
<li>Cook, Terry<br>
What is past is prologue: A history of archival ideas since 1898, and the future paradigm shift. <i>Archivaria</i>, 43(Spring 1997)17+.
<h2>1998</h2>
<li>Giroux, Alain<br>
A theoretical and historical analysis of pertinence- and provenance-based concepts of classification of archives. MAS Thesis, University of British Columbia, 1998.
<li>Henry, Linda J.<br>
Schellenberg in Cyberspace. <i>American Archivist</i>, 61(Fall 1998)309-327.
<li>Lemieux, Victoria<br>
Applying Mintzberg's Theories of Organizational Configuration to Archival
Appraisal. <i>Archivaria</i>, 46(Fall 1998)32-85.
<h2>1999</h2>
<li>Mortensen, Preben<br>
The Place of Theory in Archival Practice. <i>Archivaria</i>, 47(Spring 1999)1+.
<li>Nesmith, Tom<br>
Still Fuzzy, But More Accurate: Some Thoughts on the "Ghosts" of Archival
Theory. <i>Archivaria</i>, 47(Spring 1999)136-150.
<li>Maymi-Sugranes, Hector J.<br>
Latin American Archival Theory and Practice
during the 1970s and 1980s. <i>Libraries &amp; Culture</i>, Vol. 34, No. 3,
Summer 1999
<a href="https://web.archive.org/web/20030325060050/http://www.gslis.utexas.edu/~landc/fulltext/LandC_34_3_MaymiSurgranes.pdf">http://www.gslis.utexas.edu/~landc/fulltext/LandC_34_3_MaymiSurgranes.pdf</a>.
<h2>2000</h2>
<li>Duranti, Luciana <br>
The Impact of Technological Change on Archival Theory. InterPARES
Project, 2000. <a href="https://web.archive.org/web/20030325060050/http://www.interpares.org/documents/ld_sevilla_2000.pdf">http://www.interpares.org/documents/ld_sevilla_2000.pdf</a>.
<li>Jimerson, Randall C., ed.<br>
<i>American Archival Studies: Readings in Theory and Practice</i>. Chicago:
Society of American Archivists, 2000. 658 p.<br>Especially Jimerson's Introduction: American Archivists and the Search for Professional Identity. 1-17; new in this volume.
<h2>2001</h2> 
<li>Cook, Terry<br>
Appraisal Methodology: Macro-Appraisal and Functional Analysis, Part
A: Concepts and Theory. National Archives of Canada, 2001. <a href="https://web.archive.org/web/20030325060050/http://www.archives.ca/06/061101_e.html">http://www.archives.ca/06/061101_e.html</a> 
<li>Maher, William J.<br>
Fundamentals of Archival Theory and Practice for Law Librarians. University
of Illinois at Urbana-Champaign, 2001. <a href="https://web.archive.org/web/20030325060050/http://web.library.uiuc.edu/ahx/workpap/fundamentalsaall.pdf">http://web.library.uiuc.edu/ahx/workpap/fundamentalsaall.pdf</a>. 
<li>Tamblé, Donato<br>
Archival theory in Italy today. <i>Archival Science</i>. 1:1(March 2001)83-100.
<li>McKemmish, Sue <br>
Placing Records Continuum Theory and  Practice. <i>Archival Science</i>. 1:4(2001) 333-359.

</ul>
<hr>

<p>Return to <a href="ta.papers.htm">Selected Papers and
Presentations</a></p>
<address>
theorybb.htm / <a href="mailto:tabraham@uidaho.edu">tabraham@uidaho.edu</a></address>

</body>

</html>{% include js/webarchive-alert.html %}
