<script>
    /* init carousel */
    var carousel = new bootstrap.Carousel('#index-carousel', 
        { ride: 'carousel', interval: 25000, pause: 'false' }
    );
    /* carousel pause button */
    var carouselPauseBtn = document.getElementById("carousel-pause-btn");
    var carouselPauseIcon = document.getElementById("carousel-pause-icon");
    carouselPauseBtn.addEventListener('click',  (e) => { 
        if(carouselPauseIcon.classList.contains("fa-pause-circle")){
            carousel.pause();
            carouselPauseIcon.classList.remove("fa-pause-circle");
            carouselPauseIcon.classList.add("fa-play-circle");
        } else {
            carouselPauseIcon.classList.remove("fa-play-circle");
            carouselPauseIcon.classList.add("fa-pause-circle");
            carousel.cycle();
        }
    });
</script>
