<script src="{{ '/assets/bootstrap5/datatables/datatables.min.js' | relative_url }}"></script>
<script>
(function(){
    // set up filter by PG dropdown
    $.fn.dataTableExt.afnFiltering.push(
        function( oSettings, aData, iDataIndex ) {
            var collectionFilter = document.getElementById("collectionSelect").value;
            // show everything
            if (collectionFilter == "all") { return true; }
            else { return aData[3] == collectionFilter; }
        }
    );
    // add a text input to each header for search
    $('#item-table thead tr').clone(true).appendTo( '#item-table thead' );
    $('#item-table thead tr:eq(1) th').each( function (i) {
        var title = $(this).text();
        $(this).html( '<input class="form-control form-control-sm" type="text" placeholder="Filter '+title+'" />' );
 
        $( 'input', this ).on( 'keyup change', function () {
            if ( table.column(i).search() !== this.value ) {
                table
                    .column(i)
                    .search( this.value )
                    .draw();
            }
        } );
    } );
    // initialize DataTables
    var table = $('#item-table').DataTable( {
        // use DataTables ajax load 
        ajax: { url: '{{ "/assets/data/histphoto_min.json" | relative_url }}', dataSrc: 'objects' },
        // defer render to speed up large sets
        "deferRender": true,
        // get the data from the json
        // Title,Date,Notes,Photo Group,ID Number,Image link,Digital Collection link, Finding aid link
        columns: [ { data: '2' }, { data: '3' }, { data: '4' }, { data: '1' }, { data: '0' }, { data: '5' }, { data: '6' }, { data: '7' } ],
        columnDefs: [ 
            // make Image link
            { "render": function ( data ) { if (data.includes('.jpg')) { return '<a href="https://www.lib.uidaho.edu/media/spec/histphoto/' + data +'" target="_blank" rel="noopener">Legacy Thumb</a>'; } else if (data.includes('.html')) { return '<a href="https://www.lib.uidaho.edu/digital/' + data +'" target="_blank" rel="noopener">Item Link</a>'; } else { return '' } },"targets": 5 },
            // make Digital Collection link
            { "render": function ( data ) { if (data) { return '<a href="https://www.lib.uidaho.edu/digital/' + data + '" target="_blank" rel="noopener">'+ data +'</a>'; } else { return '' } },"targets": 6 },
            // make finding aid link
            { "render": function ( data ) { if (data) { return '<a href="https://archiveswest.orbiscascade.org/ark:/' + data + '" target="_blank" rel="noopener">'+ data +'</a>'; } else { return '' } },"targets": 7 }
            
        ],
        paging: true,
        lengthMenu: [[ 15, 50, 100, 500], [ 15, 50, 100, 500]],
        orderCellsTop: true,
        // sort based on the date
        order: [[ 2, "asc" ]],
        // add download features
        dom: 'i<"row"<"col-md-6"l><"col-md-6"f>>t<"row"<"col-md-6"i><"col-md-6"p>>B', 
        buttons: [ 'excelHtml5', 'csvHtml5' ]
    });
    /* Add event listeners to collectionSelect */
    $('#collectionSelect').change( function() {
        table.draw();
    });
})();
</script>