<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">What do these databases search?</h4>
            </div>
            <div class="modal-body">
                              <p ><strong>Academic Search Premier </strong> is a multi-disciplinary database with full text for thousands of scholarly publications and peer-reviewed journals that is updated daily. It is a good general index to start one's research.
        
      <strong>JSTOR</strong> searches journal archives in the humanities, social sciences, and sciences. With a few exceptions, JSTOR titles do not include current issues. 
      <strong>Science Direct</strong>is a leading full-text scientific database offering journal articles and book chapters from more than 2,500 journals and almost 20,000 books.   
      <strong>Web of Science </strong> indexes major journals across 150 scientific disciplines and includes all cited references captured from indexed articles. 
      </p>
      </div>
      </div>
      </div>
      </div>