---
title: Special Collections &amp; Archives
permalink: /special-collections/
layout: page
section: Special Collections 
lazyload: true
---

<style>
  #index-carousel .carousel-item { height: 450px; }
</style>

<div class="row py-4">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header"><h3>About Special Collections</h3></div>
      <div class="card-body">
        <p>The Special Collections and Archives department specializes in the acquisition, preservation, and use of research materials that document the cultural and environmental history of Idaho and the University of Idaho.</p>
        <p>Our physical collections are available for use throughout the year via our <a href="{{ '/special-collections/plan.html' | relative_url }}">Reading Room</a>. Many of our collections can also be viewed online, via the library's <a href="https://www.lib.uidaho.edu/digital/">Digital Collections</a>.</p>
        <p>The Special Collections and Archives Reading Room is in <a href="{{ '/about/maps.html#first' | relative_url }}" target="_blank" rel="noopener">Room 121 on the library's first floor</a>.</p>
      </div>
  </div>
  <div class="text-center mt-2">  
    <a href="{{ '/special-collections/plan.html' | relative_url }}" class="btn btn-secondary m-1">
      <span class="fas fa-edit"></span> Plan Your Visit</a>
    <a href="{{ '/special-collections/donations.html' | relative_url }}" class="btn btn-secondary m-1">
      <span class="fas fa-gift"></span> Donate</a>
  </div>
</div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body text-center">
        <h3>Hours:</h3>
        <!--<p> 10:00 am to 2:00 pm<br>
					Monday - Friday
				</p>-->
				<p>By appointment only, with limitations as part of the <a href="{{ '/covid19/impact.html' | relative_url }}">Library's Covid-19 response</a>. Please see <a href="rules.html">Reading Room Rules</a> for full details.</p>
        <!--
        <p><strong>Reduced Hours:</strong><br>
          Closed Dec. 24, 2018 to Jan. 1, 2019.
        </p>
        -->
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-body text-center">
        <h3>Contact Us:</h3>
        <p>Email: <a href="mailto:libspec@uidaho.edu">libspec@uidaho.edu</a><br>
        Phone: <a href="tel:+1-208-885-0845">(208) 885-0845</a></p>
      </div>
    </div>
  </div>
</div>

{% include indexcarousel.html %}

<hr>

<!-- exhibits cards row -->
<h3 id="exhibits" class="my-4">Current Physical Exhibits</h3>

<p>Our physical exhibits are located on the second floor blah blah blah</p>
  
<div class="row">
  {% for e in site.data.spec_exhibits %}{% if e.active == 'true' %}
  <div class="col-12 mb-3">
    <div class="card">
      <div class="card-body">
        
        <div class="row">
          <div class="col-sm-7 card-text">
              <h4>{{ e.title }}</h4>
            {{ e.description }}</div>
          <div class="col-sm-5">
            <img src="{{ e.image }}" class="card-img">
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}{% endfor %}
</div>

<hr>

<script>
  $(function () { objectFitImages() });
  /* carousel pause button */
  $("#carousel-pause").click(function () {
      if($("#carousel-pause").hasClass("fa-pause-circle")){
          $("#index-carousel").carousel("pause");
          $("#carousel-pause").removeClass("fa-pause-circle").addClass("fa-play-circle");
      } else {
          $("#index-carousel").carousel("cycle");
          $("#carousel-pause").removeClass("fa-play-circle").addClass("fa-pause-circle");
      }
  });
</script>