<!-- ask a librarian Modal -->
<div class="modal fade" id="askUsModal" tabindex="-1" role="dialog" aria-labelledby="askLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title" id="askLabel">Ask Us!
                    <a id="askmodal-help" href="{{ '/help/' | relative_url }}">We can help.</a>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12 text-left">
                        <h2>Contact Us for Help</h2>
                    </div>
                    
                    <div class="col-md-6" id="askus_libchat">
                        <!-- "ask-us-chat-button" libanswers widget -->
                        <div id="libchat_ed1418c47639635236cffc31f9e86e74" class="btn btn-lg btn-outline-pride-gold btn-block rounded-0 mx-auto popular"></div>
                        <p class="mt-0 text-center"><small>Chat with a librarian 24/7!</small></p>
                        <script src="https://v2.libanswers.com/load_chat.php?hash=ed1418c47639635236cffc31f9e86e74" async></script> 
                    </div>
                    <div class="col-md-6">
                        <a id="askmodal-email" class="btn btn-lg btn-outline-pride-gold btn-block rounded-0 mx-auto popular" href="mailto:libref@uidaho.edu">
                        <span class="fas fa-envelope"></span> Email</a>
                        <p class="mt-0 text-center"><small>libref@uidaho.edu</small></p>
                    </div>
                    <div class="col-md-6">
                        <a id="askmodal-tel" class="btn btn-lg btn-outline-pride-gold btn-block rounded-0 mx-auto popular" href="tel:208-885-6584">
                        <span class="fas fa-phone"></span> Call</a>
                        <p class="mt-0 text-center"><small>Reference: 208-885-6584 <br/>Library: 208-885-6559</small></p>
                    </div>
                    <div class="col-md-6">
                        <a id="askmodal-txt" class="btn btn-lg btn-outline-pride-gold btn-block rounded-0 mx-auto popular" href="sms:208-449-0841">
                        <span class="fas fa-comments"></span> Text</a>
                        <p class="mt-0 text-center"><small>208-449-0841</small></p>
                    </div>

                    <div class="col-md-12">
                        <p class="px-3">Our reference librarians are here to help you with all your information needs, ready to connect via chat, text, or email. You can even set up a <a href="{{ '/help/research.html' | relative_url }}">research consultation with a subject librarian</a>!</p>
                    </div>

                </div>
                
                <hr>

                <div class="row justify-content-center">
                    <div class="col-10 col-md-5">
                        <h5>Online Assistance</h5>
                        <ul id="askmodal-online">
                            <li>
                                <a href="https://libanswers.uidaho.edu/index.php?">Frequently Asked Questions</a>
                            </li>
                            <li>
                                <a href="{{ '/help/offcampus.html' | relative_url }}">Off Campus Access</a>
                            </li>
                            <li>
                                <a href="https://libguides.uidaho.edu/index.php">Research Guides</a>
                            </li>
                            <li>
                                <a href="{{ '/help/search.html' | relative_url }}">Search the Library Website</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-10 col-md-5">
                        <h5>Information about the Library</h5>
                        <ul id="askmodal-info">
                            <li>
                                <a href="{{ '/about/hours.html' | relative_url }}">Hours</a>
                            </li>
                            <li>
                                <a href="{{ '/maps.html' | relative_url }}">Maps</a>
                            </li>
                            <li>
                                <a href="{{ '/about/directions.html' | relative_url }}">Directions and Parking</a>
                            </li>
                            <li>
                                <a href="{{ '/about/directory.html' | relative_url }}">People</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>