<button type="button" class="btn btn-lg btn-outline-pride-gold mr-2" data-toggle="modal" data-target="#ask">Ask Us</button>
<!-- ask a librarian Modal -->
<div class="modal fade" id="ask" tabindex="-1" role="dialog" aria-labelledby="askLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title" id="askLabel">Ask Us!
                    <a href="{{ '/help/' | relative_url }}">We can help.</a>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="fluid-container">

                    <div class="row">
                        <div class="col-sm-8 text-left">
                            <h2>Contact Us for Help</h2>

                        </div>
                        <div class="col-sm-4">
                            <!-- libanswers chat widget -->
                            <div id="libchat_269030407f93b3a2d093e02085e48412"></div>
                            <script type="text/javascript" src="https://v2.libanswers.com/load_chat.php?hash=269030407f93b3a2d093e02085e48412"></script>
                        </div>
                        <div class="col-md-12 text-left">
                            <p class="text-center mb-0">Our reference librarians are here to help you with all your information needs.</p>
                        </div>
                

                        <div class="col-sm-6">
                            <button type="button" class="btn btn-lg btn-outline-pride-gold my-3 btn-block rounded-0 mx-auto" style="width:90%">
                                <a href="tel:208-885-6584">
                                    <span class="fas fa-phone-alt"></span> Call: 208-885-6584</a>
                            </button>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-lg btn-outline-pride-gold my-3 btn-block rounded-0 mx-auto" style="width:90%">
                                <a href="mailto:libref@uidaho.edu">
                                    <span class="fas fa-envelope"></span> Email: libref@uidaho.edu</a>
                            </button>

                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-lg btn-outline-pride-gold my-3 btn-block rounded-0 mx-auto" style="width:90%">
                                <a href="sms:208-449-0841"> Text: 208-449-0841</a>
                            </button>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-lg btn-outline-pride-gold my-3 btn-block rounded-0 mx-auto" style="width:90%">
                                <a href="{{ '/help/rap.html' | relative_url }}">
                                    <span class="fas fa-user"></span> Schedule a Meeting</a>
                            </button>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="fluid-container">
                    <div class="row">
                        <div class="col-md-12 text-left">
                            <p class="text-center">You can also find assistance and information via our website.</p>
                        </div>
                        <div class="col-md-5 offset-1 text-left">
                            <h5>Online Assistance</h5>
                            <ul>
                                <li>
                                    <a href="https://libanswers.uidaho.edu/index.php?">Frequently Asked Questions</a>
                                </li>
                                <li>
                                    <a href="{{ '/help/offcampus.html' | relative_url }}">Off Campus Access</a>
                                </li>
                                <li>
                                    <a href="https://libguides.uidaho.edu/index.php">Research Guides</a>
                                </li>
                                <li>
                                    <a href="{{ '/help/search.html' | relative_url }}">Search the Library Website</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-5 text-left">
                            <h5>Information about the Library</h5>
                            <ul>
                                <li>
                                    <a href="{{ '/about/hours.html' | relative_url }}">Hours</a>
                                </li>
                                <li>
                                    <a href="{{ '/about/directions.html' | relative_url }}">Maps and Directions</a>
                                </li>
                                <li>
                                    <a href="{{ '/about/overnightparking.html' | relative_url }}">Parking</a>
                                </li>
                                <li>
                                    <a href="{{ '/about/directory.html' | relative_url }}">People</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-12 text-center mx-auto">
                            <ul class="nav nav-pills mt-2 ">
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ 'find/' | relative_url }}" >Find:</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link btn btn-outline-clearwater-light mr-2" href="{{ 'find/articles.html' | relative_url }}">Articles</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn btn-outline-clearwater-light mr-2" href="{{ 'find/books.html' | relative_url }}">Books</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn btn-outline-clearwater-light mr-2" href="{{ 'find/journals.html' | relative_url }}">Journals</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn btn-outline-clearwater-light mr-2" href="http://libguides.uidaho.edu/index.php">Research Guides</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn btn-outline-clearwater-light" href="services/reserve/">Course Reserves</a>
                                </li>
                             
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>