<button type="button" class="btn btn-outline-wild-rose mr-2" data-toggle="modal" data-target="#ask">Ask Us</button>
<!-- ask a librarian Modal -->
<div class="modal fade" id="ask" tabindex="-1" role="dialog" aria-labelledby="askLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="askLabel">Ask a Librarian! <a href="{{ '/help/' | relative_url }}">We can help.</a></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="fluid-container">
                
                    <div class="row">
                        <div class="col-sm-9">
                            <h2 style="margin-top:0px;">Help - Reference Services</h2>
                        </div>
                        <div class="col-sm-3">
                            <!-- libanswers chat widget -->
                            <div id="libchat_269030407f93b3a2d093e02085e48412"></div>
                            <script type="text/javascript" src="https://v2.libanswers.com/load_chat.php?hash=269030407f93b3a2d093e02085e48412"></script>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-sm-6">
                            <a type="button" class="btn btn-lg stone" href="tel:208-885-6584">
                                <span class="fas fa-phone-alt"></span> Call: 208-885-6584</a>
                        </div>
                        <div class="col-sm-6">
                            <a type="button" class="btn btn-lg plum" href="mailto:libref@uidaho.edu">
                                <span class="fas fa-envelope"></span> Email: libref@uidaho.edu</a>
                            <br>
                            <br>
                        </div>
                        <div class="col-sm-6">
                            <a type="button" class="btn btn-lg berry " href="sms:208-449-0841"> Text: 208-449-0841</a>
                            <br>
                            <br>
                        </div>
                        <div class="col-sm-6">
                            <a type="button" class="btn btn-lg moss" href="/help/rap.html">
                                <span class="fas fa-user"></span> Schedule a Meeting</a>
                            <br>
                            <br> </div>
                
                    </div>
                
                    <p>If you ever need help figuring out how to best use our many resources, feel free to contact our reference librarians by any of the means above. You can also meet a librarian in person by <a href="/help/rap.html"> making an appointment</a> or by visiting the reference desk, located on the first floor of the library.
                    <br>
                    <br>Below are some regularly used resource pages: </p>

                    <div class="row">
                        <div class="col-md-5 ">
                            <ul class="nomargin">
                                <li>
                                    <a href="/about/maps.html">Floor Maps</a>
                                </li>
                                <li>
                                    <a href="/about/hours.html">Hours</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-7">
                            <ul>
                                <li>
                                    <a href="/find/lc.html">Library of Congress Call Numbers</a>
                                </li>
                                <li>
                                    <a href="http://libguides.uidaho.edu/gettingstarted">Getting Started Research Guide</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>