<div class="container">
    <div class="row">
        <!-- logo -->
        <div class="col-md-10 my-2">
            <a title="University of Idaho Library" class="" href="{{ '/' | absolute_url }}">
            <img class="img-fluid lib-logo-lg" src="{{ '/assets/images/ui_library_horizontal.png' | relative_url }}" alt="University of Idaho Library [logo]" ></a>
        </div>
        <!-- quick nav -->
        <div class="col-md-2">
            <h1 class="float-right">
                    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bars"></i>
                          </button>
               
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
        </div>
    
    </div>

</div>