<div class="dropdown-menu dropdown-menu-right big-dropdown" aria-labelledby="dropdownMenuLink">
  <div class="bigdrop container">
    <div class="row text-center">
      <div class="col-md-4 col-sm-12">
        <h3 class="mt-2">
          <a href="{{ '/find/' | relative_url }}">Find</a>
        </h3>
        <h5>
          <a href="{{ '/find/articles.html' | relative_url }}">Articles</a>
        </h5>
        <h5>
          <a href="{{ '/find/books.html' | relative_url }}">Books</a>
        </h5>
        <h5>
          <a href="{{ '/find/dvds/html' | relative_url }}">DVDs</a>
        </h5>
        <h5>
          <a href="{{ '/find/journals.html' | relative_url }}">Journals</a>
        </h5>
        <h5>
          <a href="https://libguides.uidaho.edu/index.php">Research Guides</a>
        </h5>
        <a href="{{ '/find/' | relative_url }}">more resources... </a>
        <hr/>
        <h3>
          <a href="{{ '/collections/' | relative_url }}">Collections</a>
        </h3>
        <h5>
          <a href="{{ '/digital/' | relative_url }}">Digital Collections</a>
        </h5>
        <h5>
          <a href="https://www.insideidaho.org/">Inside Idaho</a>
        </h5>
        <h5>
          <a href="{{ '/special-collections/' | relative_url }}">Special Collections</a>
        </h5>
        <h5>
          <a href="https://vivo.nkn.uidaho.edu/vivo/">VIVO
            <small>(Research Network)</small>
          </a>
        </h5>
        <a href="{{ '/collections/' | relative_url }}">more collections ... </a>
      </div>
      <div class="col-md-4 col-sm-12">
        <h3 class="mt-2">
          <a href="{{ '/services/' | relative_url }}">Services</a>
        </h3>
        <h5>
          <a href="https://alliance-primo.hosted.exlibrisgroup.com/primo-explore/login?vid=UID">Account</a>
        </h5>
        <h5>
          <a href="{{ '/services/borrow/' | relative_url }}">Borrow/Renew</a>
        </h5>
        <h5>
          <a href="{{ '/services/reserve/' | relative_url }}">Course Reserves</a>
        </h5>
        <h5>
          <a href="{{ '/services/ill/' | relative_url }}">Interlibrary Loan</a>
        </h5>
        <h5>
          <a href="{{ '/services/workshops/' | relative_url }}">Workshops</a>
        </h5>
        <a href="{{ '/services/' | relative_url }}">more services ... </a>
        <hr />
        <h3>
          <a href="{{ '/about/' | relative_url }}">About</a>
        </h3>
        <h5>
          <a href="{{ '/about/hours.html' | relative_url }}">Floor Maps</a>
        </h5>
        <h5>
          <a href="{{ '/about/directory.html' | relative_url }}">Faculty and Staff</a>
        </h5>
        <h5>
          <a href="{{ '/help/offcampus.html' | relative_url }}">Off-Campus Access</a>
        </h5>
        <h5>
          <a href="{{ '/about/policies.html' | relative_url }}">Policies</a>
        </h5>
        <a href="{{ '/about/' | relative_url }}">more library info ... </a>
        <br>
      </div>

      <div class="col-md-4 col-sm-12">
        <!--<h3 class="mt-2"><a  href="http://ida.lib.uidaho.edu:2048/login?url=http://webofknowledge.com/UA">Databases</a></h3>-->
        <button type="button" class="btn btn-lg btn-outline-pride-gold my-3 btn-block rounded-0 mx-auto" style="width:90%">
          <a href="http://ida.lib.uidaho.edu:2048/login?url=http://search.ebscohost.com/login.asp?profile=ehost&amp;defaultdb=aph">Academic Search
            <span class="d-none d-md-block">Premier</span>
          </a>
        </button>
        <button type="button" class="btn btn-lg btn-outline-pride-gold my-3 btn-block rounded-0 mx-auto" style="width:90%">
          <a href="http://ida.lib.uidaho.edu:2048/login?url=http://www.jstor.org/">JSTOR</a>
        </button>
        <button type="button" class="btn btn-lg btn-outline-pride-gold my-3 btn-block rounded-0 mx-auto" style="width:90%">
          <a href="http://ida.lib.uidaho.edu:2048/login?url=http://webofknowledge.com/UA">Web of Science</a>
        </button>
        <button type="button" class="btn btn-lg btn-outline-pride-gold my-3 btn-block rounded-0 mx-auto" style="width:90%">
          <a href="https://scholar.google.com">Google Scholar</a>
        </button>
        <h6 class="mt-1">
          <a href="http://ida.lib.uidaho.edu:2048/login?url=http://webofknowledge.com/UA">
            <span class="fas fa-file"></span> All Databases</a>
        </h6>
        <hr/>
        <h6>
          <a href="{{ '/help/' | relative_url }}">
            <span class="fas fa-question"></span> Help</a>
        </h6>
        <h6 class="mt-3">
          <a href="{{ '/about/hours.html' | relative_url }}" class="mt-4">
            <span class="fas fa-clock"></span> Hours</a>
        </h6>
        <h6 class="mt-3">
          <a href="{{ '/help/search.html' | relative_url }}#">
            <span class="fas fa-search"></span> Site Search</a>
        </h6>


      </div>
    </div>
    <hr class="border-pride-gold">

    <div class="row text-center">
      <div class="col-md-12 text-left">
        <h4>Library Initiatives
        </h4>
      </div>
      <div class="col-md-4">
        <a class="projectlink" href="https://cdil.lib.uidaho.edu/">
          <img class="img-fluid" src="https://www.lib.uidaho.edu/digital/images/projects/cdil.jpg">
        </a>
        <br>

      </div>
      <div class="col-md-4">
        <a class="projectlink" class="image-fluid" href="https://www.lib.uidaho.edu/services/workshops/">
          <img class="img-fluid" src="https://www.lib.uidaho.edu/digital/images/projects/workshops.jpg">
        </a>
      </div>
      <div class="col-md-4">
        <a class="projectlink" href="https://insideidaho.org/">
          <img class="img-fluid" src="https://www.lib.uidaho.edu/digital/images/projects/insideidaho.jpg">
        </a>
      </div>
    </div>
  </div>
</div>