<!-- mobile menu button -->
<button id="mobileMenu" type="button" class="btn btn-lg btn-outline-pride-gold mr-2" data-toggle="modal" data-target="#mobilemenu">
    <span class="fas fa-bars"></span>
    <span class="sr-only">Main Menu</span>
</button>
<!-- mobile menu modal -->
<div class="modal fade" id="mobilemenu" tabindex="-1" role="dialog" aria-labelledby="askLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <div class="row ">
                    <div class="col-12 text-center">
                        <ul id="mobilemenu-sections" class="list-unstyled ">
                            <li class="mx-2 mb-3">
                                <a class="btn btn-lg btn-outline-pride-gold my-3 btn-block rounded-0 mx-auto popular" href="{{ '/find/' | relative_url }}">
                                    <span class="fas fa-book-open"></span> Find</a>
                            </li>
                            <li class="mx-2 mb-3">
                                <a class="btn btn-lg btn-outline-pride-gold my-3 btn-block rounded-0 mx-auto popular" href="{{ '/services/' | relative_url }}">
                                    <span class="fas fa-wrench"></span> Services</a>
                            </li>
                            <li class="mx-2 mb-3">
                                <a class="btn btn-lg btn-outline-pride-gold my-3 btn-block rounded-0 mx-auto popular" href="{{ '/collections/' | relative_url }}">
                                    <span class="fas fa-th-large"></span> Collections</a>
                            </li>
                            <li class="mx-2 mb-3">
                                <a class="btn btn-lg btn-outline-pride-gold my-3 btn-block rounded-0 mx-auto popular" href="{{ '/about/' | relative_url }}">
                                    <span class="fas fa-map-marker-alt"></span> About</a>
                            </li>
                        </ul>
                        
                        <hr>

                        <div class="row text-left">
                            <div class="col-6">
                                <h6 class="mt-3">
                                    <a id="mobilemenu-account" href="https://alliance-uidaho.primo.exlibrisgroup.com/discovery/account?vid=01ALLIANCE_UID:UID">
                                        <span class="fas fa-sign-in-alt"></span> Account</a>
                                </h6>
                            </div>
                            <div class="col-6">
                                <h6 class="mt-3">
                                    <a id="mobilemenu-room" href="{{ '/services/rooms.html' | relative_url }}">
                                        <span class="fas fa-door-open"></span> Book a Room</a>
                                </h6>
                            </div>
                            <div class="col-6">
                                <h6 class="mt-3">
                                    <a id="mobilemenu-maps" href="{{ '/about/maps.html' | relative_url }}" class="mt-4">
                                        <span class="fas fa-map"></span> Floor Maps</a>
                                </h6>
                            </div>
                            <div class="col-6">
                                <h6 class="mt-3">
                                    <a id="mobilemenu-updates" href="{{ '/about/updates.html' | relative_url }}">
                                        <span class="fas fa-exclamation-circle"></span> Updates</a>
                                </h6>
                                <!--<h6 class="mt-3">
                                    <a id="mobilemenu-hours" href="{{ '/about/hours.html' | relative_url }}" class="mt-4">
                                        <span class="fas fa-clock"></span> Hours</a>
                                </h6>-->
                            </div>
                            <div class="col-6">
                                <h6 class="mt-3">
                                    <a id="mobilemenu-help" href="{{ '/help/' | relative_url }}">
                                        <span class="fas fa-question"></span> Help</a>
                                </h6>
                            </div>
                            <div class="col-6">
                                <h6 class="mt-3">
                                    <a id="mobilemenu-search" href="{{ '/help/search.html' | relative_url }}">
                                        <span class="fas fa-search"></span> Site Search</a>
                                </h6>
                            </div>
                        </div>

                        <hr>

                        <h3>Top Resources</h3>
                        <a id="mobilemenu-asp" class="btn btn-lg btn-outline-secondary my-3 btn-block rounded-0 mx-auto popular" href="https://uidaho.idm.oclc.org/login?url=http://search.ebscohost.com/login.asp?profile=ehost&defaultdb=aph&defaultdb=f5h&defaultdb=ufh">Academic Search Premier</a>
                        <a id="mobilemenu-jstor" class="btn btn-lg btn-outline-secondary my-3 btn-block rounded-0 mx-auto popular" href="https://uidaho.idm.oclc.org/login?url=http://www.jstor.org/">JSTOR</a>
                        <a id="mobilemenu-wos" class="btn btn-lg btn-outline-secondary my-3 btn-block rounded-0 mx-auto popular" href="https://uidaho.idm.oclc.org/login?url=https://webofknowledge.com/UA">Web of Science</a>
                        <a id="mobilemenu-gscholar" class="btn btn-lg btn-outline-secondary my-3 btn-block rounded-0 mx-auto popular" href="https://scholar.google.com">Google Scholar</a>
                        <h6 class="mt-1">
                            <a id="mobilemenu-az" href="https://libguides.uidaho.edu/az.php"><span class="fas fa-file"></span> All Databases</a>
                        </h6>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>