<div class="dropdown-menu dropdown-menu-right big-dropdown" aria-labelledby="dropdownMenuLink">
  <div class="bigdrop container">
    <div class="row text-center">
      
          <div class="col-md-4 col-sm-12">
              <h4 class="mt-2">Library Initiatives
                </h4>
            <button type="button" class="btn btn-lg btn-outline-ponderosa-pine my-3 btn-block rounded-0 mx-auto" style="width:90%">
              <a href="">Center for Digital <br/>
                Inquiry and Learning 
              </a>
            </button>
            <button type="button" class="btn btn-lg btn-outline-ponderosa-pine my-3 btn-block rounded-0 mx-auto" style="width:90%">
              <a href="">The MILL
              </a>
            </button>
            <button type="button" class="btn btn-lg btn-outline-ponderosa-pine my-3 btn-block rounded-0 mx-auto" style="width:90%">
              <a href="">Vandal Poem of the Day
              </a>
            </button>
            <button type="button" class="btn btn-lg btn-outline-ponderosa-pine my-3 btn-block rounded-0 mx-auto" style="width:90%">
              <a href="">ThinkOpen
              </a>
            </button>
            <button type="button" class="btn btn-lg btn-outline-ponderosa-pine my-3 btn-block rounded-0 mx-auto" style="width:90%">
              <a href="">VIVO
              </a>
            </button>

          </div>
          <div class="col-md-4 col-sm-12">
              <h4 class="mt-2">Library Projects
                </h4>
            <button type="button" class="btn btn-lg btn-outline-wild-garnet my-3 btn-block rounded-0 mx-auto" style="width:90%">
              <a href="">Digital Initiatives
              </a>
            </button>
            <button type="button" class="btn btn-lg btn-outline-wild-garnet my-3 btn-block rounded-0 mx-auto" style="width:90%">
              <a href="">Inside Idaho
              </a>
            </button>
            <button type="button" class="btn btn-lg btn-outline-wild-garnet my-3 btn-block rounded-0 mx-auto" style="width:90%">
              <a href="">Gary Strong Curricuulum Center
              </a>
            </button>
            <button type="button" class="btn btn-lg btn-outline-wild-garnet my-3 btn-block rounded-0 mx-auto" style="width:90%">
              <a href="">Instruction Services
              </a>
            </button>
            <button type="button" class="btn btn-lg btn-outline-wild-garnet my-3 btn-block rounded-0 mx-auto" style="width:90%">
              <a href="">Government Documents
              </a>
            </button>

          </div>

          <div class="col-md-4 col-sm-12">
              <h4 class="mt-2">Popular Resources
                </h4>
            <button type="button" class="btn btn-lg btn-outline-pride-gold my-3 btn-block rounded-0 mx-auto" style="width:90%">
              <a href="http://ida.lib.uidaho.edu:2048/login?url=http://search.ebscohost.com/login.asp?profile=ehost&amp;defaultdb=aph">Academic Search
                <span class="d-none d-md-block">Premier</span>
              </a>
            </button>
            <button type="button" class="btn btn-lg btn-outline-pride-gold my-3 btn-block rounded-0 mx-auto" style="width:90%">
              <a href="http://ida.lib.uidaho.edu:2048/login?url=http://www.jstor.org/">JSTOR</a>
            </button>
            <button type="button" class="btn btn-lg btn-outline-pride-gold my-3 btn-block rounded-0 mx-auto" style="width:90%">
              <a href="http://ida.lib.uidaho.edu:2048/login?url=http://webofknowledge.com/UA">Web of Science</a>
            </button>
            <button type="button" class="btn btn-lg btn-outline-pride-gold my-3 btn-block rounded-0 mx-auto" style="width:90%">
              <a href="https://scholar.google.com">Google Scholar</a>
            </button>
            <h6 class="mt-1">
              <a href="http://ida.lib.uidaho.edu:2048/login?url=http://webofknowledge.com/UA">
                <span class="fas fa-file"></span> All Databases</a>
            </h6>
            <hr/>
            <h6>
              <a href="{{ '/help/' | relative_url }}">
                <span class="fas fa-question"></span> Help</a>
            </h6>
            <h6 class="mt-3">
              <a href="{{ '/about/hours.html' | relative_url }}" class="mt-4">
                <span class="fas fa-clock"></span> Hours</a>
            </h6>
            <h6 class="mt-3">
              <a href="{{ '/help/search.html' | relative_url }}#">
                <span class="fas fa-search"></span> Site Search</a>
            </h6>


          </div>
    </div>
    <hr class="border-pride-gold">

    <div class="row text-center">
      <div class="col-md-12 text-left">
        <ul class="nav nav-pills mt-2 ">
          <li class="nav-item">
            <a class="nav-link disabled">Library Initiatives:</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link btn btn-outline-secondary" href="find/articles.html">The MILL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-outline-secondary" href="find/journals.html">Inside Idaho</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-outline-secondary" href="http://libguides.uidaho.edu/index.php">CDIL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-outline-secondary" href="services/reserve/">VIVO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-outline-secondary" href="services/ill/">ThinkOpen</a>
          </li>
        </ul>

      </div>
    </div>
  </div>