<div class="dropdown-menu dropdown-menu-right big-dropdown" aria-labelledby="dropdownMenuLink">
        <div class="bigdrop container">  
                <div class="row text-center">
                  <div class="col-md-3 text-center">
                    <h3>Search & Find</h3>
                   <h4> <a href="">Articles</a><br/></h4>
                   <h4> <a href="#">Books</a><br/></h4>
                   <h4> <a href="#">Journals</a><br/></h4>
                   <h4> <a href="#">Research Guides</a><br/></h4>
                   <a href="#">DVDs</a><br/>
                   <a href="#">Government Documents</a><br/>
                   <a href="#">Geospatial Resources</a><br/>
                   <a href="#">Maps</a><br/>
                    <a href="#">These and Dissertations</a><br/>
                                        
                    <a href="#">Link 3</a><br/>
                  </div>
                  <div class="col-md-3">
                    <h3>Services</h3>
                    <h4> <a href="">Borrow/Renew</a><br/></h4>
                    <h4> <a href="#">Course Reserves</a><br/></h4>
                    <h4> <a href="#">Interlibrary Loan</a><br/></h4>
                    <h4> <a href="#">Workshops</a><br/></h4>
                    <a href="#">Link 1</a><br/>
                    <a href="#">Link 2</a><br/>
                    <a href="#">Link 3</a><br/>
                  </div>
                  <div class="col-md-3">
                    <h3>Collections</h3>
                    <h4> <a href="">Special Collections & Archives</a><br/></h4>
                    <h4> <a href="#">Digital Collections</a><br/></h4>
                    <h4> <a href="#">Inside Idaho</a><br/></h4>
                    <a href="#">Vivo</a><br/>
                    <a href="#">Jazz Collections</a><br/>
                    <a href="#">Link 3</a><br/>
                  </div>
                  <div class="col-md-3">
                        <h3>About Us</h3>
                        <h4> <a href="">Floor Maps</a><br/></h4>
                        <h4> <a href="#">People</a><br/></h4>
                        <h4> <a href="#">Off-Campus Access</a><br/></h4>
                        <a href="#">Link 1</a><br/>
                        <a href="#">Link 2</a><br/>
                        <a href="#">Link 3</a><br/>
                      </div>
                </div>
                <hr/>
                <hr/>
                <div class="row">
                    
                        <div class="col-md-4">
                                <a class="projectlink" href="https://cdil.lib.uidaho.edu/"><img src="https://www.lib.uidaho.edu/digital/images/projects/cdil.jpg"></a> <br>
            
                              </div>
                              <div class="col-md-4">
                              <a class="projectlink" href="https://insideidaho.org/"><img src="https://www.lib.uidaho.edu/digital/images/projects/insideidaho.jpg"></a>  </div>
                            <div class="col-md-4">
                              <a class="projectlink" href="https://www.lib.uidaho.edu/services/workshops/"><img src="https://www.lib.uidaho.edu/digital/images/projects/workshops.jpg"></a> 
                            </div>
                </div>
              </div>
  </div>