<div class="dropdown-menu dropdown-menu-right big-dropdown" aria-labelledby="dropdownMenuLink">
    <div class="bigdrop container">
        <div class="row text-center">
            <div class="col-md-4 col-sm-12">
                
                <button type="button" class="btn btn-lg btn-outline-pride-gold my-3 btn-block rounded-0 mx-auto" style="width:90%">
                    <a href="http://ida.lib.uidaho.edu:2048/login?url=http://search.ebscohost.com/login.asp?profile=ehost&amp;defaultdb=aph">Academic Search
                        <span class="d-none d-md-block">Premier</a>

                </button>
                <button type="button" class="btn btn-lg btn-outline-pride-gold my-3 btn-block rounded-0 mx-auto" style="width:90%">
                    <a href="http://ida.lib.uidaho.edu:2048/login?url=http://www.jstor.org/">JSTOR</a>
                </button>
                <button type="button" class="btn btn-lg btn-outline-pride-gold my-3 btn-block rounded-0 mx-auto" style="width:90%">
                    <a href="http://ida.lib.uidaho.edu:2048/login?url=http://webofknowledge.com/UA">Web of Science</a>
                </button>
                <button type="button" class="btn btn-lg btn-outline-pride-gold my-3 btn-block rounded-0 mx-auto" style="width:90%">
                    <a href="https://scholar.google.com">Google Scholar</a>
                </button>
                <h6 class="mt-1">
                    <a href="http://ida.lib.uidaho.edu:2048/login?url=http://webofknowledge.com/UA">
                        <span class="fas fa-file"></span> All Databases</a>
                </h6>
                <hr/>
                <h6>
                    <a href="/help/">
                        <span class="fas fa-question"></span> Help</a>
                </h6>
                <h6 class="mt-3">
                    <a href="#" class="mt-4">
                        <span class="fas fa-clock"></span> Hours</a>
                </h6>
                <h6 class="mt-3">
                    <a href="#">
                        <span class="fas fa-search"></span> Site Search</a>
                </h6>
            </div>
            <div class="col-md-4 col-sm-12">
                <h3 class="mt-2">
                    <a href="/find/">Find</a>
                </h3>
                <h5>
                    <a href="">Articles</a>
                </h5>
                <h5>
                    <a href="#">Books</a>
                </h5>
                <h5>
                    <a href="#">DVDs</a>
                </h5>
                <h5>
                    <a href="#">Journals</a>
                </h5>
                <h5>
                    <a href="#">Research Guides</a>
                </h5>
                <a href="#">more ... </a>
                <hr/>
                <h3>
                    <a href="/collections/">Collections</a>
                </h3>
                <h5>
                    <a href="#">Digital Collections</a>
                </h5>
                <h5>
                    <a href="#">Inside Idaho</a>
                </h5>
                <h5>
                    <a href="">Special Collections</a>
                </h5>
                <h5>
                    <a href="#">VIVO
                        <small>(Research Network)</small>
                    </a>
                </h5>
                <a href="#">more ... </a>
            </div>
            <div class="col-md-4 col-sm-12">
                <h3 class="mt-2">
                    <a href="/services/">Services</a>
                </h3>
                <h5>
                    <a href="">Account</a>
                </h5>
                <h5>
                    <a href="">Borrow/Renew</a>
                </h5>
                <h5>
                    <a href="#">Course Reserves</a>
                </h5>
                <h5>
                    <a href="#">Interlibrary Loan</a>
                </h5>
                <h5>
                    <a href="#">Workshops</a>
                </h5>
                <a href="#">more ... </a>
                <hr />
                <h3>
                    <a href="/about/">About the Library</a>
                </h3>
                <h5>
                    <a href="">Floor Maps</a>
                </h5>
                <h5>
                    <a href="">Giving to the Library</a>
                </h5>
                <h5>
                    <a href="#">Faculty and Staff</a>
                </h5>
                <h5>
                    <a href="#">Off-Campus Access</a>
                </h5>
                <a href="#">more ... </a>
                <br>
            </div>
        </div>
        <hr>
        <hr>
        <div class="row">
            <div class="col-md-2 text-center">
                <h5>Current
                    <br> Initiatives</br>
                </h5>
            </div>
            <div class="col-md-3">
                <a class="projectlink" href="https://cdil.lib.uidaho.edu/">
                    <img class="img-fluid" src="https://www.lib.uidaho.edu/digital/images/projects/cdil.jpg">
                </a>
                <br>

            </div>
            <div class="col-md-3">
                <a class="projectlink" href="https://insideidaho.org/">
                    <img class="img-fluid" src="https://www.lib.uidaho.edu/digital/images/projects/insideidaho.jpg">
                </a>
            </div>
            <div class="col-md-3">
                <a class="projectlink" class="image-fluid" href="https://www.lib.uidaho.edu/services/workshops/">
                    <img class="img-fluid" src="https://www.lib.uidaho.edu/digital/images/projects/workshops.jpg">
                </a>
            </div>
        </div>
    </div>
</div>