<div id="indexCarousel" class="carousel slide" data-ride="carousel" data-interval="20000" data-keyboard="true">
    <ol class="carousel-indicators">
        <li data-target="#indexCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#indexCarousel" data-slide-to="1"></li>
        <li data-target="#indexCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        
    {% for slide in site.data.carousel %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img src="{{ slide.image }}" alt="{{ slide.caption }}">
        <div class="carousel-caption d-none d-md-block px-3 mb-3">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-left">{{ slide.headline }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 text-left">
                    <p class="mb-2 text-left slide-paragraph">{{ slide.paragraph }}</p>
                </div>
                <div class="col-md-4 ">
                    <p>
                    <a class="btn btn-outline-pride-gold" href="{{ slide.link }}">{{ slide.link-text }}</a>
                    {% if slide.link2 %}
                    <a class="btn btn-outline-clearwater mr-2 mt-md-2 mt-sm-0" href="{{ slide.link2 }}">{{ slide.link2-text }}</a>{% endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class="d-md-none pt-4 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="text-left">{{ slide.headline }}</h3>
                    </div>
                    <div class="col-md-6 offset-3">
                        <p>
                        <a class="btn btn-outline-pride-gold" href="{{ slide.link }}">{{ slide.link-text }}</a>
                        {% if slide.link2 %}
                        <a class="btn btn-outline-clearwater mr-2 mt-md-2 mt-sm-0" href="{{ slide.link2 }}">{{ slide.link2-text }}</a>{% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    
    </div>

    <a class="carousel-control-prev" href="#indexCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#indexCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
  
</div>
