
<div id="demo" class="carousel slide row" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www.uidaho.edu//-/media/UIdaho-Responsive/Images/News/here-we-have-idaho/2018-spring/hwhi_s18_imax_1450x510.ashx" alt="Los Angeles" >
        <div class="carousel-caption">
          <h3>Los Angeles</h3>
          <p>We had such a great time in LA!</p>
        </div>   
      </div>
      <div class="carousel-item">
        <img src="https://cdil.lib.uidaho.edu/images/summerfellow1.jpg" alt="Chicago" >
        <div class="carousel-caption">
          <h3>Center for Digital Inquiry and Learning (CDIL)</h3>
          <p>The only center of its kind in Idaho, CDIL opens up digital scholarship opportunities on campus. </p>
          <hr/>
          <p><a class="btn btn-outline-pride-gold" href="https://cdil.lib.uidaho.edu/">See what we're up to</a> | <a class="btn btn-outline-clearwater" href="https://cdil.lib.uidaho.edu/#fellowships">Fellowship Opportunities</a></p>
        </div>   
      </div>
      <div class="carousel-item">
        <img src="https://www.uidaho.edu//-/media/UIdaho-Responsive/Images/News/here-we-have-idaho/2018-spring/hwhi_s18_imax_1450x510.ashx" alt="New York" >
        <div class="carousel-caption">
          <h3>New York</h3>
          <p>We love the Big Apple!</p>
        </div>   
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>