{% for color in site.data.colors %}
.btn-{{color.name}}{
    color: #fff;
    background-color: ${{color.name}};
    border-color: ${{color.name}};
    &:hover{
        background-color: darken(${{color.name}}, 5%);
        border-color: ${{color.name}};
        color:white;
    }
}

.btn-outline-{{color.name}}{
color: {{color.name}};
background-color: transparent;
background-image: none;
border-color: ${{color.name}};
&:hover{
    background-color: ${{color.name}};
    color:white;
}}
.{{color.name}}{
    color:${{color.name}} !important;
}

.background-{{color.name}}{
    color: white; 
    background-color:${{color.name}} !important;
}

.border-{{color.name}}{
    border-color:${{color.name}} !important;
}
{%endfor%}