<!-- ask a librarian Modal -->
<div class="modal fade" id="databases" tabindex="-1" role="dialog" aria-labelledby="askLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title" id="askLabel">
                    Library Databases <br/>
                   
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <p>Browse all currently available datases below, or visit our <a href="https://libguides.uidaho.edu/az.php?">A-Z List</a> for more browsing options and detailed descriptions.</p>
               
            </div>
        </div>
    </div>
</div>