<!-- all databases modal -->
<div class="modal fade" id="databases" tabindex="-1" role="dialog" aria-labelledby="databasesLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title" id="databasesLabel">
                    Library Databases
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Browse all databases below, or visit our <a href="https://libguides.uidaho.edu/az.php?">Databases by Title</a> for detailed descriptions and more information.</p>
                <!-- libguides A-Z List widget -->
                <script> springshare_widget_config_1580951829753 = { path: 'assets' }; </script>
                <div id="s-lg-widget-1580951829753"></div>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://lgapi-us.libapps.com/widgets.php?site_id=4475&widget_type=2&search_terms=&search_match=2&subject_ids=&sort_by=name&list_format=2&drop_text=Select+a+Database...&output_format=1&load_type=2&enable_description=0&widget_title=A-Z+Database+List&widget_height=250&widget_width=100%25&widget_link_color=2954d1&widget_embed_type=1&num_results=0&enable_more_results=1&window_target=2&config_id=1580951829753";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","s-lg-widget-script-1580951829753");</script>

            </div>
        </div>
    </div>
</div>