{% assign researchers = site.data.vivo-featured %}
{% for researcher in researchers %}
<div class="card mx-auto researchers">
    <a href="{{ researcher.profile-link }}">
        <img class="card-img-top" src="https://www.lib.uidaho.edu/media/vivo-featured/{{ researcher.last-name | downcase }}.jpg" alt="{{ researcher.last-name }} portrait">
    </a>
    <div class="card-body">
        <h4 class="card-title">
            <a href="{{ researcher.profile-link  }}" style="font-weight:normal"> {{ researcher.first-name }} {{ researcher.last-name }}</a>
        </h4>
        <p class="card-text">
            {{ researcher.rank }}
            <br><a href="{{ researcher.dept-link }}" style="font-weight:normal;font-size:18px;">{{ researcher.department }}</a>
        </p>
        <h5>Recent {{researcher.pub-type | capitalize}}</h5>
        <p class="card-text">
            <a href="{{ researcher.pub-link }}">{{ researcher.publication}}</a>
            {% if researcher.pub-type == "grant" %}
            <br>awarded by {{ researcher.publication-journal }}
            {% elsif researcher.pub-type == "book" %}
            {% else %}
            <br>in {{ researcher.publication-journal }}
            {% endif %}
        </p>
        <a href="{{ researcher.profile-link }}" class="btn btn-clearwater ">View VIVO Profile</a>
    </div>
</div>            
{% endfor %}
<p class="text-center"><small><a href="{{ '/recognitions/featured-faculty.html' | relative_url }}">View All Featured Faculty</a></small></p>
