<div class="container-fluid py-3  mt-3 featurebar">
  <div class="row">
    <div class="col-md-4 col-sm-12 ">
      <h4 class="text-center">Featured Faculty</h4>
      <div id="featuredResearcher" class="card mx-auto"></div>
      <p class="text-center"><small><a href="{{ '/recognitions/featured-faculty.html' | relative_url }}">View All Featured Faculty</a></small></p>
    </div>
    <div class="col-md-4 col-sm-12 mt-sm-4">
     <!-- <h4 class=" text-center">Workshops &amp; Events</h4>-->
      <div class="card m-2">
        <div class="card-body">
          <h4>Workshops &amp; Events</h4>
          <!--<div id="api_upc_cid4884_iid3479"></div><script type="text/javascript" src="https://api3.libcal.com/api_events.php?iid=3479&m=upc&cid=4884&audience=&c=&d=&l=5&simple=ul_date&context=object&format=js"> </script>-->
          <p><span class="far fa-calendar-times"></span> Workshops are off until next Fall semester. Explore our
          <a href="{{ '/services/workshops/resources.html' | relative_url }}">Resources page</a> for materials from past events and be sure to check back soon for new event listings!</p>
          <hr>
          <div class="text-center">
            <a href="{{ '/services/workshops/' | relative_url }}" class="btn btn-secondary"><span class="fas fa-calendar-alt"></span> Calendar</a>
            <a href="{{ '/services/workshops/resources.html' | relative_url }}" class="btn btn-secondary"><span class="fas fa-file"></span> Resources</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-none d-md-block" style="max-height:650px; overflow-y:scroll;">
      <div class="card mx-auto" style="max-width: 23rem;">
        <a class="twitter-timeline" href="https://twitter.com/UofILibrary/lists/ui-library-tweets">A Twitter List by UofILibrary</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
</div>