<div class="container-fluid py-3 mt-3">
  <div class="row">

    <div class="col-md-4 mb-4">
      <div class="card m-2 mx-auto text-center" style="max-width: 368px;">
        <div class="card-body">
          <h4><a href="{{ '/about/liaisons.html' | relative_url }}">Featured Subject Librarian</a></h4>
          <p class="card-text"><a href="{{ '/help/research.html' | relative_url }}">Get help with your Research!</a></p>
          <div id="featuredResearcher" class="mx-auto"></div>
          {%- assign people = site.data.about_people | where_exp: "p","p.liaison_title" -%}
          <script>
              /* featured librarians */
              var researchers = [
                  // img, college, name, email, vivo, departments
                  {% for l in people %}[ "{% if l.image %}/directory/{{ l.image }}{% elsif l.headshot %}/headshots/{{ l.headshot }}{% else %}/directory/tower_icon_gold_sq.png{% endif %}","{{ l.liaison_title }}","{{ l.first_name }} {{ l.last_name }}","{{ l.email }}","{{ l.vivo_id }}","{{ l.liaison_departments }}" ]{% unless forloop.last %},{% endunless %}
                  {% endfor %}
              ];
              var featuredResearcher = researchers.sort(function() { return 0.5 - Math.random() }).pop();
              var featuredCard = `<a href="http://vivo.nkn.uidaho.edu/individual/${ featuredResearcher[4]}"><img class="img-fluid rounded" src="{{ site.lib-media }}${featuredResearcher[0]}" alt="portrait of ${featuredResearcher[2]}"></a>
              <div class="card-body"> 
                <h4 class="card-title"><a href="http://vivo.nkn.uidaho.edu/individual/${featuredResearcher[4]}">${featuredResearcher[2]}</a></h4>
                <p class="card-text"><strong>${featuredResearcher[1]}</strong><br>${featuredResearcher[5]}</p> 
                <a href="https://uidaho.co1.qualtrics.com/jfe/form/SV_1GJiDTJ7po0bDk9?topic=${encodeURIComponent(featuredResearcher[1])}&person=${encodeURIComponent(featuredResearcher[2])}&email=${encodeURIComponent(featuredResearcher[3])}" target="_blank" rel="noopener" class="btn btn-clearwater ">Request Meeting</a>
              </div>`;
              document.getElementById("featuredResearcher").innerHTML = featuredCard;
          </script>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card m-2">
        <div class="card-body">
          <div id="api_upc_cid4884_iid3479"></div><script async type="text/javascript" src="https://api3.libcal.com/api_events.php?iid=3479&m=upc&cid=4884&audience=&c=&d=&l=5&simple=ul_date&context=object&format=js"> </script>
          <hr>
          <div class="text-center">
            <a href="{{ '/services/workshops/' | relative_url }}" class="btn btn-payette-blue m-2"><span class="fas fa-calendar-alt"></span> Calendar</a>
            <a href="{{ '/services/workshops/resources.html' | relative_url }}" class="btn btn-payette-blue m-2"><span class="fas fa-file"></span> Resources</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-4 d-none d-md-block">
      <div class="card m-2 mx-auto" style="max-width: 368px;">
        <div class="card-body">
          <a class="twitter-timeline" data-width="368" data-height="650" href="https://twitter.com/UofILibrary/lists/ui-library-tweets?ref_src=twsrc%5Etfw">A Twitter List by UofILibrary</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>

  </div>
</div>