{% assign researchers = site.data.vivo-featured %}
        {% for researcher in researchers %}
                    <div class="card mx-auto" id="researcher-{{ researcher.last-name | downcase }}" style="display:none;max-width: 16rem;">
                            <a href="{{ researcher.profile-link | absolute_url }}"><img class="card-img-top" src="https://www.lib.uidaho.edu/images/vivo-featured/{{ researcher.last-name | downcase }}.jpg" alt="Card image cap"></a>
                            <div class="card-body">
                                <h4 class="card-title"> <a href="{{ researcher.profile-link | absolute_url }}" style="font-weight:normal"> {{ researcher.first-name }} {{ researcher.last-name }}</a></h4>
                    <p class="card-text">{{ researcher.rank }}
                        <br /><a href="{{ researcher.dept-link }}" style="font-weight:normal;font-size:18px;">{{ researcher.department }}</a></p>
                        <h5>Recent {{researcher.pub-type | capitalize}}</h5>
                        <p class="card-text">
			{% if research.pub-type == "grant" %}
			    <a href="{{ researcher.pub-link | absolute_url }} ">{{ researcher.publication}}</a></br> awarded by {{ researcher.publication-journal }}</p>
			{% else %}
                            <a href="{{ researcher.pub-link | absolute_url }} ">{{ researcher.publication}}</a><br/> in {{ researcher.publication-journal}}</p>
			{% endif %}
                    <a href="{{ researcher.profile-link | absolute_url }} " class="btn btn-clearwater ">View VIVO Profile</a>
                </div>
            </div>            
        {% endfor %}
        <p class="text-center"><small><a href="{{ '/recognitions/featured-faculty.html' | relative_url }}">View All Featured Faculty</a></small></p>
<script src="{{ "/assets/js/jquery-3.3.1.min.js" | relative_url }}"></script>
<script>
        var researchers = [{% for researcher in researchers %}{% if forloop.last %}"{{researcher.last-name | downcase}}"{%else%}"{{researcher.last-name | downcase}}",{% endif %}{% endfor %}];
        /* Fisher-Yates shuffle https://bost.ocks.org/mike/shuffle/ */
    function shuffle(array) {
        var m = array.length, t, i;
        while (m) {
        i = Math.floor(Math.random() * m--);
        t = array[m];
        array[m] = array[i];
        array[i] = t;
        }
        return array;
    }
    shuffle(researchers);
    console.log(researchers[0]);
 $(document).ready(function(){
    document.getElementById("researcher-" + researchers[0]).style.display = "";

    });

        </script>
