<footer class="border-top">
    <div class="container-fluid py-3">
        <div class="row">

            <div class="col-12 mb-3">
                <ul id="footer-links" class="nav text-uppercase pb-3">
                    <li class="nav-item"><a class="nav-link" href="{{ '/' | relative_url }}">Library Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ '/about/' | relative_url }}">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ '/about/maps.html' | relative_url }}">Floor Maps</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ '/help/search.html' | relative_url }}">Site Search</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ '/about/hours.html' | relative_url }}">Hours</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ '/help/' | relative_url }}">Help</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row align-items-center">
                    <div class="col-3 text-right">
                        <div class="px-3 py-2 mb-3">
                            <a title="University of Idaho Library" href="{{ '/' | relative_url }}">
                                <img id="footer-logo" class="img-fluid" src="{{ '/images/tower_icon_gold.png' | prepend: site.lib-media }}" alt="Gold U of I Library Tower logo" >
                            </a>
                        </div>
                    </div>
                    <div class="col-9">
                        <p class="border-left border-pride-gold pl-3 mb-3">
                            University of Idaho Library<br>
                            <a id="footer-gmap" href="https://goo.gl/maps/uxfqGrtoTN82">850 S Rayburn Street<br>
                            Moscow, ID 83844-2350</a><br>
                            (208) 885-6559<br>
                            <a href="{{ '/about/directions.html' | relative_url }}"><span class="fas fa-location-arrow"></span> Directions</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <p class="mb-3 border rounded border-secondary p-4 mr-4"><small>U of I Moscow is located on the homelands of the Nimiipu (Nez Perce). We extend gratitude to the indigenous people that call this place home, since time immemorial. U of I recognizes that it is our academic responsibility to build relationships with the indigenous people to ensure integrity of tribal voices.</small></p>
            </div>
            
        </div>
        <div class="row d-flex justify-content-end">
            <div class="col-12 col-lg-8">
                <p class="text-md-center text-lg-right mt-2 mr-4"><small>
                    © 2021 University of Idaho Library <span class="px-3">|</span> 
                    <a href="https://www.uidaho.edu/privacy">U of I Privacy Standard</a> <span class="px-3">|</span> 
                    <a href="https://www.uidaho.edu/brand-resource-center/support-teams/web-and-digital/web-accessibility">Web Accessibility</a> <span class="px-3">|</span>
                    <a href="">Website Feedback</a>
                </small></p>
            </div>
        </div>
    </div>
</footer>