<!-- Optional JS for Bootstrap: jQuery first, then Bootstrap bundle JS -->
<script src="{{ '/assets/js/jquery-3.4.1.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>
<!-- load other js -->
<script src="{{ '/assets/js/hours.js' | relative_url }}"></script>
{% if page.layout == "page" %}{% include js/page-sidebar.js %}{% endif %}
{% if page.table-id %}{% include js/table-basic.js %}{% endif %}
{% if page.section == "home" %}{% include js/home.js %}{% endif %}
{% if page.custom-foot %}{% include {{ page.custom-foot }} %}{% endif %}
