<!-- Optional JS for Bootstrap: jQuery first, then Bootstrap bundle JS -->
<script src="{{ '/assets/js/jquery-latest.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>
<!-- analytics events -->
{% include google-analytics-events.html %}
<!-- load other js -->
<script src="{{ '/assets/js/hours.js?v=22.2' | relative_url }}" async></script>
{% if page.lazyload == true %}<script src="{{ '/assets/js/lazysizes.min.js' | relative_url }}" async></script>{% endif %}
{% if layout.gallery == true or page.gallery == true %}{% include js/gallery-js.html %}{% endif %}
{% if page.layout == "page" or page.layout == "page-narrow" %}{% include js/page-sidebar.js %}{% endif %}
{% if page.chat-widget == true %}{% include lib-chat-widget.html %}{% endif %}
{% if page.chat-widget-spec == true %}{% include lib-chat-widget-spec.html %}{% endif %}
{% if page.table-id %}{% include js/table-basic.js %}{% endif %}
{% if page.carousel == true %}{% include js/carousel.html %}{% endif %}
{% if page.custom-foot or layout.custom-foot %}
{%- assign page_feet = page.custom-foot | split: ";" -%}
{%- assign layout_feet = layout.custom-foot | split: ";" -%}
{%- assign feet = page_feet | concat: layout_feet -%}
{% for f in feet %}{% include {{ f }} %}
{% endfor %}
{%- endif -%}
