<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{ site.title }} | {{ page.title }}</title>
<meta http-equiv="Content-Language" content="en-us" >

{% include google-analytics.html %}

{% include page-meta.html %}

<link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | relative_url }}" type="text/css">
<link rel="stylesheet" href="{{ '/assets/fontawesome/css/all.min.css' | relative_url }}" >
{% if page.table-id %}<link rel="stylesheet" type="text/css" href="{{ '/assets/datatables/datatables.min.css' | relative_url }}">{% endif %}
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" type="text/css">

<!-- Last build date: {{ site.time | date: "%Y-%m-%d" }} -->
<style>
/* temp styles to avoid caching issues */
@media (max-width: 576px){.s-lch-widget-float{display:none !important}}
#askus_libchat #libchat_ed1418c47639635236cffc31f9e86e74 button{padding:0px;width:100%;border:none}
.btn-ask{background-color:transparent;background-image:none;border:4px double #F1B300}.btn-ask:hover{background-color:#F1B300;color:white}
#quickLinks a{font-size:18px}
</style>