<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{ site.title }} | {{ page.title }}</title>
<meta http-equiv="Content-Language" content="en-us" >
{% include page-meta.html %}

<link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" | relative_url }}" type="text/css">
<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" type="text/css">

<!-- load only regular fontawesome via css + webfont -->
<link href="{{ '/assets/fontawesome/css/fontawesome.min.css' | relative_url }}" rel="stylesheet">
<link href="{{ '/assets/fontawesome/css/fa-regular.min.css' | relative_url }}" rel="stylesheet">
<!-- OR load all fontawesome via CSS + webfont -->
<!-- <link rel="stylesheet" href="{{ '/assets/fontawesome/css/fontawesome-all.min.css' | relative_url }}" > -->
<!-- OR load all fontawesome via js + svg -->
<!-- <script defer src="{{ '/assets/fontawesome/js/fontawesome-all.min.js' | relative_url }}"></script> -->

{% include google-analytics.html %}