<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{ site.title }} | {{ page.title }}</title>
<meta http-equiv="Content-Language" content="en-us" >

{% include google-analytics.html %}

{% include page-meta.html %}

<link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | relative_url }}" type="text/css">
<link rel="stylesheet" href="{{ '/assets/fontawesome/css/all.min.css' | relative_url }}" >
{% if page.table-id %}<link rel="stylesheet" type="text/css" href="{{ '/assets/datatables/datatables.min.css' | relative_url }}">{% endif %}
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" type="text/css">
{% if page.section == "home" %}<style>
#featuredResearcher { max-width: 16rem; }
</style>{% endif %}

<!-- Last build date: {{ site.time | date: "%Y-%m-%d" }} -->
