<nav id="main-nav" class="navbar navbar-expand-md navbar-light d-none d-md-block px-4">
    <div class="container">

        <div class="collapse navbar-collapse ">

            <ul id="main-nav-sections" class="navbar-nav me-auto">
                <li class="nav-item me-2 {% if page.url contains '/find/' %} active{% endif %}">
                    <a class="nav-link" href="{{ '/find/' | relative_url }}">
                        <span class="fas fa-book-open" aria-hidden="true"></span> Find</a>
                </li>
                <li class="nav-item mx-2 {% if page.url contains '/services/' %} active{% endif %}">
                    <a class="nav-link" href="{{ '/services/' | relative_url }}">
                        <span class="fas fa-wrench" aria-hidden="true"></span> Services</a>
                </li>
                <li class="nav-item mx-2 {% if page.url contains '/collections/' %} active{% endif %}">
                    <a class="nav-link" href="{{ '/collections/' | relative_url }}">
                        <span class="fas fa-th-large" aria-hidden="true"></span> Collections</a>
                </li>
                <li class="nav-item mx-2 {% if page.url contains '/about/' %} active{% endif %} ">
                    <a class="nav-link" href="{{ '/about/' | relative_url }}">
                        <span class="fas fa-info-circle" aria-hidden="true"></span> About</a>
                </li>
                <li class="nav-item mx-2 {% if page.url contains '/about/updates.html' %} active{% endif %} ">
                    <a class="nav-link" href="{{ '/about/updates.html' | relative_url }}" >
                        <span class="fas fa-exclamation-circle" aria-hidden="true"></span> Updates</a>
                </li>
            </ul>

            <div class="dropdown">
                <button id="bigMenu" class="btn btn-outline-secondary btn-lg dropdown-toggle text-dark" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    MENU <span class="fas fa-bars ms-1"></span>
                </button>
                {%include bigdropdown.html %}
            </div>

        </div>
    </div>
</nav>