<nav id="main-nav" class="navbar navbar-expand-md navbar-light d-none d-md-block px-4">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mr-2 {% if page.url contains "/find/" %} active{% endif %}">
                    <a class="nav-link" href="{{ "/find/" | absolute_url }}"><span class="fas fa-book-open"></span> Find</a>
                </li>           
                <li class="nav-item mx-2 {% if page.url contains "/services/" %} active{% endif %}">
                    <a class="nav-link" href="{{ "/services/" | relative_url }}"><span class="fas fa-wrench"></span> Services</a>
                </li>
                <li class="nav-item mx-2 {% if page.url == "/collections/" %} active{% endif %}">
                    <a class="nav-link" href="{{ "/collections/" | relative_url }}"><span class="fas fa-th-large"></span> Collections</a>
                </li>                
                <li class="nav-item mx-2 {% if page.url == "/about/" %} active{% endif %} ">
                    <a class="nav-link" href="{{ "/about/" | relative_url }}"><span class="fas fa-map-marker-alt"></span> About</a>
                </li>
            </ul>

            <!-- ask a librarian button -->
            {% include ask-us.html %}

            <!-- book a room button -->
            <div class="dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="bookRoom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Popular
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bookRoom">
                    <a class="dropdown-item" href="https://scholar.google.com">Google Scholar</a>
                    
                        <a class="dropdown-item" href="http://ida.lib.uidaho.edu:2048/login?url=http://search.ebscohost.com/login.asp?profile=ehost&amp;defaultdb=aph">Academic Search Premier</a>
                    
                        <a class="dropdown-item" href="http://ida.lib.uidaho.edu:2048/login?url=http://www.jstor.org/">JSTOR</a>
                
    
                    
                        <a class="dropdown-item" href="http://ida.lib.uidaho.edu:2048/login?url=http://webofknowledge.com/UA">Web of Science</a>
                  
                    
                        <a class="dropdown-item" href="http://ida.lib.uidaho.edu:2048/login?url=http://webofknowledge.com/UA">Databases A-Z</a>
                   
                </div>
            </div>

        </div>
    </div>    
</nav>
