<nav class="navbar navbar-expand-md navbar-light border-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#page-nav" aria-controls="page-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="d-md-none float-right">
            <a title="University of Idaho Library" class="btn btn-outline-light p-1 lib-logo-sm" href="{{ site.liburl }}">
            <img  class="img-fluid" src="{{ '/assets/images/ui_library_horizontal.png' | relative_url }}" alt="UI Library logo" ></a>
        </div>

        <div class="collapse navbar-collapse" id="page-nav">
            <ul class="navbar-nav mr-auto">
            {% if page.url contains "oapf" %}
                <li class="nav-item {% if page.url == "/oapf/" %} active{% endif %}">
                    <a class="nav-link" href="{{ "/oapf/" | absolute_url }}">UI-OAPF</a>
                </li>
                <li class="nav-item"><span class="nav-link">:</span></li>           
                <li class="nav-item {% if page.url == "/oapf/eligibility/" %} active{% endif %}">
                    <a class="nav-link" href="{{ "/oapf/eligibility/" | relative_url }}">Eligibility</a>
                </li>
                <li class="nav-item {% if page.url == "/oapf/apply/" %} active{% endif %}">
                    <a class="nav-link" href="{{ "/oapf/apply/" | relative_url }}">Apply</a>
                </li>                
                <li class="nav-item {% if page.url == "/oapf/faq/" %} active{% endif %}">
                    <a class="nav-link" href="{{ "/oapf/faq/" | relative_url }}">FAQ</a>
                </li>
            {% elsif page.url contains "thinkopen" %}
                <li class="nav-item {% if page.url == "/thinkopen/" %} active{% endif %}">
                    <a class="nav-link" href="{{ "/thinkopen/" | absolute_url }}">Think Open</a> 
                </li>
                <li class="nav-item"><span class="nav-link">:</span></li> 
                <li class="nav-item {% if page.url == "/thinkopen/apply/" %} active{% endif %}">
                    <a class="nav-link" href="{{ "/thinkopen/apply/" | absolute_url }}">Apply</a>
                </li>
                <li class="nav-item {% if page.url == "/thinkopen/oer/" %} active{% endif %}">
                    <a class="nav-link" href="{{ "/thinkopen/oer/" | absolute_url }}">OER Resources</a>
                </li>
                <li class="nav-item {% if page.url == "/thinkopen/faq/" %} active{% endif %}">
                    <a class="nav-link" href="{{ "/thinkopen/faq/" | absolute_url }}">FAQ</a>
                </li>
            {% else %}
                <li class="nav-item {% if page.url == "/" %} active{% endif %}">
                    <a class="nav-link" href="{{ "/" | absolute_url }}">Home</a>
                </li>                
                <li class="nav-item {% if page.url == "/data/" or page.url contains "/docs/" %} active{% endif %}">
                    <a class="nav-link" href="{{ "/oapf/" | relative_url }}">UI-OAPF</a>
                </li>
                <li class="nav-item {% if page.url == "/map/" %} active{% endif %}">
                    <a class="nav-link" href="{{ "/thinkopen/" | relative_url }}">ThinkOpen</a>
                </li>                
                <li class="nav-item {% if page.url == "/browse/" %} active{% endif %}">
                    <a class="nav-link" href="https://vivo.nkn.uidaho.edu/vivo/">VIVO</a>
                </li>
            {% endif %}
            </ul>

            <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Quick Menu
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <button class="dropdown-item" type="button">Action</button>
                  <button class="dropdown-item" type="button">Another action</button>
                  <button class="dropdown-item" type="button">Something else here</button>
                </div>
              </div>
            <!-- 
            <script>
                function cdm_search() {
                    var query = document.getElementById("nav-search").value;
                    window.open("https://digital.lib.uidaho.edu/cdm/search/collection/idahowater/searchterm/" + encodeURI(query) + "/field/all/mode/all/conn/and/order/title/ad/asc", "_blank" );
                }
            </script>
            <form class="form-inline my-2 my-lg-0" role="search" id="search" onsubmit="cdm_search(); return false;">
                <input id="nav-search" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn my-2 my-sm-0 border" type="submit">Search</button>
            </form>-->
        </div>
    </div>    
</nav>
