<meta name="keywords" content="{{ site.keywords }}" >
<meta name="description" content="{{ site.description }}">

<!-- Open Graph meta -->
<meta property="og:title" content="{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}" />
<meta property="og:type" content="website" />
<meta property="og:description" content="{{ site.description }}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:url" content="{{ page.url | absolute_url }}" />
<meta property="og:locale" content="en_US" />
<!-- schema.org JSON-LD -->
<script type="application/ld+json">{ "@context":"http://schema.org", "@type":"WebPage", "headline": "{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}", {% if site.featured-image %}"image": "{{ site.featured-image | absolute_url }}", {% endif %}"url": {{ page.url | absolute_url | jsonify }} }</script> 
