{% assign people = site.data.about_people | sort: 'last_name' %}
{% assign departments = people | map: 'department' | uniq | sort %}
<div id="sidebar" class="py-3 border-right d-none d-md-block pl-3">
    <nav id="page-nav">
        <ul class="list-unstyled components">

            <li class="border-bottom py-2 pl-1 pr-4">
                <a href="#directories" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" >Directories</a>
                <ul class="list-unstyled collapse{% unless page.last_name %} show{% endunless %}" id="directories">
                    <li class="pl-3 mt-1{% if page.url == '/about/directory.html' %} active{% endif %}">
                        <a href="{{ '/about/directory.html' | relative_url }}">Main Directory</a>
                    </li>
                    <li class="pl-3 mt-1{% if page.url == '/about/liaisons.html' %} active{% endif %}">
                        <a href="{{ '/about/liaisons.html' | relative_url }}">Subject Liaisons</a>
                    </li>
                    <li class="pl-3 mt-1{% if page.url == '/about/librarians.html' %} active{% endif %}">
                        <a href="{{ '/about/librarians.html' | relative_url }}">Faculty Librarians</a>
                    </li>
                </ul>
            </li>
            {% for department in departments %}
            <li class="border-bottom py-2 pl-1 pr-4">
                <a href="#{{ department | slugify }}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" >{{ department }}</a>
                <ul class="list-unstyled collapse{% if page.department == department %} show{% endif %}" id="{{ department | slugify }}">
                    {% assign staff = people | where: 'department',department | sort: 'last_name' %}
                    {% for s in staff %}
                    <li class="pl-3 mt-1{% if s.id == page.id %} active{% endif %}">
                        <a href="{{ '/about/people/' | relative_url }}{{ s.id }}.html">{{ s.last_name }}, {{ s.first_name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
              
        </ul>
    </nav>
</div>
