<div class="container-fluid resourcecontainer py-4">
    <div class="container">    
            
    <div class="row">
            
        <div class="col-md-8 col-sm-12 py-2">
                <h3>Resources and Guides</h3>
            <ul class="nav nav-pills mt-2">
                <li class="nav-item">
                    <a class="nav-link disabled">Popular:</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-secondary" href="http://ida.lib.uidaho.edu:2048/login?url=http://search.ebscohost.com/login.asp?profile=ehost&amp;defaultdb=aph">Academic Search Premier</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-secondary" href="http://ida.lib.uidaho.edu:2048/login?url=http://www.jstor.org/">JSTOR</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link btn btn-outline-secondary" href="http://ida.lib.uidaho.edu:2048/login?url=http://webofknowledge.com/UA">Web of Science</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-palouse-green" href="http://ida.lib.uidaho.edu:2048/login?url=http://webofknowledge.com/UA">Databases A-Z</a>
                </li>
            </ul>
            <ul class="nav nav-pills mt-2 ">
                    <li class="nav-item">
                        <a class="nav-link disabled">Find:</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link btn btn-outline-secondary" href="find/articles.html">Articles &amp; Databases</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-secondary" href="find/journals.html">Journals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-secondary" href="http://libguides.uidaho.edu/index.php">Research Guides</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-secondary" href="services/reserve/">Course Reserves</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-secondary" href="services/ill/">ILL</a>
                    </li>
                </ul>
                <ul class="nav nav-pills mt-2 ">
                        <li class="nav-item">
                            <a class="nav-link disabled">Library Initiatives:</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link btn btn-outline-secondary" href="find/articles.html">The MILL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-secondary" href="find/journals.html">Inside Idaho</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-secondary" href="http://libguides.uidaho.edu/index.php">CDIL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-secondary" href="services/reserve/">VIVO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-secondary" href="services/ill/">ThinkOpen</a>
                        </li>
                    </ul>
        </div>
        <div class="col-md-3 col-sm-8 offset-sm-2 py-2 mx-auto text-center">
           
                    <h4>Featured Resource</h4>
<a class="btn btn-outline-secondary btn-lg btn-fill" href="services/reserve/">Lexis Uni</a>
<p >None of the librarians like this resource for some reason. They think it has some issues.</p>
        

                  </div>
    </div>
 
</div>
</div>