<div class="container-fluid searchcontainer p-2 text-right">
    <div class="container">
        <form class="form-inline row justify-content-end">
            <input class="form-control form-control-lg col-md-6 offset-md-3 col-sm-12 p-2 mr-md-2" type="search" placeholder="Search the catalog ..."
                aria-label="Search">
            <button class="btn btn-lg my-2 my-sm-1 col-md-1 p-2 btn-pride-gold" type="submit">Go</button>
            <a href="https://alliance-primo.hosted.exlibrisgroup.com/primo-explore/search?vid=UID&sortby=rank&mode=advanced" class="col-md-1 text-right">Advanced Search</a>
        </form>
    </div>
</div>