<div class="container-fluid searchcontainer p-2 text-end">
    <script>
        function primo_search() {
            var query = document.getElementById("primo-search").value;
            window.open("https://alliance-uidaho.primo.exlibrisgroup.com/discovery/search?tab=Everything&search_scope=DN_and_CI&vid=01ALLIANCE_UID:UID&query=any,contains," + encodeURIComponent(query), "_self" );
        }
    </script>
    <div class="container">
        <form class="pt-2" role="search" onsubmit="primo_search(); return false;">
            <div class="row g-2 justify-content-end">
                <div class="col-10 col-md-6">
                    <input id="primo-search" class="form-control form-control-lg" type="search" placeholder="Search the catalog ..." aria-label="Search Library Catalog">
                </div>
                <div class="col-2 col-md-1">
                    <button class="btn btn-lg btn-pride-gold text-dark w-100" type="submit"><span class="fas fa-search"></span><span class="visually-hidden">Search Catalog</span></button>
                </div>
                <div class="col-12 col-md-1">
                    <a href="https://alliance-uidaho.primo.exlibrisgroup.com/discovery/search?vid=01ALLIANCE_UID:UID&mode=advanced" class="col-md-1 text-end">Advanced Search</a>
                </div>
            </div>
        </form>

        <div class="pt-1">

            <div class="d-none d-md-block ">
                <ul class="nav justify-content-end mt-1 h6" id="quickLinks">
                        
                    <li class="nav-item">
                        <a class="nav-link px-2" href="{{ '/find/articles.html' | relative_url }}">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-2" href="https://libguides.uidaho.edu/" >Research Guides</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-2" href="{{ '/services/reserve/' | relative_url }}" >Reserves</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-2" href="{{ '/services/ill/' | relative_url }}" >ILL</a>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link px-2 text-white">|</span>
                    </li>
                    <li class="nav-item">
                        <a id="databasesButtonNav" class="nav-link px-2" href="https://libguides.uidaho.edu/az/databases"> Databases A-Z</a>
                    </li>                   
                    <li class="nav-item">
                        <a class="nav-link px-2" href="https://uidaho.idm.oclc.org/login?url=https://search.ebscohost.com/login.asp?profile=ehost&defaultdb=aph&defaultdb=f5h&defaultdb=ufh">Academic Search Premier</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ps-2 pe-0" href="https://uidaho.idm.oclc.org/login?url=https://www.webofscience.com/wos/woscc/basic-search">Web of Science</a>
                    </li>
                    
                </ul>

            </div>

            <div class="d-md-none">
                <a class="btn btn-secondary dropdown-toggle text-white flex my-2" id="dropdownResearchToolsLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">More Research Tools</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownResearchToolsLink">
                    <a class="dropdown-item" href="{{ '/help/' | relative_url }}"><span class="far fa-comment-dots"></span> Ask Us!</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ '/find/articles.html' | relative_url }}">Articles</a>
                    <a class="dropdown-item" href="{{ '/find/journals.html' | relative_url }}">Journals</a>
                    <a class="dropdown-item" href="https://libguides.uidaho.edu/">Research Guides</a>
                    <a class="dropdown-item" href="{{ '/services/reserve/' | relative_url }}">Reserves</a>
                    <a class="dropdown-item" href="{{ '/services/ill/' | relative_url }}">ILL</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="https://libguides.uidaho.edu/az/databases">Databases A-Z</a> 
                    <a class="dropdown-item" href="https://uidaho.idm.oclc.org/login?url=https://search.ebscohost.com/login.asp?profile=ehost&defaultdb=aph">Academic Search Premier</a>
                    <a class="dropdown-item" href="https://uidaho.idm.oclc.org/login?url=https://www.webofscience.com/wos/woscc/basic-search">Web of Science</a>           
                </div>
            </div>

        </div>

    </div>
</div>
