<div class="social-media-icons text-center">
    <h3 class="text-center">
        <a href="https://www.facebook.com/UofILibrary" title="Facebook Link" target="_blank"><span class="fab fa-facebook ponderosa-pine"></span></a>
        <a href="https://twitter.com/UofILibrary" title="Twitter Link" target="_blank"><span class="fab fa-twitter clearwater"></span></a>
        <a href="https://github.com/uidaholib" title="GitHub Link" target="_blank"><span class="fab fa-github garnet"></span></a>
        <a href="https://uispecialcollections.tumblr.com/" title="Tumblr Link" target="_blank"><span class="fab fa-tumblr payette-blue"></span></a>
        <a href="https://www.pinterest.com/uidaholibrary/" title="Pintrest Link" target="_blank"><span class="fab fa-pinterest palouse-green"></span></a>
        <a href="https://www.instagram.com/uofilibrary/" title="Instagram Link" target="_blank"><span class="fab fa-instagram wild-rose"></span></a>
    </h3>
</div>