<div class="social-media-icons text-center">
    <h3 class="text-center">
        <span class="sr-only">University of Idaho Library on social media: </span>
        <a href="https://poetry.lib.uidaho.edu/" title="Vandal Poem of the Day Link" target="_blank" rel="noopener"><img src="https://www.lib.uidaho.edu/media/images/vpod-30.png" alt="Vandal Poem of the Day logo"></a>
        <a href="https://www.facebook.com/UofILibrary" title="Facebook Link" target="_blank" rel="noopener"><span class="fab fa-facebook-square payette-blue"></span><span class="sr-only">Facebook </span></a>
        <a href="https://twitter.com/UofILibrary" title="Twitter Link" target="_blank" rel="noopener"><span class="fab fa-twitter-square clearwater"></span><span class="sr-only">Twitter </span></a>
        <a href="https://github.com/uidaholib" title="GitHub Link" target="_blank" rel="noopener"><span class="fab fa-github-square wild-rose"></span><span class="sr-only">GitHub </span></a>
        <a href="https://uispecialcollections.tumblr.com/" title="Tumblr Link" target="_blank" rel="noopener"><span class="fab fa-tumblr-square payette-blue"></span><span class="sr-only">Tumblr </span></a>
        <a href="https://www.pinterest.com/uidaholibrary/" title="Pintrest Link" target="_blank" rel="noopener"><span class="fab fa-pinterest-square garnet"></span><span class="sr-only">Pintrest </span></a>
        <a href="https://www.instagram.com/uofilibrary/" title="Instagram Link" target="_blank" rel="noopener"><span class="fab fa-instagram ponderosa-pine"></span><span class="sr-only">Instagram </span></a>
        <a href="https://www.youtube.com/user/UofILibrary" title="YouTube Link" target="_blank" rel="noopener"><span class="fab fa-youtube-square payette-blue"></span><span class="sr-only">YouTube </span></a>
    </h3>
</div>