<div class="social-media-icons text-center">
    <h3 class="text-center">
        <span class="sr-only">University of Idaho Library on social media: </span>
        <a href="https://poetry.lib.uidaho.edu/" title="Vandal Poem of the Day Link" target="_blank"><img src="assets/images/social-media/vpod-20.png"></a>
        <a href="https://www.facebook.com/UofILibrary" title="Facebook Link" target="_blank"><span class="fab fa-facebook payette-blue"></span><span class="sr-only">Facebook </span></a>
        <a href="https://twitter.com/UofILibrary" title="Twitter Link" target="_blank"><span class="fab fa-twitter clearwater"></span><span class="sr-only">Twitter </span></a>
        <a href="https://github.com/uidaholib" title="GitHub Link" target="_blank"><span class="fab fa-github wild-rose"></span><span class="sr-only">GitHub </span></a>
        <a href="https://uispecialcollections.tumblr.com/" title="Tumblr Link" target="_blank"><span class="fab fa-tumblr payette-blue"></span><span class="sr-only">Tumblr </span></a>
        <a href="https://www.pinterest.com/uidaholibrary/" title="Pintrest Link" target="_blank"><span class="fab fa-pinterest garnet"></span><span class="sr-only">Pintrest </span></a>
        <a href="https://www.instagram.com/uofilibrary/" title="Instagram Link" target="_blank"><span class="fab fa-instagram ponderosa-pine"></span><span class="sr-only">Instagram </span></a>
    </h3>
</div>