<div id="top-bar" class="container-fluid row" >

    <!-- link to UI -->
    <div class="col float-left d-none d-md-block pt-1">
        <a id="ui-home" href="https://www.uidaho.edu" target="_blank">University of Idaho</a>
    </div><div class="col text-md-center pt-1 text-sm-left" >
        <a href="{{ '/hours/' | relative_url }}"><span class="fas fa-clock"></span> <span id="timedisp"></span></a> <script src="{{ '/assets/js/hours.js' | relative_url }}"></script>
      
    </div>

    <!-- lib info section -->
    <div class="col text-right d-none d-sm-block pt-1">
    <a href="#" class="mr-3"><span class="fas fa-bookmark"></span> Book a Room</a> 
            <a href="https://alliance-primo.hosted.exlibrisgroup.com/primo-explore/login?vid=UID" title="Link to your Catalog/Primo Account"><span class="fas fa-sign-in-alt"></span> Account</a>
       
    </div>

</div>