<div id="top-bar" class="container">
    
    <!-- link to UI -->
    <div class="float-left py-2 d-none d-md-block">
        <p class=""><a href="https://www.uidaho.edu">University of Idaho</a></p> 
    </div>
    
    <!-- lib info section -->
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="{{ '/hours/' | relative_url }}"><span class="fas fa-clock"></span> hours</a> <script src="/js/hours.js"></script>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ '/help/' | relative_url }}"><span class="fas fa-question-circle"></span> Help</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://alliance-primo.hosted.exlibrisgroup.com/primo-explore/login?vid=UID" title="Link to your Catalog/Primo Account"><span class="fas fa-sign-in-alt"></span> Account</a>
        </li>
    </ul>

</div>