<div id="top-bar" class="container-fluid" >

    
    <!-- link to UI -->
    <div class="float-left pt-1 pl-3 d-none d-md-block">
        <a id="ui-home" href="https://www.uidaho.edu">University of Idaho</a>
    </div>
    
    <!-- lib info section -->
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link pt-1" href="{{ '/hours/' | relative_url }}"><span class="fas fa-clock"></span> Hours</a> <script src="{{ '/assets/js/hours.js' | relative_url }}"></script>
        </li>
        <li class="nav-item">
            <a class="nav-link pt-1" href="{{ '/help/' | relative_url }}"><span class="fas fa-question-circle"></span> Help</a>
        </li>
        <li class="nav-item">
            <a class="nav-link pt-1" href="https://alliance-primo.hosted.exlibrisgroup.com/primo-explore/login?vid=UID" title="Link to your Catalog/Primo Account"><span class="fas fa-sign-in-alt"></span> Account</a>
        </li>
    </ul>

</div>