/*  
    base - slight modifications to override base Bootstrap
    these values are configurable by editing base variables in main.scss
*/
body {
    @if $base-font-family != "" { font-family: $base-font-family; }
    @if $base-font-size != "" { font-size: $base-font-size; }
    @if $text-color != "" { color: $text-color; }
}
a {
    @if $link-color != "" { 
        color: $link-color; 
        text-decoration: none;
        font-weight: bold;
        &:hover {
            @if $text-color != "" { color: $text-color; }
            text-decoration: underline;
        }
    }
}
.container {
    @media (min-width: 576px) and (max-width: 768px){
        max-width: 100%;
        padding:inherit 10px;
    }
    @media (min-width: 768px) and (max-width: 900px){
        max-width: 740px;
    }
    @media (min-width: 1400px){
        max-width: 1300px;
    }
}

/* skip nav for accessibility, based on https://webaim.org/techniques/skipnav/ */
#skip-to-content a {
	padding:6px;
	position: absolute;
	top:-45px;
	left:0px;
	color:white;
	border-right:1px solid white;
	border-bottom:1px solid white;
	border-bottom-right-radius:8px;
	background:#BF1722;
	-webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 100;
}
#skip-to-content a:focus {
	position:absolute;
	left:0px;
	top:0px;
	outline-color:transparent;	
	-webkit-transition: top .1s ease-in;
    transition: top .1s ease-in;
}

/* scroll to top */
#scroll-to-top {
    display: none; 
    position: fixed; 
    bottom: 38px; 
    right: 22px; 
    z-index: 99;
    font-size: 40px; 
}
