    
   
    .btn-pride-gold{
        color: #fff;
        background-color: $pride-gold;
        border-color: $pride-gold;
        &:hover{
            background-color: darken($pride-gold, 5%);
            border-color: $pride-gold;
            color:white;
        }
    }

    .btn-outline-pride-gold{
color: pride-gold;
    background-color: transparent;
    background-image: none;
    border-color: $pride-gold;
    &:hover{
        background-color: pride-gold;
        color:white;
    }}
    .pride-gold{
        color:$pride-gold !important;
    }
    
    .border-pride-gold{
        border-color:$pride-gold !important;
    }
    
    .btn-garnet{
        color: #fff;
        background-color: $garnet;
        border-color: $garnet;
        &:hover{
            background-color: darken($garnet, 5%);
            border-color: $garnet;
            color:white;
        }
    }

    .btn-outline-garnet{
color: garnet;
    background-color: transparent;
    background-image: none;
    border-color: $garnet;
    &:hover{
        background-color: garnet;
        color:white;
    }}
    .garnet{
        color:$garnet !important;
    }
    
    .border-garnet{
        border-color:$garnet !important;
    }
    
    .btn-wild-rose{
        color: #fff;
        background-color: $wild-rose;
        border-color: $wild-rose;
        &:hover{
            background-color: darken($wild-rose, 5%);
            border-color: $wild-rose;
            color:white;
        }
    }

    .btn-outline-wild-rose{
color: wild-rose;
    background-color: transparent;
    background-image: none;
    border-color: $wild-rose;
    &:hover{
        background-color: wild-rose;
        color:white;
    }}
    .wild-rose{
        color:$wild-rose !important;
    }
    
    .border-wild-rose{
        border-color:$wild-rose !important;
    }
    
    .btn-palouse-green{
        color: #fff;
        background-color: $palouse-green;
        border-color: $palouse-green;
        &:hover{
            background-color: darken($palouse-green, 5%);
            border-color: $palouse-green;
            color:white;
        }
    }

    .btn-outline-palouse-green{
color: palouse-green;
    background-color: transparent;
    background-image: none;
    border-color: $palouse-green;
    &:hover{
        background-color: palouse-green;
        color:white;
    }}
    .palouse-green{
        color:$palouse-green !important;
    }
    
    .border-palouse-green{
        border-color:$palouse-green !important;
    }
    
    .btn-clearwater{
        color: #fff;
        background-color: $clearwater;
        border-color: $clearwater;
        &:hover{
            background-color: darken($clearwater, 5%);
            border-color: $clearwater;
            color:white;
        }
    }

    .btn-outline-clearwater{
color: clearwater;
    background-color: transparent;
    background-image: none;
    border-color: $clearwater;
    &:hover{
        background-color: clearwater;
        color:white;
    }}
    .clearwater{
        color:$clearwater !important;
    }
    
    .border-clearwater{
        border-color:$clearwater !important;
    }
    
    .btn-clearwater-light{
        color: #fff;
        background-color: $clearwater-light;
        border-color: $clearwater-light;
        &:hover{
            background-color: darken($clearwater-light, 5%);
            border-color: $clearwater-light;
            color:white;
        }
    }

    .btn-outline-clearwater-light{
color: clearwater-light;
    background-color: transparent;
    background-image: none;
    border-color: $clearwater-light;
    &:hover{
        background-color: clearwater-light;
        color:white;
    }}
    .clearwater-light{
        color:$clearwater-light !important;
    }
    
    .border-clearwater-light{
        border-color:$clearwater-light !important;
    }
    
    .btn-payette-blue{
        color: #fff;
        background-color: $payette-blue;
        border-color: $payette-blue;
        &:hover{
            background-color: darken($payette-blue, 5%);
            border-color: $payette-blue;
            color:white;
        }
    }

    .btn-outline-payette-blue{
color: payette-blue;
    background-color: transparent;
    background-image: none;
    border-color: $payette-blue;
    &:hover{
        background-color: payette-blue;
        color:white;
    }}
    .payette-blue{
        color:$payette-blue !important;
    }
    
    .border-payette-blue{
        border-color:$payette-blue !important;
    }
    
    .btn-ponderosa-pine{
        color: #fff;
        background-color: $ponderosa-pine;
        border-color: $ponderosa-pine;
        &:hover{
            background-color: darken($ponderosa-pine, 5%);
            border-color: $ponderosa-pine;
            color:white;
        }
    }

    .btn-outline-ponderosa-pine{
color: ponderosa-pine;
    background-color: transparent;
    background-image: none;
    border-color: $ponderosa-pine;
    &:hover{
        background-color: ponderosa-pine;
        color:white;
    }}
    .ponderosa-pine{
        color:$ponderosa-pine !important;
    }
    
    .border-ponderosa-pine{
        border-color:$ponderosa-pine !important;
    }
    
    .btn-black-color{
        color: #fff;
        background-color: $black-color;
        border-color: $black-color;
        &:hover{
            background-color: darken($black-color, 5%);
            border-color: $black-color;
            color:white;
        }
    }

    .btn-outline-black-color{
color: black-color;
    background-color: transparent;
    background-image: none;
    border-color: $black-color;
    &:hover{
        background-color: black-color;
        color:white;
    }}
    .black-color{
        color:$black-color !important;
    }
    
    .border-black-color{
        border-color:$black-color !important;
    }
    
    .btn-grey-color{
        color: #fff;
        background-color: $grey-color;
        border-color: $grey-color;
        &:hover{
            background-color: darken($grey-color, 5%);
            border-color: $grey-color;
            color:white;
        }
    }

    .btn-outline-grey-color{
color: grey-color;
    background-color: transparent;
    background-image: none;
    border-color: $grey-color;
    &:hover{
        background-color: grey-color;
        color:white;
    }}
    .grey-color{
        color:$grey-color !important;
    }
    
    .border-grey-color{
        border-color:$grey-color !important;
    }