/* base */
body {
    //font-family: $base-font-family;
    //font-size: $base-font-size;
   // font-weight: $base-font-weight;
   // line-height: $base-line-height;
    color: $text-color;
   // background: $background-color;
}
a {
    color: $link-color;
    text-decoration: none;
    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}
main {
   // background: $background-texture;
    .container {
      //  background: $background-color;
    }
}
/* banner */
#title {
    a { 
        font-size: 32px;
        font-weight: 300;
        color: $text-color;
    }
    h1 {
        line-height: 1;
    }
    p {
        font-size: 13.5px;
        line-height: 1;
    }
}
.lib-logo-sm {
    border: none;
    img { 
        height: 35px;
    }
}
.lib-logo-lg {
    height: 55px;
}

/* nav bar */
.navbar-light .navbar-nav .nav-link {
    font-size: 18px;
    color: $text-color;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    //color: rgba(0,0,0,.7);
    text-decoration: underline;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: darken($link-color, 25%);
    text-decoration: underline;
}
nav, footer {
    background: $nav-background;
}

