/* 
    other random CSS 
*/

/* libchat widget floating */
@media (max-width: 576px) { .s-lch-widget-float{ display: none!important;} }

/* tweak alerts with markdown inside */
.alert p:last-of-type { margin-bottom: 0; } 

/* temp to hide room bookings during covid-19 */
#topbar-rooms { display: none !important; }

/* Circle buttons */
.btn-circle { 
    width: 180px; 
    height: 180px; 
    padding: 10px; 
    border-radius: 90px; 
    font-size: 18px; 
    text-align: center; 
    overflow: hidden;
    &:hover{
        color:white !important;
    }
} 
