/* base */
body {
    font-family: $base-font-family;
    //font-size: $base-font-size;
   // font-weight: $base-font-weight;
   // line-height: $base-line-height;
    color: $text-color;
   // background: $background-color;
}
a {
    color: $link-color;
    text-decoration: none;
    font-weight:bold;
    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}

/* top bar */
#ui-home {
    color: $grey-color;
}

/* banner */
.lib-logo-lg {
    max-height: 80px;
}

/* main nav */
#main-nav {
    background: $nav-background;
    .nav-link {
        color: $link-color;
    }
}


/* footer */
footer {
    background: $grey-color-dark;
}

/* index */ 
#index-jumbotron {
    background-image: $jumbotron-image;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-item img{width:100%; object-fit: cover;max-height:500px;}
.carousel-caption{ background: rgba(0, 0, 0, 0.7); color:white; min-width:450px;width:auto;
    bottom: 30px;
    left: 40%;
    hr{border-color: $grey-color-light; width:50%;margin:auto; border-style: dotted;}
a{color:white !important;}

@include media-query($on-palm) {
    width: 100%;
    min-width: 100%;
height:175px;
left:0;
    z-index: -1;
   
}

}

.slide-paragraph{@include media-query($on-palm) {
    display: none;
  }}

.carousel{@include media-query($on-palm) {
  overflow-y: visible;
  height: 500px;
  img{height:280px;}
}}
.dropdown-menu .container{
  width:1300px;
  margin-right:-17px;
}
.projectlink img{
  width:90%;
}

.searchcontainer{
    background: #191919;
    color:white;
a{color:white !important;
    font-weight: 300;
&:hover{text-decoration: underline;}
}

}
.resourcecontainer{
    background: $grey-color-light;
    
a{
    font-weight: 300;
&:hover{text-decoration: underline;}
}
}
.jumbo-ad-container{
    background: rgba(0, 0, 0, 0.7);
    color:white;
a{color:white !important;
    font-weight: 300;
&:hover{text-decoration: underline;}
}
}


footer, footer a {
    color:white !important;
    font-weight: 300;
    background-color: $black-color;
}

.timeline-Header-subtitle{display:none;}