/* base */
body {
    font-family: $base-font-family;
    //font-size: $base-font-size;
   // font-weight: $base-font-weight;
   // line-height: $base-line-height;
    color: $text-color;
   // background: $background-color;
}
a {
    color: $link-color;
    text-decoration: none;
    font-weight:bold;
    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}

.container {
    @media (min-width: 576px) and (max-width: 768px){
        max-width: 100%;
        padding:inherit 10px;
    }
    @media (min-width: 768px) and (max-width: 900px){
        max-width: 740px;
    }
}

/* top bar */
#ui-home {
    color: $grey-color;
}

/* banner */
.lib-logo-lg {
    max-height: 80px;
}

/* main nav */
#main-nav {
    background: $nav-background;
    ul {
        font-size: 18px;
    }
    .nav-link {
        color: $link-color;
    }
}
#mobilemenu {
    .modal-header {
        border-bottom: none;
        padding: 1rem 1rem 0 0;
    }
    .modal-body {
        padding: 0 1rem 1rem 1rem;
    }
    ul {
        font-size: 24px;
    }
}
/* big dropdown */
.dropdown-menu .container {
    width:1300px;
    margin-right:-17px;

    @media (min-width: 768px) and (max-width: 900px){
        width:740px !important;
    }
}
.popular {
    width: 90%;
    color: #191919;
    text-decoration: none;
    font-weight: bold;
}

/* footer */
footer, footer a {
    color:white !important;
    font-weight: 300;
    background-color: $black-color;
}

