/* new carousel */ 
#index-carousel {
    background: rgba(0, 0, 0, 0.7); 
    color: white;
    a {
        color:white !important;
    }
    .carousel-item {
        width: 100%;
        @media (min-width: 768px) {
            height: 500px;
        }
        img {
            width:100%; 
            object-fit: cover;
            font-family: 'object-fit: cover;';
            height:300px;
            @media (min-width: 768px) {
                height: 500px;
            }
        }
    }
}
#carousel-pause { 
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 28px;
    cursor: pointer;
}
/*
  This mixin can be used to set the object-fit:
  @include object-fit(contain);

  or object-fit and object-position:
  @include object-fit(cover, top);
*/
@mixin object-fit($fit: fill, $position: null){
    -o-object-fit: $fit;
       object-fit: $fit;
    @if $position {
        -o-object-position: $position;
           object-position: $position;
        font-family: 'object-fit: #{$fit}; object-position: #{$position}';
    } @else {
        font-family: 'object-fit: #{$fit}';
    }
  }
  
.carousel-caption { 
    background: rgba(0, 0, 0, 0.7); 
    min-width:450px;
    width:auto;
    bottom: 30px;
    left: 40%;
    hr {
        border-color: $grey-color-light; 
        width:50%;
        margin:auto; 
        border-style: dotted;
    }
}
/* featured researcher */
#featuredResearcher {
    max-width: 16rem;
}
/* old stuff? */
#index-jumbotron {
    background-image: $jumbotron-image;
    background-size: cover;
    background-repeat: no-repeat;
}
.projectlink img {
    width:90%;
}
.searchcontainer {
    background: #191919;
    color:white;
    a { 
        color:white !important;
        font-weight: 300;
        &:hover {
            text-decoration: underline;
        }
    }
    .dropdown-item{color:#191919 !important;}
}
.resourcecontainer {
    background: $grey-color-light;
    a {
        font-weight: 300;
        &:hover { text-decoration: underline; }
    }
}
.jumbo-ad-container {
    background: rgba(0, 0, 0, 0.7);
    color:white;
    a { 
        color:white !important;
        font-weight: 300;
        &:hover { text-decoration: underline; }
    }
}
.timeline-Header-subtitle { display:none; }
