/* stuff for libapps header */ 
body {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    padding-left:0px;
    padding-right:0px;
}
#libapps-custom { 
    font-family: $base-font-family;
    //font-size: $base-font-size;
    // font-weight: $base-font-weight;
    // line-height: $base-line-height;
    color: $text-color;
    // background: $background-color;
    //margin-left: -15px;
    //margin-right: -15px;
    font-size: 16px;
    line-height: 1.5;
    a {
        color: $link-color;
        text-decoration: none;
        font-weight:bold;
        &:hover {
            color: $text-color;
            text-decoration: underline;
        }
    }
    .border-left  {
        border-left: 1px solid #dee2e6 !important;
    }
    .border-pride-gold {
        border-color: #F1B300 !important;
    }
    .btn-lg {
        font-size: 20px;
    }
    .navbar {
        border-radius: 0px;
        margin-bottom: 0px;
    }
    h2 {
        font-size: 32px;
    }
}
/* libapps content */
.breadcrumb {
    a { color: #191919; }
}
