/* 
    styles for content pages, 
    providing split background look for sidebar nav
*/

#page-nav {
    font-size: $base-font-size * 1.05;
    a {
        font-weight: 800 !important;
    }
    li { border-color: #111 !important; }
}
#page-nav .active {
    background-color: #fff !important; 
    border-left: 5px solid;
    border-left-color: #008080 !important;
}
.page-block { 
    background: $background-color;
}
.breadcrumb {
    background: $background-color;
}
/* full width page */
.full-background {
    background: $nav-background;
}

/* narrow text block for page-narrow layout */
.page-narrow {
    max-width: 700px;
}
/* card-button class for section index pages to avoid display issues */
.card-button {
    cursor: pointer;
    &:hover { text-decoration: none; }
    .card:hover { background: #f2f2f2; }
    h5:hover { text-decoration: underline; }
    p { font-weight: 400; }
}
