---
title: "GIS Day @ University of Idaho"
section: GIS Day
permalink: /events/gisday.html
layout: full-width-page
lazyload: true
---

<style>
#jumbo-feature {
    background-image: url('/media/gisday/gisday2019w2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
</style>
<div class="jumbotron" id="jumbo-feature">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <img class="img-fluid" src="/media/gisday/gis-day-logo-black.png">
                    <h3>November 13, 2019</h3>
                    <h4>Idaho Commons<br>
                    University of Idaho<br>
                    Moscow, Idaho</h4>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-2">
        <div class="btn-group-vertical w-100">
            <a class="btn btn-secondary" href="#schedule">Schedule</a>
            <a class="btn btn-secondary" href="#sponsors">Sponsors</a>
            <a class="btn btn-secondary" href="#parking">Parking</a>
            <a class="btn btn-secondary" href="#committee">Committee</a>
        </div>
    </div>
    <div class="col-md-9">
        <p class="lead"><a href="https://www.gisday.com/">GIS Day</a> at the University of Idaho is a free event that brings together scholars, students, professionals, businesses, and the public to discuss geospatial technologies and demonstrate their many uses. Admission is free and open to everyone. Coming from off-campus?  Email Bruce Godfrey (<a href="mailto:bgodfrey@uidaho.edu">bgodfrey@uidaho.edu</a>) for a free one day visitor parking permit.</p>
        <p>Please contact Bruce Godfrey (<a href="mailto:bgodfrey@uidaho.edu">bgodfrey@uidaho.edu</a>, 208-292-1407) with any questions.</p>
    </div>
</div>

<hr class="my-4">

<div id="schedule" class="my-3">
    <h2>Schedule of Events</h2>

    <p>Most events are held in the Crest/Horizon Rooms on the fourth floor of the Idaho Commons, except the <em>Pizza & Posters</em> lunch in the Clearwater/Whitewater Rooms on the first floor. A special <a href="#workshop">full day workshop, "Machine Learning in ArcGIS Platform"</a> led by keynote speaker Orhun Aydin, follows on November 14th.</p>

    <h4>Wednesday, Nov 13th, 2019</h4>

    <div class="px-2">
        {% assign events = site.data.gisday_schedule %}
        {% for e in events %}
        <div class="row border rounded py-3 justify-content-end">
            <div class="col-md-2">
                <strong>{{ e.time }}</strong><br>
                {{ e.location }}
            </div>
            <div class="col-md-4">
                <h4>{{ e.title }}</h4>
                {{ e.presenter }}
            </div>
            <div class="col-md-6">
                <p>{{ e.description }}
                {% if e.description_full %}<br><button class="btn btn-sm btn-success m-2" type="button" data-toggle="collapse" data-target="#collapse{{ forloop.index }}" aria-expanded="false" aria-controls="collapse{{ forloop.index }}">Details <i class="fas fa-caret-down"></i></button>{% endif %}</p>
            </div>
            {% if e.description_full %}<div class="col-md-10 collapse" id="collapse{{ forloop.index }}">
                <div class="card card-body ">
                    {{ e.description_full }}
                </div>
            </div>{% endif %}
        </div>
        {% endfor %}

        <h4 class="mt-3" id="workshop">Thursday, Nov 14th, 2019</h4>

        <div class="row border rounded py-3 justify-content-end">
            <div class="col-md-2">
                <strong>8:30am - 4:30pm</strong><br>
                University of Idaho Library
            </div>
            <div class="col-md-4">
                <h4>Machine Learning in ArcGIS Platform Workshop</h4>
                Dr. Orhun Aydin, PhD | Researcher | Product Engineer
            </div>
            <div class="col-md-6">
                <p>Join keynote speaker Dr. Orhun Aydin for a deep dive into using machine learning with ArcGIS Pro in this full day workshop. Registration information coming soon!
                <br><button class="btn btn-sm btn-success m-2" type="button" data-toggle="collapse" data-target="#collapseWorkshop" aria-expanded="false" aria-controls="collapseWorkshop">Details <i class="fas fa-caret-down"></i></button></p>
            </div>
            <div class="col-md-10 collapse" id="collapseWorkshop">
                <div class="card card-body ">
                    <p><strong>Audience:</strong> GIS analysts, students, and researchers who want to gain practical knowledge of machine learning methods as they pertain to GIS analysis.</p>
                    <p><strong>Prerequisites:</strong></p>
                    <ul>
                        <li>Working knowledge of ArcGIS Pro (join our pre-workshop: <a href="https://libcal.uidaho.edu/event/5906401">ArcPro Basics: A beginner's guide to Esri ArcGIS Pro</a>)</li>
                        <li>Beginner-level knowledge of R</li>
                        <li>Beginner-level knowledge of Python</li>
                    </ul>
                    <p><strong>Learning  Outcomes:</strong> Attendees will have a working knowledge of advanced analytic tools in ArcGIS Pro. Integration with external frameworks such as R and Python will also be covered via hands-on analysis examples.</p>
                    <p><strong>Content:</strong></p>
                    <ul>
                        <li>Basic Concepts in Machine Learning</li>
                        <li>Spatial Machine Learning in ArcGIS Platform (Clustering; Space Time Pattern Mining; Balanced Zones; Regionalization; Regression; Classification)</li>
                        <li>ArcGIS Platform Extensibility (Conda Integration; Python Integration; R Integration)</li>
                        <li>R-ArcGIS Bridge (Your First R Jupyter Notebook; Setting Up the Bridge; Working with Feature Classes; Working with Feature Rasters; Script Tools)</li>
                        <li>Machine Learning with Python (Scikit-learn, CNTK Integration; Deep Learning Using Tensorflow; Script Tools in ArcGIS Pro)</li>
                        <li>Machine Learning in GIS Workflows (Predict Seagrass Occurrence; Deliniate Climate Zones)</li>
                        <li>Q & A</li>
                        <li>B.Y.O.D. (Bring You Own Data)</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>

<hr class="my-4">

<div id="sponsors" class="my-3"> 
    <h2>Sponsors</h2>

    <p>The following entities have generously provided financial contributions to help make this a successful event.</p>

    <div class="row justify-content-center my-4 text-center">
        {% assign sponsors = site.data.gisday_sponsors %}
        {% for s in sponsors %}
        <div class="col-4 p-3">
            <a href="{{ s.link }}" title="{{ s.sponsor }}">
                <img src="{{ s.img }}" alt="{{ s.sponsor }}" class="img-fluid">
            </a>
        </div>
        {% endfor %}
    </div>

    <div class="text-center m-3">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#sponsorDetails">
            <h3 class="m-2">Become a Sponsor</h3>
        </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="sponsorDetails" tabindex="-1" role="dialog" aria-labelledby="sponsorLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sponsorLabel">Sponsor GIS Day @ University of Idaho</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>If you or your organization would like to become a sponsor of GIS Day at the University of Idaho please use one of the following options to make a donation:</p>
                    <ul class="list-group mb-2">
                        <li class="list-group-item"><strong>Online</strong><br>
                            Go to <a href="https://www.givecampus.com/campaigns/3269/donations/new">UIdaho Giving</a><br>
                            Under "Designation" type in "GIS Day Fund" and fill out the required fields of the form
                        </li>
                        <li class="list-group-item"><strong>By phone</strong><br>
                            Call the University of Idaho Gift Administration Office at (208) 885-6796 and give with a credit card.<br>
                            Indicate you are giving to the "GIS Day Fund."
                        </li>
                        <li class="list-group-item"><strong>By mail</strong><br>
                            Checks may be mailed to:<br>
                            University of Idaho Foundation 875 Perimeter Drive MS 3147 Moscow, ID 83843-3147<br>
                            Please have the checks made out to the "University of Idaho Foundation, Inc."<br>
                            Put "GIS Day Fund" on the check memo line or on a note accompanying the check.
                        </li>
                    </ul>

                    <h4>Sponsorship Levels & Entitlements</h4>
                    <p>We welcome any financial contribution but respectfully suggest to following amounts:</p>
                    <ul>
                        <li>Friend: $50</li>
                        <li>Professional: $100</li>
                        <li>Corporate: $350 - logo on web page & flyers; banner space; recognition during the event</li>
                    </ul>
                    <p>Please contact Bruce Godfrey (bgodfrey@uidaho.edu, ph. 208-292-1407) if you have any sponsorship questions. These contributions may be tax deductible.</p>
                </div>
            </div>
        </div>
    </div>

    <p class="text-center"><small>If you or your organization would like to become a sponsor of GIS Day at the University of Idaho please click the button above to learn how to make a donation.</small></p>

</div>

<hr class="my-4"> 

<div class="my-3 pb-3 row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2>Location</h2>
            </div>
            <div class="card-body">
                <iframe class="lazyload" width="100%" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" data-src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=46.7272,+-117.0124&amp;aq=&amp;sll=45.494576,-114.143261&amp;sspn=9.057441,21.51123&amp;t=m&amp;ie=UTF8&amp;ll=46.7272,-117.0124&amp;spn=0.001081,0.002626&amp;z=16&amp;output=embed"></iframe>
                <p class="card-text">
                    <small>Idaho Commons, University of Idaho, Moscow, ID.
                    (<a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=46.7272,+-117.0124&amp;aq=&amp;sll=45.494576,-114.143261&amp;sspn=9.057441,21.51123&amp;t=m&amp;ie=UTF8&amp;ll=46.7272,-117.0124&amp;spn=0.001081,0.002626&amp;z=16">View Larger Map</a>)</small>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6" id="parking">
        <div class="card">
            <div class="card-header">
                <h2>Parking</h2>
            </div>
            <div class="card-body">
                <p class="card-text">The <a href="https://www.uidaho.edu/-/media/UIdaho-Responsive/Files/infrastructure/Parking/Maps/2019-20_campus_parking_map.pdf">U of I Campus Parking Map</a> shows all parking lots and their associated permit requirements.</p>
                <p class="card-text">For those driving to campus a Visitor Parking Permit is required to park in any of the Gold, Red, or Blue lots. Exempt vehicles do not require a permit.</p>
                <p class="card-text">Lots 19, 56, and 17 are within a few minutes' walk of the Idaho Commons.</p>
                <p class="card-text">Contact <a href="mailto:bgodfrey@uidaho.edu">Bruce Godfrey</a> prior to the event for a one-day Visitor Parking Permit.</p>
            </div>
        </div>
    </div>

</div>

<hr class="my-4"> 

<div id="committee" class="my-3 text-center">

    <h2>Planning Committee Members</h2>

    <ul class="list-unstyled">
        <li>Bruce Godfrey - Chair (Library)</li>
        <li>Daniel Cronan (Landscape Architecture)</li>
        <li>Lisa Jones (Plant Science)</li>
        <li>Jeremy Kenyon (Library)</li>
        <li>Jessica Martinez (Library)</li>
        <li>Perri Moreno - (Library)</li>
        <li>Skye Swoboda-Colberg (Geography)</li>
        <li>Emily Thompson (Geography)</li>
        <li>Evan Williamson (Library)</li>
        <li>Cindy Barnhart (Communications & Marketing)</li>
    </ul>

</div>
