---
title: Staff Directory
layout: page
section: About
permalink: /about/directory.html
# table-id: "#directory"
custom-foot: "js/directory-table.html"
---
{% assign people = site.data.about_people | where_exp: 'p','p.id' %}
<p>Search and sort the table below to find library staff members. More information about faculty members can also be found on our <a href="librarians.html">librarians page</a>. For general Library information please call (208) 885-6534.</p>

<link rel="stylesheet" type="text/css" href="{{ '/assets/bootstrap5/datatables/datatables.min.css' | relative_url }}">

<table id="directory" class="table table-striped">
    <thead>
       <tr>
          <th scope="col">Name</th>
          <th scope="col">Title</th>
          <th scope="col">Department</th>
          <th scope="col">Contact Info</th>
       </tr>
    </thead>
    
    <tbody class="table-group-divider">
    {% for p in people %}
    <tr>
       <th scope="row"><a href="{{ '/about/people/' | relative_url }}{{ p.id }}.html">{{ p.last_name }}, {{ p.first_name }}</a></th>
       <td>{{ p.title | replace: ';', '<br>' }}<br>{{ p.rank }}</td>
       <td>{{ p.department }}</td>
       <td><a href="mailto:{{ p.email }}">{{ p.email }}</a>{% if p.phone %}<br>{{ p.phone }}{% endif %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>				