---
title: Hours
section: Hours 
layout: page
permalink: /about/hours.html
---

<hr>

<!-- building hours -->
<h2 class="my-3" id="building-hours"><i class="fas fa-university"></i> Building Hours</h2>

<div class="row">
  
  <div class="col-md-12">
    <div class="card my-2" >
      <div class="card-body">
        <h3 class="card-title">Semester Hours</h3>
        <p><small>August 22 - December 16, January 9 - May 12</small></p>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>Monday - Thursday</td>
              <td>6:00am - 2:00am</td>
            </tr>
            <tr>
              <td>Friday</td>
              <td>6:00am - 8:00pm</td>
            </tr>            
            <tr>
              <td>Saturday</td>
              <td>12:00pm - 6:00pm</td>
            </tr>
            <tr>
              <td>Sunday</td>
              <td>12:00pm - 2:00am</td>
            </tr>         
          </tbody>
        </table>
      </div>
    </div>
  </div>  

  <div class="col-md-12">
    <div class="card my-2" id="summer">
      <div class="card-body">
        <h3 class="card-title">Summer Hours</h3>
        <p><small>May 15 - August 21</small></p>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>Monday - Friday</td>
              <td>8:00am - 8:00pm</td>
            </tr>
            <tr>
              <td>Saturday</td>
              <td>Closed</td>
            </tr>
            <tr>
              <td>Sunday</td>
              <td>12:00pm - 8:00pm</td>
            </tr>          
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

{% capture text %}
<p>All hours are <strong>Pacific time</strong> and are subject to change for special circumstances, including staffing storages. If a holiday is not listed in <a href="#reduced">reduced hours</a>, the Library will be open. Please call 208-885-6559 with questions.</p>
{% endcapture %}
{% include feature/alert.html color="info" text=text %}

<hr>

<!-- reference desk hours -->
<h2 class="my-3" id="reference"><i class="fas fa-info-circle"></i> Reference and Information Desk Hours</h2>

<div class="row">

  <div class="col-md-6">
    <div class="card my-2">
      <div class="card-body">
        <h3 class="card-title">Semester Hours</h3>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>Monday - Friday</td>
              <td>10:00am - 4:00pm</td>
            </tr>
          </tbody>
        </table>
                
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card my-2">
      <div class="card-body">
        <h3 class="card-title">Summer Hours</h3>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>Please email <a href="mailto:libref@uidaho.edu">libref@uidaho.edu</a> to schedule an appointment.</td>
            </tr>
           </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

{% include feature/alert.html text="Instant help is available online via our <a href='/help/chat.html' class='alert-link'>Chat service</a> 24 hours a day, 7 days a week!" color="success" align="center" %}

<p>U of I librarians are available to <a href="{{ '/help/' | relative_url }}">help via chat, text, or email</a> during Reference and Information Desk hours. Meetings with a librarian are also available by appointment during regular hours, please email <a href="mailto:libref@uidaho.edu">libref@uidaho.edu</a> to set up a time. Even when the Reference and Information Desk is closed, <a href="{{ '/help/chat.html' | relative_url }}">Chat help</a> from librarians from other academic libraries is available 24 hours a day, 7 days a week, all year-round!</p>

<p>You can also <a href="{{ '/help/research.html' | relative_url }}">contact your subject liaison</a> or call our Circulation Desk (<a href="tel:+1-208-885-6559">208-885-6559</a>) for assistance.</p>

<hr>

<!-- ILL hours -->
<h2 class="my-3" id="ill"><i class="fas fa-share-square"></i> Interlibrary Loan</h2>

<div class="row">

  <div class="col">
    <div class="card my-2" >
      <div class="card-body">
        <h3 class="card-title">ILL Office Hours</h3>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>Monday - Friday</td>
              <td>9:00am - 5:00pm</td>
            </tr>
            <tr>
              <td>Saturday - Sunday</td>
              <td>Closed</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<hr>

<!-- Spec hours -->
<h2 class="my-3" id="special"><i class="fas fa-archive"></i> Special Collections</h2>

<div class="row">

  <div class="col-md-6">
    <div class="card my-2">
      <div class="card-body">
        <h3 class="card-title">Reading Room Semester Hours</h3>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>Tuesday - Friday</td>
              <td>10:00am to 2:00pm</td>
            </tr>
            <tr>
              <td>Saturday - Monday</td>
              <td>Closed</td>
            </tr>
          </tbody>
        </table>    
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card my-2">
      <div class="card-body">
        <h3 class="card-title">Reading Room Summer Hours</h3>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td><a href="{{ '/special-collections/plan.html#hours' | relative_url }}">By appointment</a><br>
              Please contact <a href="mailto:libspec@uidaho.edu">libspec@uidaho.edu</a> or (208) 885-0845</td>
            </tr>
           </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<hr> 

<!-- Curriculum Center hours -->
<h2 class="my-3" id="curriculum"><i class="fas fa-book-reader"></i> Gary Strong Curriculum Center</h2>

<div class="row">

  <div class="col-md-6">
    <div class="card my-2">
      <div class="card-body">
        <h3 class="card-title">Semester Hours</h3>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>Monday - Friday</td>
              <td>10:00am - 3:00pm <br><em>or by appointment</em></td>
            </tr>
            <tr>
              <td>Saturday - Sunday</td>
              <td>Closed</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card my-2">
      <div class="card-body">
        <h3 class="card-title">Summer Hours</h3>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>Monday - Thursday</td>
              <td>9:00am - 12:00pm <br><em>or by appointment</em></td>
            </tr>
            <tr>
              <td>Friday - Sunday</td>
              <td>Closed</td>
            </tr>
           </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<hr>

<!-- reduced hours -->
<h2 class="my-3" id="reduced"><i class="far fa-calendar-times"></i> Reduced Hours and Closures</h2>

<div class="row">

  <div class="col">
    <div class="card my-2" >
      <div class="card-body">
        
        <table class="table table-hover">
          <tbody>

            <tr class="table-secondary">
              <td><h3>Fall Reduced Hours</h3></td>
              <td></td>
            </tr>
            <tr>
              <td>September 4</td>
              <td>12:00pm - 12:00am</td>
            </tr>
            <tr>
              <td>September 5 - Labor Day</td>
              <td>Closed</td>
            </tr>
          
            <tr class="table-secondary">
              <td><h3>Fall Recess</h3></td>
              <td></td>
            </tr>
            <tr>
              <td>November 19 - 20</td>
              <td>12:00pm - 6:00pm</td>
            </tr>
            <tr>
              <td>November 21 - 23</td>
              <td>8:00am - 6:00pm</td>
            </tr>
            <tr>
              <td>November 24 - Thanksgiving</td>
              <td>Closed</td>
            </tr>
            <tr>
              <td>November 25 - 26</td>
              <td>12:00pm - 6:00pm</td>
            </tr>
          
            <tr class="table-secondary">
              <td><h3>Winter Intersession</h3></td>
              <td></td>
            </tr>
            <tr>
              <td>December 17 - 18</td>
              <td>12:00pm - 6:00pm</td>
            </tr>
            <tr>
              <td>December 19 - 22</td>
              <td>8:00am - 6:00pm</td>
            </tr>
            <tr>
              <td>December 23 - January 2</td>
              <td>Closed</td>
            </tr>
            <tr>
              <td>January 3 - 6</td>
              <td>8:00am - 6:00pm</td>
            </tr>
            <tr>
              <td>January 7 - 8</td>
              <td>12:00pm - 6:00pm</td>
            </tr>

            <tr class="table-secondary">
              <td><h3 id="{{ 'Spring Reduced Hours' | slugify }}">Spring Reduced Hours</h3></td>
              <td></td>
            <tr>
            <tr>
              <td>January 15 - 16 - Martin Luther King Jr. Day</td>
              <td>12:00pm - 12:00am</td>
            </tr>
            <tr>
              <td>February 19 - 20 - President's Day</td>
              <td>12:00pm - 12:00am</td>
            </tr>
          
            <tr class="table-secondary">
              <td><h3 id="{{ 'Spring Recess' | slugify }}">Spring Recess</h3></td>
              <td></td>
            <tr>
            <tr>
              <td>March 11 - 12</td>
              <td>12:00pm - 6:00pm</td>
            </tr>
            <tr>
              <td>March 13 - 17</td>
              <td>8:00am - 6:00pm</td>
            </tr>
            <tr>
              <td>March 18</td>
              <td>12:00pm - 6:00pm</td>
            </tr>

            <!--
            <tr class="table-secondary">
              <td><h3>Spring Intersession</h3></td>
              <td></td>
            <tr>
              <td>May 16-17</td>
              <td>8:00am - 5:00pm</td>
            </tr>-->

            <tr class="table-secondary">
              <td><h3>Summer Closures</h3></td>
              <td></td>
            <tr>
            <tr>
              <td>May 29 - Memorial Day</td>
              <td>Closed</td>
            </tr>
            <tr>
              <td>June 19 - Juneteenth</td>
              <td>Closed</td>
            </tr>
            <tr>
              <td>July 4 - Independence Day</td>
              <td>Closed</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
  
</div>
