---
title: Hours
section: Hours 
layout: page
permalink: /about/hours.html
custom-foot: js/hours-js.html
---

<div class="card my-4" >
  <div class="card-body">
    <div id="s_lc_tdh_3479_7368"></div> 
  </div>
</div>

{% capture text %}
<p><em>Please note,</em> during normal academic year hours on Sunday through Thursday, the 3rd and 4th floors close at midnight. The 1st and 2nd floors remain open until 2am.</p>
<p>All hours are <strong>Pacific time</strong> and are subject to change for special circumstances. The current hours are displayed above. The sections below list the general semester, summer, and <a class="alert-link" href="#reduced">reduced hours</a>, and may not reflect temporary changes or special circumstances. Please call 208-885-6559 with questions.</p>
{% endcapture %}
{% include feature/alert.html color="info" text=text %}

<hr>

<!-- building hours -->
<h2 class="my-3" id="building-hours"><i aria-hidden="true" class="fas fa-university"></i> Library Hours</h2>

<div class="row">
  
  <div class="col-md-12">
    <div class="card my-2" >
      <div class="card-body">
        <h3 class="card-title">Semester Hours</h3>
        <p><small>August 25 - December 19, 2025 and January 8 - May 10, 2026</small></p>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>Monday - Thursday</td>
              <td>
                6:00am - 2:00am<br>
                <small><em>3rd and 4th floors close at 12am</em></small>
              </td>
            </tr>
            <tr>
              <td>Friday</td>
              <td>6:00am - 8:00pm</td>
            </tr>            
            <tr>
              <td>Saturday</td>
              <td>12:00pm - 6:00pm</td>
            </tr>
            <tr>
              <td>Sunday</td>
              <td>
                12:00pm - 2:00am<br>
                <small><em>3rd and 4th floors close at 12am</em></small>
              </td>
            </tr>         
          </tbody>
        </table>
      </div>
    </div>
  </div>  

  <div class="col-md-12">
    <div class="card my-2" id="summer">
      <div class="card-body">
        <h3 class="card-title">Summer Hours</h3>
        <p><small>May 10 - August 24, 2025</small></p>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>Monday - Friday</td>
              <td>8:00am - 8:00pm</td>
            </tr>
            <tr>
              <td>Saturday</td>
              <td>Closed</td>
            </tr>
            <tr>
              <td>Sunday</td>
              <td>12:00pm - 8:00pm</td>
            </tr>          
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<hr>

<!-- reference desk hours -->
<h3 class="my-3" id="research"><i aria-hidden="true" class="fas fa-info-circle"></i> Research Help Desk Hours</h3>

<div class="row">

  <div class="col-md-6">
    <div class="card my-2">
      <div class="card-body">
        <h4 class="card-title">Semester Hours</h4>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>Monday - Friday</td>
              <td>10:00am - 4:00pm</td>
            </tr>
          </tbody>
        </table>   
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card my-2">
      <div class="card-body">
        <h4 class="card-title">Summer Hours</h4>
        <p>Please email <a href="mailto:libref@uidaho.edu">libref@uidaho.edu</a> to schedule an appointment.</p>
      </div>
    </div>
  </div>

</div>

{% include feature/alert.html text="Instant help is available online via our <a href='/help/chat.html' class='alert-link'>Chat service</a> 24 hours a day, 7 days a week!" color="success" align="center" %}

<p>U of I librarians are available to <a href="{{ '/help/' | relative_url }}">help via chat, text, or email</a> during Research Help Desk hours. Meetings with a librarian are also available by appointment during regular hours, please email <a href="mailto:libref@uidaho.edu">libref@uidaho.edu</a> to set up a time. Even when the Research Help Desk is closed, <a href="{{ '/help/chat.html' | relative_url }}">Chat help</a> from librarians from other academic libraries is available 24 hours a day, 7 days a week, all year-round!</p>

<hr>

<!-- Curriculum Center hours -->
<h3 class="my-3" id="curriculum"><i aria-hidden="true" class="fas fa-book-reader"></i> Gary Strong Curriculum Center</h3>

<div class="row">

  <div class="col-md-6">
    <div class="card my-2">
      <div class="card-body">
        <h4 class="card-title">Semester Hours</h4>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>Monday - Friday</td>
              <td>10:00am - 3:00pm <br><em>or by appointment</em></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card my-2">
      <div class="card-body">
        <h4 class="card-title">Summer Hours</h4>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>Monday - Thursday</td>
              <td>9:00am - 12:00pm <br><em>or by appointment</em></td>
            </tr>
           </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<hr>

<!-- Data Hub hours -->
<h3 class="my-3" id="datahub"><i aria-hidden="true" class="fas fa-chart-line"></i> Data Hub: Geospatial and Data Sciences Support</h3>

<div class="row">

  <div class="col-md-6">
    <div class="card my-2">
      <div class="card-body">
        <h4 class="card-title">Semester Hours</h4>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>Monday - Friday</td>
              <td>11:00am - 3:00pm</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card my-2">
      <div class="card-body">
        <h4 class="card-title">Summer Hours</h4>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>By appointment<br>
              Please contact Jeremy Kenyon <a href="mailto:jkenyon@uidaho.edu">jkenyon@uidaho.edu</a></td>
            </tr>
           </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<hr>

<!-- ILL hours -->
<h3 class="my-3" id="ill"><i aria-hidden="true" class="fas fa-share-square"></i> Interlibrary Loan</h3>

<div class="row">

  <div class="col">
    <div class="card my-2" >
      <div class="card-body">
        <h4 class="card-title">ILL Office Hours</h4>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>Monday - Friday</td>
              <td>8:00am - 5:00pm</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<hr>

<!-- MILL hours -->
<h3 class="my-3" id="mill"><i aria-hidden="true" class="far fa-edit"></i> Making, Innovating, and Learning Laboratory (The MILL)</h3>

<div class="row">

  <div class="col-md-6">
    <div class="card my-2">
      <div class="card-body">
        <h4 class="card-title">Semester Hours</h4>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>Monday - Friday</td>
              <td>8:00am - 6:00pm</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card my-2">
      <div class="card-body">
        <h4 class="card-title">Summer Hours</h4>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>Monday - Friday</td>
              <td>9:00am - 4:00pm</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<hr>

<!-- Spec hours -->
<h3 class="my-3" id="special"><i aria-hidden="true" class="fas fa-archive"></i> Special Collections Reading Room</h3>

<div class="row">

  <div class="col-md-6">
    <div class="card my-2">
      <div class="card-body">
        <h4 class="card-title">Semester Hours</h4>
        <p><small><a href="{{ '/special-collections/plan.html' | relative_url }}">Appointments</a> strongly encouraged!</small></p>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>Monday, Wednesday, Friday</td>
              <td>9:00am - 1:00pm</td>
            </tr>
            <tr>
              <td>Tuesday, Thursday</td>
              <td>12:00pm - 4:00pm</td>
            </tr>
          </tbody>
        </table>    
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card my-2">
      <div class="card-body">
        <h4 class="card-title">Summer Hours</h4>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>Tuesday, Wednesday, Thursday</td>
              <td>9:00am - 1:00pm <br>or by appointment</td>
            </tr>
            <tr>
              <td>Monday, Friday</td>
              <td><a href="{{ '/special-collections/plan.html#hours' | relative_url }}">By appointment</a><br>
              Please contact <a href="mailto:libspec@uidaho.edu">libspec@uidaho.edu</a> or (208) 885-0845</td>
            </tr>
           </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<hr> 

<!-- Studio hours -->
<h3 class="my-3" id="studio"><i aria-hidden="true" class="fas fa-microphone-alt"></i> The Studio - A/V Lab</h3>

<div class="row">

  <div class="col">
    <div class="card my-2">
      <div class="card-body">
        <p>The Studio hours are the same as the Library building hours. Please make a reservation to use the space in our <a href="https://libcal.uidaho.edu/reserve/AV">Library booking system</a>.</p>
      </div>
    </div>
  </div>

</div>

<hr>

<!-- reduced hours -->
<h3 class="my-3" id="reduced"><i aria-hidden="true" class="far fa-calendar-times"></i> Reduced Hours and Closures: Fall 2025 and Spring 2026</h3>

<div class="row">

  <div class="col">
    <div class="card my-2" >
      <div class="card-body">
        
        <table class="table table-hover">
          <tbody>

            <tr class="table-secondary">
              <td><h4>Fall Reduced Hours</h4></td>
              <td></td>
            </tr>
            <tr>
              <td>August 31</td>
              <td>12:00pm - 12:00am</td>
            </tr>
            <tr>
              <td>September 2 - Labor Day</td>
              <td>Closed</td>
            </tr>
          
            <tr class="table-secondary">
              <td><h4>Fall Recess</h4></td>
              <td></td>
            </tr>
            <tr>
              <td>November 22 - 23</td>
              <td>12:00pm - 6:00pm</td>
            </tr>
            <tr>
              <td>November 24 - 26</td>
              <td>8:00am - 6:00pm</td>
            </tr>
            <tr>
              <td>November 27 - Thanksgiving</td>
              <td>Closed</td>
            </tr>
            <tr>
              <td>November 28 - 29</td>
              <td>12:00pm - 6:00pm</td>
            </tr>
          
            <tr class="table-secondary">
              <td><h4>Winter Intersession</h4></td>
              <td></td>
            </tr>
            <tr>
              <td>December 20 - 21</td>
              <td>12:00pm - 6:00pm</td>
            </tr>
            <tr>
              <td>December 22 - 23</td>
              <td>8:00am - 6:00pm</td>
            </tr>
            <tr>
              <td>December 24 - January 2</td>
              <td>Closed</td>
            </tr>
            <tr>
              <td>January 3 - 4</td>
              <td>12:00pm - 6:00pm</td>
            </tr>
            <tr>
              <td>January 5 - 9</td>
              <td>8:00am - 6:00pm</td>
            </tr>
            <tr>
              <td>January 10 - 11</td>
              <td>12:00pm - 6:00pm</td>
            </tr>

            <tr class="table-secondary">
              <td><h4 id="{{ 'Spring Reduced Hours' | slugify }}">Spring Reduced Hours</h4></td>
              <td></td>
            </tr>
            <tr>
              <td>January 18</td>
              <td>12:00pm - 12:00am</td>
            </tr>
            <tr>
              <td>January 19 - Martin Luther King Jr. Day</td>
              <td>12:00pm - 12:00am</td>
            </tr>
            <tr>
              <td>February 15</td>
              <td>12:00pm - 12:00am</td>
            </tr>
            <tr>
              <td>February 16 - President's Day</td>
              <td>12:00pm - 12:00am</td>
            </tr>
          
            <tr class="table-secondary">
              <td><h4 id="{{ 'Spring Recess' | slugify }}">Spring Recess</h4></td>
              <td></td>
            </tr>
            <tr>
              <td>March 14 - 15</td>
              <td>12:00pm - 6:00pm</td>
            </tr>
            <tr>
              <td>March 16 - 20</td>
              <td>8:00am - 6:00pm</td>
            </tr>
            <tr>
              <td>March 21 - 22</td>
              <td>12:00pm - 6:00pm</td>
            </tr>

            <!--
            <tr class="table-secondary">
              <td><h4>Spring Intersession</h4></td>
              <td></td>
            <tr>
              <td>May 16-17</td>
              <td>8:00am - 5:00pm</td>
            </tr>-->

            <tr class="table-secondary">
              <td><h4>Summer Closures</h4></td>
              <td></td>
            <tr>
            <tr>
              <td>May 25 - Memorial Day</td>
              <td>Closed</td>
            </tr>
            <tr>
              <td>June 19 - Juneteenth</td>
              <td>Closed</td>
            </tr>
            <tr>
              <td>July 3 - Independence Day (observed)</td>
              <td>Closed</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
  
</div>
