---
title: "Current Think Open Fellows"
section: Think Open
permalink: /open/fellowship/current.html
layout: page
---

<h2>Faculty</h2>

<div class="row">
    {% assign faculty = site.data.open_thinkopenfellows | where: 'year','2021' | where: 'type','Faculty' %}
    {% for fellow in faculty %}
    <div class="col-md-6 col-lg-4 mb-2">
        <div class="card" id="researcher-{{ fellow.name | slugify }}">
            {% if fellow.image %}
            <img class="card-img-top" src="{{ site.lib-media }}/open/thinkopen/{{ fellow.image }}" alt="portrait of {{ fellow.name }}">
            {% endif %}
            <div class="card-body">
                <h3 class="card-title">
                    <a href="{{ fellow.profile-link }}">{{ fellow.name }}</a>
                </h3>
                <p class="card-text">
                    {{ fellow.type | upcase }}
                    <br><strong>{{ fellow.discipline }}</strong>
                </p>
                <h4>Project</h4>
                <p class="card-text">
                    {{ fellow.topic }}
                    <br>
                    <strong>Students Impacted:</strong> {{ fellow.students-impacted }}
                </p>
                <a href="{{ fellow.profile-link }}" class="btn btn-clearwater" target="_blank" rel="noopener">View Profile</a>
            </div>
        </div>   
    </div>
    {% endfor %}
</div>

<hr>

{% assign grads = site.data.open_thinkopenfellows | where: 'year','2021' | where: 'type','Graduate Student' %}
{% if grads != empty %}
<h2 class="my-2">Graduate Students</h2>

<div class="row">
    {% for fellow in grads %}
    <div class="col-md-6 col-lg-4 mb-2">
        <div class="card" id="researcher-{{ fellow.name | slugify }}">
            {% if fellow.image %}
            <img class="card-img-top" src="{{ site.lib-media }}/open/thinkopen/{{ fellow.image }}" alt="portrait of {{ fellow.name }}">
            {% endif %}
            <div class="card-body">
                <h3 class="card-title">
                    <a href="{{ fellow.profile-link }}">{{ fellow.name }}</a>
                </h3>
                <p class="card-text">
                    {{ fellow.type | upcase }}
                    <br><strong>{{ fellow.discipline }}</strong>
                </p>
                <h4>Project</h4>
                <p class="card-text">
                    {{ fellow.topic }}
                    <br>
                    <strong>Students Impacted:</strong> {{ fellow.students-impacted }}
                </p>
                <a href="{{ fellow.profile-link }}" class="btn btn-clearwater" target="_blank" rel="noopener">View Profile</a>
            </div>
        </div>   
    </div>
    {% endfor %}
</div>
{% endif %}
