---
title: "Past Think Open Fellows"
section: Think Open
permalink: /open/fellowship/past.html
layout: page
---

{% assign fellows = site.data.thinkopenfellows %}

<h3>2018 Fellows</h3>

<div class="row">        
    {% for fellow in fellows %}
    {% if fellow.year == "2018" %}
    <div class="col-md-4 my-1">
        <div class="card mx-auto" id="researcher-{{ fellow.name | slugify }}">
            <div class="card-body">
                <h4 class="card-title">
                    <b>{{ fellow.name }}</b>
                </h4>
                <p class="card-text">
                    {{ fellow.displaytype | upcase }}
                    <br><b>Course Title:</b>{{ fellow.course}}
                </p>
                <p class="card-text">
                    <br>
                    <b>Students Impacted:</b> {{ fellow.students-impacted }}
                    <b>Estimated Minimum Savings:</b> {{ fellow.impact }}
                </p>
                <a href="{{ fellow.id }}" class="btn btn-clearwater" target="_blank" rel="noopener">Learn More</a>
            </div>
        </div>   
    </div>{%endif%}
    {% endfor %}
</div>

<hr>

<h3>2017 Fellows</h3>

<div class="row">        
    {% for fellow in fellows %}
    {% if fellow.year == "2017" %}
    <div class="col-md-4 my-1">
        <div class="card mx-auto" id="researcher-{{ fellow.name | slugify }}">
            <div class="card-body">
                <h4 class="card-title">
                    <b>{{ fellow.name }}</b>
                </h4>
                <p class="card-text">
                    {{ fellow.displaytype | upcase }}
                    <br><b>Course Title:</b>{{ fellow.course}}
                </p>
                <p class="card-text">
                   <br>
                    <b>Students Impacted:</b> {{ fellow.students-impacted }}
                    <b>Estimated Minimum Savings:</b> {{ fellow.impact }}
                </p>
                <a href="{{ fellow.id }}" class="btn btn-clearwater" target="_blank" rel="noopener">Learn More</a>
            </div>
        </div>   
    </div>{%endif%}
    {% endfor %}
</div>

<hr>
