---
title: "Past Think Open Fellows"
section: Think Open
permalink: /open/fellowship/past.html
layout: page
---

{% assign fellows = site.data.open_thinkopenfellows %}
{% assign years = fellows | map: 'year' | uniq | sort | reverse %}

{% for y in years %}
<h2>{{ y }} Fellows</h2>
{% assign cohort = fellows | where: 'year',y %}
<div class="row">        
    {% for f in cohort %}
    <div class="col-md-4 my-1">
        <div class="card mx-auto" id="researcher-{{ fellow.name | slugify }}">
            <div class="card-body">
                <h4 class="card-title">
                    {% if f.id %}<a href="{{ f.id }}" target="_blank" rel="noopener">{% endif %}
                        <strong>{{ f.name }}</strong>
                    {% if f.id %}</a>{% endif %}
                </h4>
                <p class="card-text">
                    {{ f.displaytype | upcase }}<br>
                    {% if f.discipline %}{{ f.discipline }}<br>{% endif %}
                    {% if f.course %}<strong>Course Title:</strong> {{ f.course }}<br>{% endif %}
                    {% if f.students-impacted %}<strong>Students Impacted:</strong> {{ f.students-impacted }}<br>{% endif %}
                    {% if f.impact %}<strong>Estimated Minimum Savings:</strong> {{ f.impact }}{% endif %}
                </p>
            </div>
        </div>   
    </div>
    {% endfor %}
</div>

<hr>

{% endfor %}
