---
# front matter
---
@charset "utf-8";

// base variables
$base-font-family: "Ringside Narrow A", "Ringside Narrow B", Arial, sans-serif; 
$base-font-size:   1.25rem;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$text-color:       #111;
$light-text-color: #fdfdfd;

$background-color: #fdfdfd;
$nav-background: #e8e8e8; //#CBCCD0;
$link-color:      #191919;

$jumbotron-image: url('https://www.lib.uidaho.edu/images/U-Idaho_Library_Oct2_current.jpg');

$grey-color:       #808080;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$black-color:       #191919;
$black-color-light: lighten($black-color, 40%);
$black-color-dark:  darken($black-color, 25%);

// vandal colors 
$pride-gold:  #F1B300;
$garnet: #D22630; 
$wild-rose: #E10098;
$palouse-green: #00AF66;
$clearwater: #00AEC7;
$clearwater-light: #8BD5E5;
$payette-blue: #003E51;
$ponderosa-pine: #004E42;

// vandal colors translated into bootstrap
$blue: #003E51;
$green: #00AF66;
$cyan: #00AEC7;
$red: #D22630;
$yellow: #F1B300;
$primary: $yellow;
$gray-800: #191919;

$theme-colors: (
  primary: $blue,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  dark: $gray-800
) !default;

// Width of the content area
$content-width:    1800px;

$on-palm:          576px;
$on-laptop:        768px;
$on-desktop:       992px;
$on-jumbo:        1200px;
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


@import "uidahofonts", "custom", "buttons", "index", "page";

//@import "base";
//@import "layout";