---
# generate main CSS for library website
---
@charset "utf-8";

// base variables

$base-font-family: "";  
$base-font-size:   1.15rem;
$text-color:       #111;
$light-text-color: #fdfdfd;
$pride-gold: #F1B300;

$background-color: #fdfdfd;
$nav-background: #e8e8e8; //#CBCCD0;
$link-color:      #191919;

$grey-color:       #808080;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$black-color:       #191919;
$black-color-light: lighten($black-color, 40%);
$black-color-dark:  darken($black-color, 25%);

@import "base", "header", "footer", "custom", "index", "page";
