---
title: Search All Collections
layout: page
section: Special Collections
permalink: /special-collections-old/searchall.html
# table-id: "#all-collections"
custom-foot: "js/spec_searchall.js"
---
<div class="row">
	<div class="col-md-12">
		<div class="card mb-3">
			<div class="card-body text-center">
	  
			  <p class="mb-1">Search our finding aids on Archives West <a href="#" data-toggle="modal" data-target="#nwda" role="button"><i class="fas fa-info-circle"></i><span class="sr-only">more info</span></a></p>
	  
			  <form class="form-inline justify-content-center" action="https://archiveswest.orbiscascade.org/search/results.aspx" method="get">
				<input id="searchValue" class="form-control mt-2" name="q" type="text"> 
				<input id="t" name="t" type="hidden" value="k">
				<input id="c" name="c" type="hidden" value="ntd">
				<button id="searchSubmit" class="btn btn-pride-gold ml-2 mt-2" type="submit"><i class="fas fa-search"></i> Archives West</button>
			  </form>
	  
			  <!-- modal -->
			  <div class="modal fade nwda" id="nwda" tabindex="-1" role="dialog" aria-labelledby="nwda">
				<div class="modal-dialog" role="document">
				  <div class="modal-content">
					<div class="modal-header text-center">
					  <h3 class="modal-title">About Archives West</h3>
					  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					  </button>
					</div>
					<div class="modal-body">
					  <p><a href="https://archiveswest.orbiscascade.org/" target="_blank" rel="noopener">Archives West</a> is a collection of finding aids from organizations throughout the Northwest. This search box will take you to their website, searching only our holdings. Please contact <a href="contactus.html">our staff</a> for additional assistance.</p>
					</div>
				  </div>
				</div>
			  </div>
			  <!--end modal-->
			</div>
		</div>
	</div>
</div>

<p>A list of over 1,400 record groups held by SPEC can be browsed in the table below, with basic sort, filter, and search functions. For more advanced search of finding aid contents, please use <a href="https://archiveswest.orbiscascade.org/search/results.aspx?t=i&q=idu&p=0" target="_blank" rel="noopener">Archives West</a>.</p>

<div class="form-group col-md-4">
	<label for="groupSelect">Filter Collections</label>
	<select id="groupSelect" class="form-control">
		<option value="all">All Groups</option>
		<option value="PG">Photo Groups Only</option>
		<option value="MG">Manuscript Groups Only</option>
		<option value="UG">University Groups Only</option>
		<option value="IJC-MG">International Jazz Collections</option>
		<option value="VF">Vertical File</option>
	</select>
</div>
<link rel="stylesheet" type="text/css" href="{{ '/assets/datatables/datatables.min.css' | relative_url }}">
<table id="all-collections" class="table table-striped">
	<thead>
		<tr>
			<th>Title</th>
			<th>Group Type</th>
			<th>Group Number</th>
			<th>Finding Aid</th>
			<th>Digital Collection</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th>Title</th>
			<th>Group Type</th>
			<th>Group Number</th>
			<th>Finding Aid</th>
			<th>Digital Collection</th>
		</tr>
	</tfoot>
	<tbody>
	{% assign items = site.data.spec_searchall %}
	{% for item in items %}
	<tr>
		<td class="title">{{item.title}}</td>
		<td class="grouptype">{{item.type}}</td>
		<td class="groupnumber">{{item.number | prepend: '0000' | slice: -4, 4 }}</td>
		<td class="finding-aid">{% if item.link %}<small><a target="_blank" rel="noopener" href="{{item.link}}">Finding Aid <i class="fas fa-external-link-alt"></i></a></small>{% endif %}</td>
		<td class="digital-collection">{% if item.digital-collection %}<small><a target="_blank" rel="noopener" href="{{item.digital-collection}}">Digital Collection <i class="fas fa-external-link-alt"></i></a></small>{% endif %}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
