---
title: Instruction by Topic
section: Services
permalink: /services/instruction/topics.html
layout: page
filter: circle-button
---
{% assign expertise = site.data.expertise | sort: "subject" %}
{% assign peoplemap = site.data.expertise | map: "person" | compact | join: "," %}
{% assign people-unique = peoplemap | split: ',' | uniq | sort %}

<style>
    .hidden {
        display: none;
    }

    button {
        pointer: cursor;
    }
</style>
<p>Library faculty teach class sessions on how to search efficiently and effectively for information -- using library
    resources as well as the Web and other electronic resources. We provide general orientation to library research in
    freshman composition classes, but we also tailor class sessions for specific assignments in other courses.</p>

<p>To request a librarian led session, please click the button link to the our survey form, or use the survey embedded
    below.</p>

<div class="mt-2  row">
    <p class="col-md-9">Filter:
        <button id="data" class="filter m-2 btn btn-outline-wild-rose font-weight-bold" >Data & Computing</button>
        <button id="find" class="filter m-2 btn btn-outline-palouse-green font-weight-bold">Finding Information</button>
        <button id="research" class="filter m-2 btn  btn-outline-clearwater font-weight-bold">Research</button>
        <button id="writing" class="filter m-2 btn  btn-outline-pride-gold font-weight-bold">Writing & Citing</button>
    </p>
    <select class="col-md-3 mt-2 btn btn-secondary" onchange="$('#quicksearch').val(this.value);$('#goButton').click();"  id="instructorList" style="height:35px">
        <option value="">Filter by Instructor</option>
        {% for person in people-unique %}
        <option value="{{person}}">{{person}}</option>
        {% endfor %}
    </select>
</div>
<div class="row mb-4 pb-2 border-bottom form-inline justify-content-center">
    <input type="text" id="quicksearch" placeholder="Search ... " class="searchinput form-control mr-2 col-md-6 col-8">
    <button class="searchinput mx-2 btn btn-lg btn-pride-gold col-2" title="Search" alt="Search" id="goButton"
        onclick="filterItems()" type="submit">Go</button>
    <button class="reset btn btn-secondary ml-2">Reset</button>
</div>

<div class="row justify-content-center" id="contents-container">


    {% for e in expertise %}
        {% if e.catid == 'data' %}{% include circle-button-modal.html color='wild-rose' %}
        {% elsif e.catid == 'find' %}{% include circle-button-modal.html color='palouse-green' %}
        {% elsif e.catid == 'research' %}{% include circle-button-modal.html color='clearwater' %}
        {% elsif e.catid == 'writing' %}{% include circle-button-modal.html color='pride-gold' %}
        {%endif%}
        {%endfor%}
   
</div>

    <!--<a class="btn btn-clearwater mb-3" href="https://uidaho.co1.qualtrics.com/jfe/form/SV_d7rjJxMWvBBNyO9" target="_blank" rel="noopener">Instruction Request Form</a>

<div class="row" id="qualtrixsurvey">
    <iframe src='https://uidaho.co1.qualtrics.com/jfe/form/SV_d7rjJxMWvBBNyO9' name='Qualtrics' scrolling='auto' frameborder='no' align='center' height='800px' width='100%'></iframe>
</div>	-->