---
title: Instruction by Topic
section: Services
permalink: /services/instruction/topics.html
layout: full-width-page
filter: circle-button
---
{% assign expertise = site.data.services_instruction_topics | sort: "subject" %}
{% assign people = expertise | map: "person" | compact | join: ";" | split: ";" | uniq | sort %}

<style>
    .hidden {
        display: none;
    }
    #instructorList { width: initial; }
</style>

<p>Library faculty teach class sessions on how to search efficiently and effectively for information -- using library resources as well as the Web and other electronic resources. We provide general orientation to library research in freshman composition classes, but we also tailor class sessions for specific assignments in other courses. To request a librarian led session on a specific topic area, please click a topic below and follow the "Request Instruction" link to the our form.</p>

<div class="text-center mb-3">
    
    Filter: 
    <button id="data" class="filter m-2 btn btn-outline-wild-rose font-weight-bold" >Data & Computing</button>
    <button id="find" class="filter m-2 btn btn-outline-palouse-green font-weight-bold">Finding Information</button>
    <button id="research" class="filter m-2 btn btn-outline-clearwater font-weight-bold">Research</button>
    <button id="writing" class="filter m-2 btn btn-outline-pride-gold font-weight-bold">Writing & Citing</button>
    
    <select id="instructorList" class="custom-select m-2" onchange="$('#quicksearch').val(this.value);$('#goButton').click();">
        <option value="">Filter by Instructor</option>
        {% for person in people %}
        <option value="{{ person }}">{{ person }}</option>{% endfor %}
    </select>

</div>

<div class="row mb-4 justify-content-center">
    <div class="col-md-8 text-center">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control form-control-lg" id="quicksearch" placeholder="Search ... " aria-label="Search"> 
            <div class="input-group-append">
                <button class="btn btn-pride-gold" type="button" title="Filter items" alt="Search" id="goButton" onclick="filterItems()">Search</button>
                <button id="reset" class="btn btn-outline-secondary">Reset</button>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center" id="contents-container">


{% for e in expertise %}
    {% if e.catid == 'data' %}{% include circle-button-modal.html color='wild-rose' %}
    {% elsif e.catid == 'find' %}{% include circle-button-modal.html color='palouse-green' %}
    {% elsif e.catid == 'research' %}{% include circle-button-modal.html color='clearwater' %}
    {% elsif e.catid == 'writing' %}{% include circle-button-modal.html color='pride-gold' %}
    {% endif %}
{% endfor %}
   
</div>
