---
title: Instruction by Topic
section: Services
permalink: /services/instruction/topics.html
layout: full-width-page
custom-foot: js/topics-filter.html
---
{% assign expertise = site.data.services_instruction_topics | sort: "subject" %}
{% assign people = expertise | map: "person" | compact | join: ";" | split: ";" | uniq | sort %}
{% assign people-table = site.data.about_people %}

<style>
    #instructorList { width: initial; }
</style>

<p>Library faculty teach class sessions on how to search efficiently and effectively for information. We provide general orientation to library research in freshman composition classes, but we also tailor class sessions for specific assignments in other courses. To request a librarian led session on a specific topic area, please click a topic below and follow the "Request Instruction" link to our form.</p>

<div class="text-center mb-3">
    
    Filter: 
    <button id="data" class="filter m-2 btn btn-outline-wild-rose font-weight-bold" >Data & Computing</button>
    <button id="find" class="filter m-2 btn btn-outline-palouse-green font-weight-bold">Finding Information</button>
    <button id="research" class="filter m-2 btn btn-outline-clearwater font-weight-bold">Research</button>
    <button id="writing" class="filter m-2 btn btn-outline-pride-gold font-weight-bold">Writing & Citing</button>
    
    <select id="instructorList" class="form-select m-2" >
        <option value="">Filter by Instructor</option>
        {% for person in people %}
        <option value="{{ person }}">{{ person }}</option>{% endfor %}
    </select>

</div>

<div class="row mb-4 justify-content-center">
    <div class="col-md-8 text-center">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control form-control-lg" id="quicksearch" placeholder="Search ... " aria-label="Search"> 
            <div class="input-group-append">
                <button class="btn btn-pride-gold" type="button" title="Filter items" alt="Search" id="goButton">Search</button>
                <button id="reset" class="btn btn-outline-secondary">Reset</button>
            </div>
        </div>
    </div>
</div>

<div class="d-flex flex-wrap justify-content-center" id="contents-container">

    {% for e in expertise %}
    <div class="mx-1 mx-md-2 mb-3 circle-button {{ e.catid }}">
        <button class="font-weight-bold btn btn-circle btn-outline-{% case e.catid %}{% when 'data' %}wild-rose{% when 'find' %}palouse-green{% when 'research' %}clearwater{% else %}pride-gold{% endcase %}" data-bs-toggle="modal" data-bs-target="#{{ e.catid }}{{ forloop.index }}">
            <span class="search-contents">{{ e.subject | upcase | truncatewords: 5 }}
                <span class="d-none">{{ e.fullsubject }} {{ e.description }} {{ e.person }}</span>
            </span>
        </button>
    
        <!-- Modal -->
        <div class="modal fade" id="{{ e.catid }}{{ forloop.index }}" tabindex="-1" role="dialog" aria-labelledby="{{ e.catid }}{{ forloop.index }}ModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title h2" id="{{ e.catid }}{{ forloop.index }}ModalLabel">{{ e.fullsubject }}</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% if e.description %}<p>{{ e.description }}</p>{% endif %}
                        {% if e.emails %}
                        <p>The following individual(s) can instruct in this area:</p>
                        <div class="row justify-content-center">
                            {% assign emails = e.emails | split: ";" %}
                            {% for i in emails %}
                            {% assign p = people-table | where: 'email',i | first %}
                            <div class="col-6 col-sm-4 mb-2">
                                <div class="card">
                                    <img class="card-img-top img-fluid" src="{{ site.lib-media }}{% if p.image %}/directory/{{ p.image }}{% else %}/directory/tower_icon_gold_sq.png{% endif %}" alt="photo of {{ p.last_name }}">
                                    <div class="card-body text-center">
                                        <h5 class="card-title"><a target="_blank" rel="noopener" href="{{ '/about/people/' | relative_url }}{{ p.id }}.html" title="View the profile for {{ p.last_name }}">{{ p.first_name }} {{ p.last_name }}</a></h5>
                                        <p class="card-text">{{ p.title }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <a target="_blank" rel="noopener" class="btn btn-lg btn-pride-gold" href='https://uidaho.co1.qualtrics.com/jfe/form/SV_cYXmpZeggR7zCex?topic={{ e.subject | url_encode }}{% if e.emails %}&person={{ e.person | url_encode }}&email={{ e.emails | url_encode }}{% endif %}'>Request Instruction</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
   
</div>
