---
title: Collections
section: collections
layout: full-width-page
permalink: /collections/ 
lazyload: true
--- 

{% assign collections = site.data.collections_index %}

{% include collections-sm-nav.html %}

<p class="py-3">The University of Idaho Library facilitates access to many diverse collections. Explore collections that span a variety of topics and formats, including <a href="{{ '/collections/physical.html' | relative_url }}">physical</a> and <a href="{{ '/collections/digital.html' | relative_url }}">digital</a> campus resources as well as collections that preserve and document <a href="{{ '/collections/idaho.html' | relative_url }}">Idaho's</a> past.</p>

<div class="row justify-content-center">
    {% for c in collections %}
        <div class="col-md-4">
            <div class="card my-2">
                <div class="card-header text-center">
                    <h5 class="card-title font-weight-bold mb-0"><a href="{{ c.link | relative_url }}">{{ c.collection }}</a></h5>
                </div>
                <div class="card-body text-center">
                    <a href="{{ c.link | relative_url }}"><img class="card-img{% unless forloop.index < 4 %} lazyload{% endunless %}" {% unless forloop.index < 4 %}data-{% endunless %}src="{{ site.lib-media }}/collections/{{ c.img }}" alt="Card image"></a>
                    <hr>
                    <p class="card-text">{{ c.description }}</p>
                    <a href="{{ c.link | relative_url }}" class="btn btn-payette-blue" >View Collection</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>