---
title: Collections
section: collections
layout: page
permalink: /collections/ 
--- 

{% assign collections = site.data.collections-index %}

{% include collections-sm-nav.html %}

<p class="py-3">The University of Idaho Library facilitates access to many diverse collections. Explore collections that span a variety of topics and formats, including <a href="physical.html">physical</a> and <a href="digital.html">digital</a> campus resources as well as collections that preserve and document <a href="idaho.html">Idaho's</a> past.</p>

<div class="row justify-content-center">
    {% for c in collections %}
        <div class="col-md-5">
            <div class="card my-2">
                <div class="card-header text-center">
                    <h5 class="card-title font-weight-bold mb-0">{{ c.collection }}</h5>
                </div>
                <div class="card-body text-center">
                    <img class="card-img" src="https://www.lib.uidaho.edu/collections/{{ c.img }}" alt="Card image">
                    <hr>
                    <p class="card-text">{{ c.description }}</p>
                    <a href="{{ c.link | absolute_url }}" class="btn btn-payette-blue" target="_blank">View Collection</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>


<!-- original code
---
title: Collections
layout: default
permalink: /collections/ 
--- 
{% assign collections = site.data.collections-index %}
<div class="container">

    <h2>Collections</h2>

    <div class="row">
        {% for c in collections %}
        <div class="col-md-4 mb-2">
            <div class="card">
                <img class="card-img-top" src="https://www.lib.uidaho.edu/collections/{{ c.img }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ c.collection }}</h5>
                    <p class="card-text">{{ c.description }}</p>
                    <a href="{{ c.link | absolute_url }}" class="btn btn-payette-blue">View Collection</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
-->