---
title: Scholarly Collections
layout: page
section: collections
permalink: /collections/scholarly.html 
--- 

{% assign collections = site.data.collections-index %}

{% include collections-sm-nav.html %}

<div class="row justify-content-center">
    {% for c in collections %}
    {% if c.category == 'scholarly' %}
        <div class="col-md-5">
            <div class="card my-2">
                <div class="card-header text-center">
                    <h5 class="card-title font-weight-bold mb-0">{{ c.collection }}</h5>
                </div>
                <div class="card-body text-center">
                    <img class="card-img" src="https://www.lib.uidaho.edu/collections/{{ c.img }}" alt="Card image">
                    <hr>
                    <p class="card-text">{{ c.description }}</p>
                    <a href="{{ c.link | absolute_url }}" class="btn btn-payette-blue" target="_blank">View Collection</a>
                </div>
            </div>
        </div>
    {% endif %}
    {% endfor %}
</div>
