<!doctype html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    {% include head.html %}
  </head>

  <body>
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
     {% unless page.layout == 'floor-map' %}{% include top-bar.html %}
   {% include banner.html %}
    {% include main-nav.html %}{% endunless%}
    
    {{ content }}
    
      {% unless page.layout == 'floor-map' %}{% include footer.html %}{% endunless %}
    {% include ask-us.html %}
    {% include foot.html %}
  </body>

</html>