---
layout: default
---
<div class="container-fluid pt-2 pb-1" id="page-title">
    <div class="container">
        <h2>{{ page.section }}</h2>
    </div>
</div>
<div class="container-fluid" style="background:#e8e8e8">
    <div class="container" style="background:#fff">
        <main role="main" class="py-2 px-md-3">
            <!-- bread crumbs -->
            {% include breadcrumbs-page.html %}
            <!-- page content -->
            <h1>{{ page.title }}</h1>
            {{ content }}
        </main>
    </div>
</div>
