---
layout: default
---

<div class="container-fluid pt-2 pb-1" id="page-title">
    <div class="container">
        <h2>{{ page.title }}</h2>
    </div>
</div>
<div class="split-background">
<div class="container">
<div class="row">
    <div class="col-md-3 col-xs-12 px-sm-0">
    <!-- page nav / sidebar -->
    {% include page-nav.html %}
      <!-- page nav button -->
      <button class="btn btn-secondary d-md-none col-sm-12 px-sm-0" id="sidebarButton" type="button">
            <span class="fas fa-align-left"></span> Menu
        </button>
    </div>
    <!-- page -->
    <div class="page-block col-md-9 col-xs-12">

      
        <main role="main" class="py-2 pl-md-5">
        <!-- bread crumbs -->
        {% include breadcrumbs-page.html %}

        <!-- page content -->
        
            {{ content }}
        </main>

    </div>
</div>
</div>