---
layout: default
---

<div class="container-fluid pt-2 pb-1" id="page-title">
    <div class="container">
        <h2>{{ page.section }}</h2>
    </div>
</div>
<div class="split-background">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-8 px-0">
                <!-- page nav button -->
                <button id="mobilePageNav" class="btn btn-secondary d-md-none col-sm-12 px-0 rounded-0" type="button">
                    MENU <span class="fas fa-chevron-down"></span>
                </button>
                <!-- page nav / sidebar -->
                {% include page-nav.html %}
            </div>
            <div class="col-4 px-0 d-block d-md-none">
                <!-- ask us button -->
                <button id="askUsButtonMobile" class="btn btn-pride-gold d-md-none col-sm-12 px-0 rounded-0" type="button" data-toggle="modal" data-target="#askUsModal">
                Ask Us</button>
            </div>
            <!-- page -->
            <div class="page-block col-md-9 col-xs-12">

                <main role="main" class="py-2 pl-md-5">
                    <!-- bread crumbs -->
                    {% include breadcrumbs-page.html %}

                    <!-- page content -->
                    <h1>{{ page.title }}</h1>
                    {{ content }}
                </main>

            </div>
        </div>
    </div>
</div>