---
title: Borrow/Renew
section: Services
permalink: /services/borrow/
layout: page
---
<div class="card my-3">
  <div class="card-header text-center">
    <h2 class="card-title mb-0">Library Account</h2>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <p class="text-center"><a href="https://alliance-uidaho.primo.exlibrisgroup.com/discovery/account?vid=01ALLIANCE_UID:UID" class="btn btn-outline-pride-gold btn-lg my-2" ><span class="fas fa-sign-in-alt"></span> My Library Account</a></p>
      </div>
      <div class="col-md-9">
        <p>Log into your Library Account <em>(using your University of Idaho username and password)</em> to:</p>
        <ul>
          <li>Renew materials, review your loans, and make Summit requests online</li>
          <li>Access <a href="{{ '/find/articles.html' | relative_url }}">library databases</a> from anywhere in the world</li>
          <li>Use <a href="{{ '/services/ill/index.html' | relative_url }}">Interlibrary Loan / Rapido</a> and view your pending requests</li>
          <li>Use "Request" link on physical items to set up "Curbside Pick Up". You'll receive an email when your item is ready, with a link to reserve a pick up time slot during open hours, Monday to Friday (contact <a href="mailto:libcirc@uidaho.edu">libcirc@uidaho.edu</a> with questions!).</li>
        </ul>
        <p>Offline, use your Vandal Card to check out and renew Books, DVDs, and other materials from the library</p>
      </div>
    </div>
  </div>
</div>

<hr>

<h2 id="policies" class="pt-1 text-center">Library Account Policies</h2>

<div class="text-center">
  <a href="#card" class="btn btn-secondary btn-sm my-2">Library Card Info</a>
  <a href="#loanperiods" class="btn btn-secondary btn-sm my-2">Loan Periods</a>
  <a href="#fines" class="btn btn-secondary btn-sm my-2">Fines</a>
  <a href="#renew" class="btn btn-secondary btn-sm my-2">Renewal Options</a>
</div>

<h3 id="card" class="pt-4">How do I get a library card?</h3>

<h4 class="pt-2">Library Cards for Students, Faculty, and Staff</h4>

<p>Your Idaho Vandal ID card can be used as your library card to check out materials as well as to access your interlibrary loan account and other online materials. </p>

<p>If you have a valid University of Idaho network username and password, you will also be able to access databases like JSTOR, Web of Science and Academic Search Premier <a href="{{ '/services/distance.html' | relative_url }}" >from off campus</a> by using your University of Idaho username and password.</p>

<p><strong>Preferred Name:</strong> the Library circulation system used to check in and out materials can be updated to include a preferred name. Patrons interested in changing the name used on this system should inquire at the circulation desk or email <a href="mailto:libcirc@uidaho.edu">libcirc@uidaho.edu</a>. Please note campus systems that use the U of I single sign-on system will still display the legally registered name for your account.</p>

<h4 class="pt-2">Guest Library Cards</h4>

<p>Guest privileges are available to: </p>
<ul>
  <li>Idaho residents with photo ID (residents under 18 years old must have parent or guardian willing to establish a parent/child account)</li>
  <li>WSU faculty, staff, and students with WSU ID</li>
  <li>Summit Library members, who may use their home library's card</li>
</ul>
<p class="pb-3">Guests may borrow books, DVDs and other library materials. If you are not actively affiliated with the university, you will not have remote access to most electronic resources or to some library-specific services.</p>

<hr >

<h3 id="loanperiods">Loan Periods</h3>

<p>Generally, cardholders can borrow an unlimited number of items. Loan periods will vary depending on your status and the type of material being borrowed. Note, equipment can not be loaned to guest accounts.</p>

<div class="table-responsive my-3">
  <table class="table table-bordered my-3">
    <thead>
      <tr>
        <th scope="col">Type of Material</th>
        <th scope="col">Loan Period</th>
        <th scope="col">Renewals</th>
      </tr>
    </thead>
    <tbody>
      {% for m in site.data.services_loan_periods %}
      <tr>
        <td>{{ m.material }}</td>
        <td>{{ m.loan_period }}</td>
        <td>{{ m.renewal }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<hr>

<h3 id="fines">Fines and Late Fees</h3>

<p>The library no longer collects late fees or fines for items in our general collection as part of our commitment to equitable access to information and student affordability.</p>
<p>Some items in the library, such as <a href="{{ '/services/reserve/' | relative_url }}">print Course Reserves</a> or U of I Multimedia equipment, are exceptions to this policy and will continue to accrue late fees. In addition, the library will continue assessing lost item fees to patrons. Items move into lost status when they have not been returned 15 days after the assigned due date, at which time patrons are charged a $100 fee ($80 replacement item cost and $20 processing fee).</p>
<p>If you have questions about which items have late fees and which don't, or want to supply your own replacement copy, please contact our Access Services/Circulation Desk at 208-885-6559 and we'd be happy to assist you.</p>

<div class="table-responsive my-3">
  <table class="table table-bordered my-3">
    <thead>
      <tr>
        <th scope="col">Item Type</th>
        <th scope="col">Cost per Day</th>
        <th scope="col">Fine Cap</th>
        <th scope="col">Replacement Fee</th>
      </tr>
    </thead>
    <tbody>
      {% for i in site.data.services_loan_fees %}
      <tr>
        <td>{{ i.item }}</td>
        <td>{{ i.per_day }}</td>
        <td>{{ i.fine_cap }}</td>
        <td>{{ i.replacement_fee }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<hr >

<h3 id="renew">Renewing Library Materials</h3>

<p>Three options available for renewing:</p>
<ul>
  <li>Online at <a href="https://alliance-uidaho.primo.exlibrisgroup.com/discovery/account?vid=01ALLIANCE_UID:UID" >Your Library Account</a>, where you can also see what items are checked out to you and when they are due</li>
  <li>By telephone at <strong>(208) 885-6559</strong></li>
  <li>In person at the Circulation Desk (1st floor)</li>
</ul>

<p>To better ensure equal opportunity to use the library's physical items for the entire U of I community, checked out items may be renewed twice upon request, then must be physically returned to the Circulation Desk to be checked in. If the item is not otherwise requested or recalled, then it may be checked out again.</p>
